[2016-11-23 22:47] markbates opened #1 "Need GoDoc"

[2016-11-23 22:47] markbates opened #2 "Need README"

[2016-11-23 22:48] markbates opened #3 "Need `bind` function"
- [x] JSON
- [x] XML
- [x] HTML/Form

[2016-11-23 22:48] markbates opened #4 "Add Websocket support"

[2016-11-24 02:07] markbates opened #5 "Serve static files"

[2016-11-24 02:07] markbates opened #6 "Add template caching"

[2016-11-24 02:11] markbates opened #7 "add a wrapHandler function"

[2016-11-24 02:11] markbates opened #8 "add a wrapHandlerFunc fund"

[2016-11-24 02:52] #5 closed

[2016-11-24 02:57] #7 closed

[2016-11-24 02:57] #8 closed

[2016-11-24 14:58] #3 closed

[2016-11-25 21:44] #4 closed

[2016-11-27 15:59] markbates opened #9 "Add grift to the generator"

[2016-11-27 16:00] markbates opened #10 "Add pop/soda to the generator"

[2016-11-27 16:00] markbates opened #11 "Add refresh to the generator"

[2016-11-27 16:00] markbates opened #12 "add a cmd to run the app in "dev" w/ refresh"

[2016-11-27 16:00] markbates opened #13 "add a markdown renderer"

[2016-12-02 02:31] #1 closed

[2016-12-02 02:31] #9 closed

[2016-12-02 02:31] #10 closed

[2016-12-02 02:31] #11 closed

[2016-12-02 21:53] #12 closed

[2016-12-02 21:53] #6 closed

[2016-12-02 21:53] markbates opened #14 "Add a default 500 page"

[2016-12-02 21:53] markbates opened #15 "Add a pop transaction middleware to the "new" generator"

[2016-12-02 21:55] markbates commented on #15
[code]

[2016-12-02 21:57] markbates opened #16 "Add an "actions" generator"

[2016-12-02 21:57] markbates opened #17 "Don't write test.log files when running tests"

[2016-12-07 16:24] #2 closed

[2016-12-07 16:24] #15 closed

[2016-12-07 16:24] markbates opened #18 "add web pack to the "new" generator"

[2016-12-07 16:24] markbates opened #19 "add a form generator to helper"

[2016-12-07 16:26] markbates opened #20 "add a `grift test` task"
this should run a `test:db:prepare` task as well

[2016-12-07 16:26] markbates opened #21 "Generate a Procfile in the `new` generator"

[2016-12-07 16:33] markbates opened #22 "Add a test helper equivalent of the PopTransaction middleware"

[2016-12-07 16:38] markbates opened #23 "Add "jQuery" to the "new" generator (optional)"

[2016-12-07 16:38] markbates opened #24 "Add "bootstrap" to the "new" generator (optional)"

[2016-12-07 23:11] #23 closed

[2016-12-07 23:16] #21 closed

[2016-12-09 17:13] markbates opened #27 "replace httprouter with gorilla mux"

[2016-12-09 20:10] #27 closed

[2016-12-09 21:56] markbates opened #29 ""grift release" should run the "docker CI" first."

[2016-12-09 21:58] #29 closed

[2016-12-10 20:17] markbates opened #31 "Add support for mapping "Resources""

[2016-12-10 21:38] #31 closed

[2016-12-10 21:38] markbates opened #32 "Add the functions from https://github.com/markbates/inflect as helpers"

[2016-12-10 21:38] markbates opened #33 "Add some functions from the strings package as helpers"

[2016-12-10 23:50] #32 closed

[2016-12-10 23:50] #33 closed

[2016-12-11 17:10] markbates opened #35 "generate a README.md for new projects"

[2016-12-11 17:10] markbates opened #36 "generate a default .travis.yml file for new projects"

[2016-12-11 17:11] markbates opened #37 "generate a default .codeclimate.yml file for new projects"

[2016-12-11 17:15] markbates opened #38 "Run gofmt on generated code"
`gofmt -w .`

[2016-12-11 17:15] markbates opened #39 "generated code should pass govet and golint"

[2016-12-11 17:35] #39 closed

[2016-12-11 17:35] #38 closed

[2016-12-11 21:09] markbates opened #41 "Add a "resource" generator"

[2016-12-11 21:09] markbates opened #42 "Improve resource generator to also generate the model and migration"

[2016-12-11 21:10] markbates opened #43 "Improve resource generator to insert the resource into actions/app.go"

[2016-12-11 21:48] #24 closed

[2016-12-11 21:48] #41 closed

[2016-12-12 19:01] markbates opened #44 "Procfile should use the project name by default"

[2016-12-12 19:03] markbates opened #45 "Add NewRelic middleware"
[code]

[2016-12-12 19:06] markbates opened #46 "define ENV at the top of actions/app.go"
[code]

[2016-12-12 19:14] markbates opened #47 "PORT should be settable via an ENV var"
[code]

[2016-12-12 20:02] #44 closed

[2016-12-12 20:02] #45 closed

[2016-12-12 20:02] #46 closed

[2016-12-12 20:02] #47 closed

[2016-12-12 21:00] markbates opened #49 "generate js & css files into sub directory of assets"

[2016-12-12 21:19] #49 closed

[2016-12-12 23:03] markbates opened #52 "generate SHOULDERS.md when deploying a new release."

[2016-12-13 00:31] #13 closed

[2016-12-13 00:31] #52 closed

[2016-12-13 00:37] markbates opened #54 "add template caching"

[2016-12-13 15:50] markbates opened #55 "markdown rendering breaks some raymond parsing"
give this template:

[code]

markdown renders:

[code]

which breaks the lexer/parser of raymond.

[2016-12-13 15:51] #55 closed

[2016-12-13 18:57] #54 closed

[2016-12-13 19:24] markbates opened #58 "`buffalo db` should forward to `soda`"

[2016-12-13 19:24] markbates opened #59 "`buffalo task` should forward to `grift`"

[2016-12-13 22:45] #58 closed

[2016-12-14 15:53] webRat opened #61 "Go Get Errors"
Helping a friend/coworker setup for Gophercon tasks. The Gopheracademy gcon documentation says, `Start server by typing: buffalo dev`

I tracked buffalo to this repo. If I `go get` this repo, I'm presented with the following errors:

[code]

Using `go get github.com/markbates/buffalo/...` doesn't fair any better and presents even more errors.

If I had to guess as to what the issue is, I think you

[2016-12-14 16:01] markbates commented on #61
@webRat I just ran the following in a clean docker container:

[code]

and everything seemed to work just fine.

[2016-12-14 16:03] markbates commented on #61
It feels like an environmental issue on you machine. You're missing several packages, based on your original issue.

What version of Go are you using? Maybe it's a problem with an old version of Go, but I doubt it. My gut says it's your ENV.

[2016-12-14 16:10] webRat commented on #61
[code]

[2016-12-14 16:11] markbates commented on #61
lol! yeah, i would definitely suggest that. :)

[2016-12-14 16:12] webRat commented on #61
I'm so used to using go in a docker container that I haven't upgraded my local machine in forever. Let me upgrade and report back. Sorry for the run around.

[2016-12-14 16:21] webRat commented on #61
I upgraded and restarted my machine for good measure.

I blew away the existing `github.com/markbates` and `github.com/pkg`. I did the following:

[code]

That being said, I typed `buffalo` and finally got a working command prompt. So, I'll close this, since the error above is a warning. ¯\_(ツ)_/¯

[2016-12-14 16:21] #61 closed

[2016-12-14 16:22] markbates commented on #61
Yay!

[2016-12-18 22:31] markbates opened #63 "Add a REPL/console"
https://github.com/motemen/gore

[2016-12-18 22:39] #63 closed

[2016-12-19 02:18] markbates opened #65 "Add a generator for Goth"
`github.com/markbates/goth`

[2016-12-19 02:19] markbates opened #67 "running multiple `buffalo` commands causes a "timeout""

[2016-12-19 02:22] markbates commented on #67
This might be an issue with `github.com/spf13/cobra`

[2016-12-19 02:26] #65 closed

[2016-12-19 20:46] corylanou opened #70 "Log should output host:port when starting up"
This is helpful for the first time users of the command `buffalo dev` that aren't rails developers :-).

[2016-12-19 20:57] #70 closed

[2016-12-21 20:16] #18 closed

[2016-12-21 21:01] #43 closed

[2016-12-21 21:02] markbates commented on #43
This is no longer an issue as it adds the resource to the app from within the resource file itself.

[2016-12-22 15:16] markbates opened #72 "groups on groups should inherit the prefix of the previous group"

[2016-12-22 15:16] #72 closed

[2016-12-29 16:40] intabulas opened #73 "Export goGet and goInstall from cmd package"
In playing around with buffalo I noticed that the goth generator doesn't install the two deps (goth and oauth) when the generator is run.  Unfortunately goGet and goInstall are not exported in the cmd package.

Instead of generating hard coded exec.Command's for a PR ie:

[code]
 it would be nice/cleaner to use goGet in the goth generator to install the dependencies

[2016-12-29 16:42] markbates commented on #73
Sounds reasonable. Can you open a PR?

[2016-12-29 16:52] intabulas commented on #73
unfortunately it creates a circular dependency :(

[2016-12-29 16:53] markbates commented on #73
Boo. :( What about moving it to the `generate` package?

[2016-12-29 16:54] intabulas commented on #73
Yeah that is what I am doing now for a PR

[2016-12-29 17:08] intabulas commented on #73
So only thing I dont like is the namespace conflict in the soda generator (it imports another generate package) so I did a named import
[code]
and it doesn't feel clean to me. I could just leave the old goGet/goInstall in cmd package and have it call generate.GoGet (for example), but it would have to move to a new file since new.go imports the same soda generate

[2016-12-29 17:34] #73 closed

[2016-12-29 17:46] intabulas opened #75 "Goth generator does not install required dependencies"
When you use the goth generator ex:
[code]
The two required dependencies ```github.com/markbates/goth``` and ```github.com/mrjones/oauth``` are not installed by default which will cause the server to crash

[2016-12-29 17:48] markbates commented on #75
Didn't you just fix this? I'm confused.

[2016-12-29 18:13] intabulas commented on #75
Yeah I was just being clean and not mixing the actual change to the generator with exporting Go*

[2016-12-30 14:13] markbates commented on #75
closed by #78

[2016-12-30 14:13] #75 closed

[2016-12-30 15:00] briandowns opened #79 "Error When Generating Goth Code"
[code]

[2016-12-30 15:01] markbates commented on #79
Try pulling down the latest version of github.com/markbates/gentronics. I reverted a change this morning that wasn't meant to be pushed to master. It'll solve this.

[2016-12-30 15:01] #79 closed

[2016-12-30 15:12] briandowns commented on #79
That's super strange. I had the latest pulled I had thought. Maybe just not installed. Anyway, working great now. Thanks.

[2016-12-31 05:22] briandowns commented on #36
Should there be a flag similar to `--db-type` for CI provider? e.g. `--ci-provider` and support Travis and Circle out of the box? Maybe add others depending on demand?

[2016-12-31 05:45] markbates commented on #36
That seems like a good idea.

[2016-12-31 17:20] briandowns commented on #35
Resolved via #82

[2016-12-31 19:24] briandowns commented on #37
Resolved via #83

[2017-01-05 06:18] briandowns opened #84 "Export fileResolver Field in Render Options Struct"

[2017-01-05 16:51] #84 closed

[2017-01-05 16:51] #37 closed

[2017-01-05 16:51] #35 closed

[2017-01-05 23:44] bscott opened #86 "Buffalo dev not starting"
Tried a sample app and getting the following when visiting "localhost:3000". I made sure I have no other instance of Postgres running.

[code]

[2017-01-05 23:47] markbates commented on #86
It looks like your Postgres is not running, or not on 5432.

It's also possible that the username and/or password is wrong in the database.yml file.

You could use SQLite as well, or MySQL, they're all supported.

[2017-01-05 23:48] markbates commented on #86
You should also run `buffalo db create -a` that will create all of the databases defined in your database.yml, assuming it can connect.

[2017-01-05 23:48] bscott commented on #86
ah so this brings up a good question, am I responsible for starting my own Postgres/SQL.. i was under the assumption that Buffalo does that ( like with rails server )

[2017-01-05 23:50] bscott commented on #86
I was going to use Docker for Postgres Dev

[2017-01-05 23:50] markbates commented on #86
Rails doesn't start up, or create databases for you. If offers tools like `rake db:create:all` you're still responsible for having everything running.

[2017-01-05 23:51] markbates commented on #86
As long as you can connect to it like any other pg database you should be good.

[2017-01-05 23:51] bscott commented on #86
That's right, ok thanks @markbates for the quick response.

[2017-01-05 23:52] markbates commented on #86
Let me know if you have any other issues. I'm closing this for now.

[2017-01-05 23:52] #86 closed

[2017-01-05 23:56] bscott opened #87 "typo in generated database.yml?"
I came across this in database.yml generated by the new command and wanted to make sure it's not a typo..

[code]

envOr ??

[2017-01-05 23:58] markbates commented on #87
Not a typo. It's a helper function. It looks for an ENV var. if it isn't found it'll use the default. Useful for production.

[2017-01-05 23:58] #87 closed

[2017-01-06 00:10] bscott commented on #87
@markbates Thanks

[2017-01-06 00:24] bscott opened #89 "Buffalo Docker Image"
Since I'm starting out with Buffalo today, thought it would be nice to have a Docker image to build with, created a Repo and Hub Repo if anyone decides to contribute. Should have a working build image shortly.

https://github.com/bscott/buffalo-docker
https://hub.docker.com/r/bscott/buffalo/

[2017-01-06 00:55] markbates commented on #86
Thanks to you for this issue. Because of it I've improved the docs around DB stuff: http://gobuffalo.io/docs/db

[2017-01-06 01:07] bscott commented on #86
Also after using buffalo db create -a, I still had to. Tests the databases
manually, the command gave no error output.
On Thu, Jan 5, 2017 at 4:55 PM Mark Bates <notifications@github.com> wrote:

[2017-01-06 01:49] bscott commented on #86
Also @markbates, after using ```buffalo db create -a``` , I still had to create the databases
manually, as the command gave no error output but ```buffalo dev``` still complained that the database didn't exist.

just this:

[code]

[2017-01-06 13:22] slava-vishnyakov opened #91 "[minor] dev mode on non-buffalo project results in panic"
if you try to run `buffalo dev` in a directory where there is no Buffalo project, it results in panic

[code]

Probably it would be better to show some kind of an error message?

[2017-01-06 16:31] #91 closed

[2017-01-06 17:35] briandowns commented on #36
I have a branch started to complete the default travis file but if the additional flag is an acceptable approach, I'd like to include that as well.  Also, was hoping for feedback on implementation: cobra command to generate the `buffalo g` flags mentioned above.

[2017-01-06 17:37] markbates commented on #36
If there's only CI we don't need a flag, for now. When we want different CI files, then we can add a flag.

There are plenty of examples of how to use flags in the cmd directory.

[2017-01-06 17:41] briandowns commented on #36
I can add that flag functionality for different CI providers in this branch if you want.  Your call. :)

[2017-01-06 17:47] markbates commented on #36
I'd love it if you feel comfortable enough generating files for other CIs!

[2017-01-06 17:50] markbates commented on #36
Those two would be great! Wercker would be awesome as well,  if you can get to it.

[2017-01-07 15:30] apaganobeleno commented on #16
@markbates i'm loving buffalo, this is awesome, thanks for taking the lead on this web framework.
Regarding this issue, what do you think should be the output of running

[code]

should there be one action per file inside actions folder ? if so, should  create a new file with
`myNewAction` handler ?

[2017-01-07 16:11] markbates commented on #16
Glad you like it!

Here's what I was thinking:

`buffalo g action users show foo bar etc…`

That would create `n` files:

[code]

If `actions/users.go` exists it should append to the file. That file would have the actions:

[code]

A test asserting the template is rendered would be great as well.

The template should just be something like:

[code]

Hopefully that all makes sense. I'm typing on my

[2017-01-07 16:12] markbates opened #94 "Add support for mail"

[2017-01-07 16:13] markbates opened #95 "Add support for background jobs"
It would be great to have an interface to talk to, so people can bring their own background job systems.

By default I would like to ship with one that is compatible with SideKiq.

[2017-01-07 16:15] markbates opened #96 "Add a form builder helper"
Bonus points for it to be swapped out for one that generates bootstrap markdown.

Useful things are:

* Support for "models" and the gorilla scheme package
* error handling
* bootstrap
* csrf

[2017-01-07 16:22] markbates opened #97 "Ship webpack with testing set up"
Making testing of JavaScript a first class citizen and encouraged.

[2017-01-07 17:16] apaganobeleno opened #99 "SHOULDERS update & grift task"
@markbates i noticed the SHOULDERS doc still list `raymond` and given there is a commit that says it has been changed to mention `velvet` instead i was going to send a PR by running the `shoulders` grift but when i try to do it the grift task seems to be dependent on your personal repo

[code]

should i send a PR moving this to be

[code]

and running the shoulders task to update the shoulders doc

[2017-01-07 17:20] markbates commented on #99
D'oh! Yeah, that should be switched to "gobuffalo" not "mark bates".

Raymond is stilled being used for its parser lexer in velvet.

[2017-01-07 17:57] #99 closed

[2017-01-07 19:00] markbates commented on #19
dup of #96

[2017-01-07 19:00] #19 closed

[2017-01-07 19:00] markbates commented on #17
Fixed with #101

[2017-01-07 19:00] #17 closed

[2017-01-07 19:00] markbates commented on #59
Closed with #98

[2017-01-07 19:00] #59 closed

[2017-01-08 14:32] apaganobeleno commented on #16
@markbates thanks for the explanation on this one its now very clear. I have a question about how to continue with the PR now that i'm contributor, should i send a PR from buffalo's repo or continue sending PR's from my fork?.

Also on another news i've started writing some test cases for this one on `features/actions-generators` i'll keep you posted, but if you have the chance please let me know

[2017-01-08 15:45] markbates commented on #16
It's up to you whether you would like to create branches here or your fork. Either is fine with me. Just never push directly to master. :)

[2017-01-09 02:34] bscott commented on #95
maybe? https://www.goworker.org/

[2017-01-09 21:06] markbates opened #104 "missing "public/assets" box on new app without webpack"
After creating a new application with the `--skip-webpack` flag, the application panic's when you start it up:

[code]

[2017-01-10 02:47] markbates commented on #16
Closed with #103

[2017-01-10 02:47] #16 closed

[2017-01-10 02:49] markbates opened #105 "Need a way to easily add "routes" when generating files."
When running something like `buffalo g resource` or `buffalo g actions` it would be nice to able to add those to the routes defined in the `actions/app.go` file.

I propose some sort of function in the `generate` package, probably, that can be called, that properly parses the `actions/app.go` file and allows for the inserting of routes where applicable.

[2017-01-10 02:53] apaganobeleno commented on #105
@markbates i would love to give this one a shot, more since this was the bonus part of #16, really enjoying what i'm doing, thanks for the chance.

[2017-01-10 02:54] markbates commented on #105
I'm loving the help!! Thanks!

[2017-01-10 03:47] #104 closed

[2017-01-10 20:53] kevin-cantwell opened #108 "buffalo new <project> fails looking for golang.org/x/tools/go/gcimporter"
I always get this error trying to create a new project:

[code]

The current package name in the tools repo is `golang.org/x/tools/go/gcimporter15`. It looks like buffalo is only compatible with older versions.

[2017-01-10 21:05] markbates commented on #108
It looks like you're using home brew, is that correct?

Buffalo is tested using Go 1.7 and tip, so it's definitely compatible with the latest versions of Go.

I, personally, have always had a number of problems using home brew for Go development. Downloading the prebuilt packages from golang.org have never caused these sorts of problems.

Can you try using one of those packages? Or using docker?

[2017-01-10 21:42] markbates commented on #108
I fond this issue in the gore project:

https://github.com/motemen/gore/issues/63

Can you try updating your local copy of gore, that might be it.

[2017-01-10 22:20] kevin-cantwell commented on #108
@markbates Thank you, updating gore did the trick! I'm off and running again 💯

[2017-01-10 22:21] markbates commented on #108
Woot!! I'll add this to the docs on gobuffalo.io. Thanks!

[2017-01-10 22:21] #108 closed

[2017-01-11 03:14] apaganobeleno commented on #105
i've been thinking a bit about this one before implementing it, wanted to describe the solution before i implement it to see if we can find any issues to the solution i've been thinking on, i've came with a solution to determine where to place the new route by using `ast` :

https://play.golang.org/p/lCW9eqBr4l

However for me it feels a sensible to the changes we could have on the app.go file, pl

[2017-01-11 07:21] slava-vishnyakov opened #110 "In `production` mode Buffalo/Velvet templates show traces"
My `GO_ENV` is `production` and I have `{{name}}` in template (`name` is undefined), when I hit the page - I see this:

[code]

Which is a valid error, but again, my `GO_ENV` is `production`.

My opinion is that the errors should only be seen in development mode, not in others.

(The error should be logged, of course)

[2017-01-11 14:26] curtisallen opened #111 "Error installing buffalo."
I have a proper gopath setup (I'm a go developer). I'm unable to install buffalo

[code]

Looks like https://github.com/mattn/go-zglob/commit/760b124c0122b6d6df6e29c8e4074ac84b831d20 is the culprit

[2017-01-11 14:29] markbates commented on #111
Looks like @mattn broke his package a few minutes ago. Looks like he's missing a sub package that he's referencing.

I'll open an issue on his repo.

[2017-01-11 15:41] markbates commented on #111
Looks like @mattn fixed this. So it should be good now.

[2017-01-11 15:41] #111 closed

[2017-01-11 15:47] curtisallen commented on #111
Confirmed able to go get buffalo now thanks!

[2017-01-12 03:51] bscott opened #113 "Buffalo sub-commands unavailable"
I've noticed that when I an running "buffalo dev" some sub-commands give a timeout error such as the generators, until I stop the buffalo dev server.

[code]

[code]

Is this due to the generators needing access to the database?

[2017-01-12 03:52] apaganobeleno commented on #113
may this be related with #67 ?

[2017-01-12 04:07] bscott commented on #113
Thanks @apaganobeleno

[2017-01-12 08:46] slava-vishnyakov commented on #110
Actually it would be great to be able to control all kinds of debug behavior with something like this (instead of relying on `development`):

	app = buffalo.Automatic(buffalo.Options{
		Env: ENV,
		Debug: ENV == 'development',
	})

[2017-01-12 08:49] slava-vishnyakov opened #114 "Warn user about SESSION_SECRET variable?"
Frankly it seems to me that it's really dangerous to run without SESSION_SECRET, so I have this in app.go

[code]

But probably something nicer, like a warning should be shown by default to new users if they don't have SESSION_SECRET set, like maybe:

[code]

[2017-01-12 11:05] slava-vishnyakov opened #115 "go.rice requirement in build"
The docs say:

[code]

However, when I try to run the resulting binary, I get:

[code]

which traces back to

[code]

It seems that:

1) `go.rice` binary is not installed;
2) this error is ignored during `build`: https://github.com/gobuffalo/buffalo/blob/master/buffalo/cmd/build.go#L129

I'd say that probably this need to have an error that `rice` is not installed / executable, maybe something lik

[2017-01-12 11:06] slava-vishnyakov commented on #115
(And BTW, I ❤️ GoBuffalo! It's definitely the most usable framework I've seen in Go)

[2017-01-12 12:05] markbates commented on #115
That `err` is not ignored, it's quite the opposite. If that error is `nil` it means rice is installed and we can continue. The error you're getting is this:
https://github.com/gobuffalo/buffalo/issues/104

It's fixed in the upcoming release.

[2017-01-12 12:05] #115 closed

[2017-01-12 12:06] markbates commented on #114
PRs are welcome.

[2017-01-12 12:07] markbates commented on #113
Closing as a dup of #67

[2017-01-12 12:07] #113 closed

[2017-01-12 13:26] fooflare opened #116 "Default js and css file when webpack is skipped"
I have created a branch in my fork with these 2 default files when webpack is skipped during new project process. I think this is a good idea because in the template they are linked in any case. I added some style to the default page to look a bit similar to the webpack one (no responsive nor font-awesome), just to avoid the big image and the text at the end of the page :). Have a look at it and i

[2017-01-12 13:31] markbates commented on #116
I like it. Please submit a PR.

The logo should only be generated in `assets` if using webpack, and `public/assets` if not. If it's putting it in both places during app generation, it's a bug.

Webpack copies everything over from the assets to the public/assets folder during compilation.

[2017-01-12 13:40] fooflare commented on #116
In the case of webpack generation, it is saved just in assets as you say, but in the case you skip webpack, it is saved in both folders, one in app_generators and the other in webpack. Then I can remove the one in the app_generators if you want.

[2017-01-12 13:43] markbates commented on #116
That would be great!

[2017-01-12 14:14] #116 closed

[2017-01-12 16:43] #114 closed

[2017-01-12 20:49] yageek opened #120 "Installation error"
I just installed the last version of `buffalo` and I have the following error after calling `buffalo new coke`:

[code]
I'm using `go version go1.7.3 darwin/amd64`

[2017-01-12 20:52] markbates commented on #120
It looks like a problem with `goimports`. Perhaps try to recompile `goimports` with the latest version of it, and see if that helps.

[2017-01-12 21:04] yageek commented on #120
I just updated both `go` and `goimports` and it seems to work. Any option to avoid those errors during the installation?

[2017-01-12 21:07] markbates commented on #120
If `goimports` isn't installed, then Buffalo defaults to using `go fmt`. In this case it looks like you just had a corrupted, or an out of date installation of it. I've never seen `goimports` panic like this before. You may want to consider opening an issue with that project with this stack trace, see if Brad has any ideas as to why that happens.

[2017-01-12 21:07] #120 closed

[2017-01-12 21:45] #110 closed

[2017-01-13 03:51] apaganobeleno commented on #36
@briandowns are you working on this one ? i have some time to give it a shot, but if you're working on it prefer you to complete it :)

[2017-01-13 04:30] apaganobeleno opened #123 "Tests only running in latest stable Go version"
I think i've found an issue with the Dockerfile and buffalo's travis configuration, while we're apparently running our tests on go 1.7 and latest, it seems that given we're running our tests by building our Dockerfile we're actually using the latest stable rather than the versions travis sets outside the docker image.

I changed our Dockerfile to print the Go version thats running when we execute

[2017-01-13 06:12] slava-vishnyakov commented on #110
Awesome! Thanks!

[2017-01-13 06:13] slava-vishnyakov commented on #115
Excellent! Thank you for all your work! 👍

[2017-01-13 08:06] howdoicomputer opened #124 "build_path does not work for Windows"
`/tmp` doesn't exist on Windows but, instead, a Windows equivalent exists at `C:\Users\%USERNAME%\AppData\Local\Temp`.

If you try to change `build_path` to a Windows formatted directory path...

[code]

This affects `buffalo dev` but, understandably, `buffalo build` still works.

[2017-01-13 10:42] kirillDanshin opened #125 "React+Babel+webpack generator"
Can you add a react+babel+webpack boilerplate generator?

also, it's not an issue, but can you send a PR with buffalo link to awesome-go?

[2017-01-13 11:27] markbates commented on #125
Yes to the second question.

As to the first, I don't do react, so I'm not the most qualified to set it up. PRs are welcome.

[2017-01-13 11:30] markbates commented on #124
I would love a PR for this, since I'm not on windows.

The problem most likely exists in http://github.com/markbates/refresh

[2017-01-13 11:32] markbates commented on #123
That would make total sense! Why didn't I think about that?

It can probably be fixed by passing in an ENV. Care to take a crack at it?

[2017-01-13 11:39] stuartellis opened #126 "Channel for community chat"
It would be great to have an advertised Gitter or Slack channel for folks to be able to talk about Buffalo.

[2017-01-13 11:46] markbates commented on #126
There is a slack channel, #buffalo, on gophers.slack.com. Come join us!

I will add a link to http://gobuffalo.io.

[2017-01-13 12:04] kirillDanshin commented on #125
@markbates ok, I'll do it, assign this issue to me.

ping me, when you'll send the PR to awesome-go, I'll merge it.

[2017-01-13 12:04] howdoicomputer commented on #124
@markbates https://github.com/markbates/refresh/blob/master/cmd/init.go#L20

It so does. I wouldn't mind drafting a PR against that repo sometime this weekend or the next.

[2017-01-13 12:10] howdoicomputer opened #127 "velvet rendering interferes with ember/turn off velvet"
So I'm playing with this thing and I'm wondering how to set all this up so that Ember.js handles front-end interactions and Buffalo just handles JSON CRUD.

A problem that I'm coming up with is that the Velvet template engine uses `{{blah}}` as an interpolation syntax. What if... I don't want that? Beego has a similar issue: https://github.com/astaxie/beego/issues/163

Thoughts?

[2017-01-13 12:15] markbates commented on #127
Can you open an issue on github.com/gobuffalo/velvet to add support for changing the delimiters? That would be great.

In the meantime, you don't have to use velvet, if you don't need it.

It's remarkably easy to write you're own custom renderer:

https://github.com/gobuffalo/buffalo/blob/master/render/renderer.go

[2017-01-13 12:27] howdoicomputer commented on #127
@markbates Done. Is there a way to 'disable' Velvet without changing Buffalo's source? So that Buffalo only serves static assets?

[2017-01-13 12:29] markbates commented on #127
Not sure I understand. If you don't want to use velvet, just don't use the r.HTML or r.Template functions from the render package.

Buffalo supports serving static files. Look in actions/app.go for an example.

[2017-01-13 12:30] tijs opened #128 "Installation on macOS fails at go-sqlite3 step"
versions:

go version go1.7.4 darwin/amd64
macOS Sierra 10.12.2 (16C67)

issue:

when running the `go get -u github.com/gobuffalo/buffalo/buffalo` install command on my machine it fails at the build step for one of the dependencies. Resulting in an unfinished install and buffalo not being built.

stackstrace:

[code]

[2017-01-13 12:32] markbates commented on #128
It looks like you're missing the OS X developer command line tools or your SQLIte is out of date.

[2017-01-13 13:10] tijs commented on #128
I have the developer command line tools installed (i use xcode quite a bit) but i might indeed lack a recent SQLite install. I have the builtin macOS sqlite installed:

SQLite version 3.14.0 2016-07-26 15:17:14

tried again just now after installing the latest sqlite3 with brew but that did not help either. Maybe i'm misreading the trace above and while sqlite just gives the warning the real issue

[2017-01-13 13:13] markbates commented on #128
Interesting. A quick google brought up this issue https://github.com/golang/go/issues/9411

[2017-01-13 13:22] tijs commented on #128
I run into the same issue when i try and install with `go1.8rc1 get -u github.com/gobuffalo/buffalo/buffalo` so if it's a go issue it's not solved yet. I assume i can fix it with different build settings, just never ran into this before. I'll try some things and report back if i find the root cause.

[2017-01-13 13:29] markbates commented on #128
Yeah, I haven't seen this issue before. It's very strange. There's something that we're both missing.

[2017-01-13 13:35] apaganobeleno commented on #123
@markbates sure, i would like to. just to confirm, would you like to continue running our tests with docker build or do you think we should try running these inside travis directly ?.

i'm thinking on how to determine the docker image to base ours (by setting the ENV) and doesn't seem easy given go version output wont match Go docker images tags.

Any reason why not to run these on travis ? (outsi

[2017-01-13 13:53] markbates commented on #123
The big reason why i was using docker, was because a) it was easier to get set up than Travis b) i could run the docker file locally when trying to smoke test and figure out why it was failing on Travis.

[2017-01-13 14:08] markbates commented on #125
@kirillDanshin here's the PR for awesome-go https://github.com/avelino/awesome-go/pull/1258

[2017-01-13 14:20] apaganobeleno commented on #123
oh, thats a good reason, one thing i didn't know is we can define env variables per (Go in our case) version inside travis, i'll keep you posted on how it goes, thanks for the explanation @markbates.

[2017-01-13 15:35] #126 closed

[2017-01-13 16:04] #124 closed

[2017-01-13 17:46] stuartellis commented on #126
Thanks, @markbates.

Just to note that you need to visit https://invite.slack.golangbridge.org/ to get an invitation to the Gophers Slack, which unfortunately isn't linked to on the Slack login page itself (it just says "contact the administrators to get an invitation").

[2017-01-13 21:27] iepathos opened #133 "Go package dependencies are untracked"
Need something like github.com/tools/godep added so go package dependencies are explicit and easy to install with something like godep update

[2017-01-14 04:50] bscott commented on #128
I tried to reproduce on my Mac, I was able to install just fine in both cases, on my other mac missing xcode Developer tools from App Store,  shows me the same error.

[2017-01-14 05:18] #123 closed

[2017-01-14 10:58] bscott opened #135 "Problem starting "buffalo dev" server"
**Problem:**

When executing command to start local buffalo dev server, get an error when expecting normal start.

**Output:**
[code]

**Details:**
Go Version: 1.7.4
Buffalo Version: 0.7.1
MacOS: Sierra ( 10.12.1 )

[2017-01-14 12:38] tijs commented on #128
@bscott ugh! i did do another `xcode-select -install` just to be sure. double checked eveything was installed and still could not get it to run. today i restarted my mac just to be sure and now it works like a charm. sorry for the wild goose chase. will close the ticket!

[2017-01-14 12:38] #128 closed

[2017-01-14 19:21] bscott commented on #135
After doing some digging with @markbates, the local station I was on did not have Node or NPM installed.

Following these steps resolved my issue:

[code]

I'll be submitting a PR to add more context to this error "Unknown"

**Reference:**
https://github.com/gobuffalo/buffalo/blob/master/buffalo/cmd/dev.go#L80

[2017-01-14 20:24] #135 closed

[2017-01-15 00:33] markbates commented on #127
Did a bit of digging on this. The parser/lexer that velvet uses, doesn't allow for changing the delimitators, so it's a bigger challenge than I originally thought.

However, all hope is not lost!

I have two "workarounds" for you. The first is to just serve up a static file. Just like assets, it's easy, and probably the perfect fit.

The second, if you perhaps want to "pre-populate" data is to esc

[2017-01-15 03:09] howdoicomputer commented on #127
@markbates Yeah, it was actually kind of a stupid question, to be honest. I was pretty sleep deprived at the time. I can just serve straight HTML.

So, basically, what I'm trying to do is use Buffalo as a backend CRUD API and then have Ember.js as a frontend. That said, baking the public assets in via `buffalo build` has been somewhat problematic.

However, I can pretty easily get this working usi

[2017-01-16 13:37] apaganobeleno opened #139 "Flash"
@markbates how do we deal with Flash when using Buffalo ? something like:

[code]

would be great to have, thoughts ?

[2017-01-16 14:05] markbates commented on #139
A flash object would be great. Would love to see a proposal on how it would be done. From handler down to template.

[2017-01-16 14:23] apaganobeleno commented on #139
Great, i'll work on that propose and keep you posted, thanks!

[2017-01-16 17:31] oren commented on #135
I am getting this error:
[code]

Can you please explain step 3?

[2017-01-16 18:02] fooflare commented on #135
Hi,
the problem is you have not installed webpack. Have you nodejs and npm installed in your system?

[2017-01-17 02:58] bketelsen commented on #139
yes!!

[2017-01-17 03:02] bscott commented on #139
+1

[2017-01-17 06:29] oren commented on #135
I installed webpack using this command
[code]

npm list -g | grep webpack
[code]

node --version
[code]

npm --version
[code]

also, i am getting permission denied when I try to create new project:
[code]

I think it's because i have to use sudo when i install global npm packages.

[2017-01-17 06:32] bscott commented on #135
@oren Try installing webpack without sudo, this would install locally in your buffalo project in node_modules directory but other then that, you may have some permission issues.

I've seen this issue before with Ubuntu and NPM

[2017-01-17 06:44] oren commented on #135
the problem is i don't have any folder. the new command is the one failing.

[2017-01-17 06:48] fooflare commented on #135
If you have access problems to webpack, it is possible you have no permission  to read the file. You can check it with: ls -l /usr/lib/node_modules/webpack.
Here you have  the official npm doc page about how to solve permisión issues: https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2017-01-17 06:59] oren commented on #135
Yes, in Ubuntu you have to use sudo when installing global npm packages. I think the reason is that /usr/lib/node_modules is `drwxr-xr-x  19 root root`

ls -l /usr/lib/node_modules/webpack/
[code]

[2017-01-17 07:09] oren commented on #135
@fooflare your link solved it.
[code]

now it's running and i am getting `dial tcp 127.0.0.1:5432: getsockopt: connection refused` but that's a different issue. I'll do some more reading before submitting another ticket.

Thanks!

[2017-01-17 07:17] fooflare commented on #135
That error means you have to configure your postgresql connection in database.yml and have a postgresql instance running. Have you it installed?

[2017-01-17 07:20] oren commented on #135
i didn't configure anything. i just followed the readme assuming that the default will just work (probably using embedded db like sqlite or bolt) (:

[2017-01-17 07:21] bscott commented on #135
By default the database.yml use Postgres, since your on Ubuntu, Docker may be a good option for you.

[2017-01-17 07:21] oren commented on #135
i would think it might be better to provide a readme that just works so the Time To Hello World will be seconds instead of minutes/hours.

[2017-01-17 07:23] bscott commented on #135
@oren sorry your having trouble, The docs were actually recently updated to offer a smoother start. I was able to get up in running in no time. Any Suggestions?

[2017-01-17 07:25] oren commented on #135
sure. maybe a link ubuntu specific instructions and make it clear a db need to be running.

[2017-01-17 07:29] bscott commented on #135
@oren I'll look into cleaner Ubuntu material but here in the Getting Started Guide, it states the need for a DB before getting started with Buffalo for further reference under "Running your application in development", hope that helps, the DB docs were recently updated from a previous issue I had opened regarding on-boarding to Buffalo. Thanks for the suggestion.

http://gobuffalo.io/docs/getting-

[2017-01-17 07:31] oren commented on #135
okay. i skipped that (:

I would suggest using BoltDB or sqlite to save some time on configuring a db.

[2017-01-17 07:32] bscott commented on #135
MySQL/Sqlite is supported, BoltDB would be a good addition.

[2017-01-17 07:34] oren commented on #135
works now. Thank You!

[code]

I would put this command in the readme or change the default to sqlite3. just my 2 cents.

[2017-01-17 07:42] fooflare commented on #135
I don't think changing the default db server is a good option, postgresql is one of the most used in development. Sqlite is fine to make a ```hello world!```, but not for an agile startup.
To configure postgresql, here you are some links:
http://gobuffalo.io/docs/db (buffalo official docs, including explanation of how to change default db type)
https://help.ubuntu.com/community/PostgreSQL (Postgre

[2017-01-17 07:44] oren commented on #135
got it. thanks!

[2017-01-17 11:38] cdrx commented on #36
Is there an example of a working circle.yml or travis-ci.yml file?

[2017-01-17 13:01] briandowns commented on #36
I'll try to get this pushed up today.

[2017-01-17 16:56] markbates opened #140 "Prevent new app creation from outside the Go workspace"
If people aren't in their Go workspace, or don't have a Go path set, `buffalo new` shouldn't run, rather, it should error out with information letting people know what the problem is. This should help Go newcomers who aren't familiar with the Go path and workspace.

[2017-01-17 17:12] #140 closed

[2017-01-17 18:12] nuclearsandwich opened #142 "Cross-compiling fails from 64-bit linux to arm linux"
I get the following output when trying to create a buffalo build for another target using

[code]
https://gist.github.com/nuclearsandwich/a429552a22420939ca7ad1951d924b2e

I'm pretty green so it could very well be user error with the compiler toolchain but I also don't know how to get more info beyond `Error: exit status 2`.

Thanks!

[2017-01-17 19:04] apaganobeleno commented on #139
@markbates i'll try to summarize my first shot at this one on this issue (i have it working right now) along with some questions i could have at this point.

We could do this by adding:

[code]

Where flash is a Flash struct thats defined something like:

[code]

And has `Get` and `Set` implementations inside it so that on the actions level we could do something like:

[code]

And as for the View

[2017-01-17 19:06] apaganobeleno commented on #139
Oh the questions:
- Should we add the Flash object inside the Session ?
- Should we preload Flash variables so we don't have to call c.Flash ?
- Should we provide a Flash helper function that could be called from the view ?

[2017-01-18 04:41] bscott commented on #139
@apaganobeleno looks great, I can't answer the questions above but I can't wait to try it, been really wanting this feature. Using c.Flash, feels right to me but not my call.

[2017-01-18 10:38] cdrx commented on #142
I get the same error when attempting to build a linux binary from a Mac

[2017-01-18 10:41] markbates commented on #142
I haven't had a chance to run this yet. I build Linux binaries no problem, but not arm. My gut says it's an arm/SQLite issue judging by the output. I'm traveling so I haven't been able to run the exact same command yet. I'll post when I do.

[2017-01-18 10:44] cdrx commented on #142
Do Linux binaries build for you, from a Mac?

[2017-01-18 10:46] markbates commented on #142
Yes, but I haven't tried arm yet. I think it's a problem with arm and SQLite. But not sure.

[2017-01-18 16:23] markbates commented on #142
I've worked the maintainer of the sqlite driver, and helped him fix the build issues.

See https://github.com/mattn/go-sqlite3/issues/374 and https://github.com/mattn/go-sqlite3/issues/372

If you do a `go get -u github.com/mattn/go-sqlite3` this issue should be fixed.

If someone else could test, I've tested locally, but I don't like to close until a 3rd party has confirmed.

[2017-01-18 16:27] cdrx commented on #142
Thanks! That fixed my problem building linux binaries from the Mac

[2017-01-18 16:40] markbates commented on #142
Woot!! Yay!!

[2017-01-18 16:40] #142 closed

[2017-01-18 16:42] nuclearsandwich commented on #142
I did some additional digging last night and found the same thing, I was lacking gcc compilers for my target ARM platform, rectifying that fixed the build issue, which I think means the overall issue here is closed, but I wonder if it's possible to get better feedback from `buffalo build` as I figured this out by running

[code]

Then guessing from there.

As a secondary issue, when I got the buil

[2017-01-18 18:22] markbates commented on #139
Ok, finally had a chance to look at this. :) Sorry for the delay.

I think adding `Flash()` to the context is the right place:

[code]

In the view it should be something like this:

[code]

Things to think about:

* There should be an `Add` function that will add a flash message to that key, so the messages should be probably be stored like `map[string][]string`.
* `Set` should override any messa

[2017-01-18 18:25] bketelsen commented on #139
Error
Notice
Success

<-- my votes for levels.

[2017-01-18 19:05] markbates commented on #139
Ok, I had some thoughts on how to clear the flash messages!

[code]

When the `flash` or `flashes` helpers are called they clear out the messages! :)

[2017-01-18 19:06] bketelsen commented on #139
like a defer() built into the iterator?

[2017-01-18 19:14] markbates commented on #139
Yeah, something like that. As you display messages, get rid of them.

[2017-01-18 20:07] apaganobeleno commented on #139
Awesome, i have the `Flash` part all-set, need to dig into the render to work on the View implementation, i'll push my WIP soon to a branch here, thanks @markbates @bketelsen @bscott for the support!

[2017-01-18 20:10] bscott commented on #139
The suspense is killing me :)

[2017-01-18 20:11] apaganobeleno commented on #139
lol sorry for that

[2017-01-19 01:00] bscott commented on #20
To clearify, this would run all tests after `test:db:prepare` correct? @markbates

[2017-01-19 07:02] markbates commented on #20
Yep! Although there is `buffalo test` so I'm not sure we need this.

[2017-01-20 17:20] ernesto-jimenez opened #146 "Include REPL on built application"
With rails apps deployed in heroku it is common to do:

[code]

It would be nice to be able to do that with buffalo apps too.

[2017-01-21 09:01] luisfernrg opened #148 "skipping middleware SetContentType"
Im using `middleware.SetContentType()` as an example since my middleware has the same signature. Is there currently a way to skip a `buffalo.MiddlewareFunc` with `buffalo.Middleware.Skip()`

I keep getting this error `github.com/luisfernrg/meem/actions
actions/app.go:48: cannot use middleware.SetContentType (type func(string) buffalo.MiddlewareFunc) as type buffalo.MiddlewareFunc in argument to vo

[2017-01-21 11:05] markbates commented on #148
SetContentType itself isn't a MiddlewareFunc, you need to pass a string to it with the content type you want to set, and the it will return a MiddlewareFunc. It's a factory method.

[2017-01-21 11:13] luisfernrg commented on #148
@markbates yes, sorry I meant how would you skip the MiddlewareFunc that it returns or is this not possible? I have an authentication middleware which takes a db as an argument I would like to be able to skip this. It's basically like the SetContentType method. Expect it takes a db

[2017-01-21 11:17] markbates commented on #148
If you define the function at the top and use that same definition for both the Use and Skip it should work. If you use two different definitions it probably won't work it. The key is to assign it to a variable and use that.

[2017-01-21 11:18] luisfernrg commented on #148
@markbates awesome! I will try it out in the morning. I appreciate the help thank you.

[2017-01-21 11:47] XelaRellum opened #149 "Please add example for login forms"
This is a very interesting part of every webapp but almost all of the examples omit this.

I guess login/logout would plug in to the context and work on this. But jus how oh how.

[2017-01-21 15:37] markbates opened #153 "buffalo.Context should implement the context.Context interface"
Since this would involve a couple of changes that will eventually change the `buffalo.Context` API, we'll need to make sure to deprecate the functions that get changed, particularly `Get` and `Set`, and remove them in a later version of Buffalo.

[2017-01-21 16:13] #153 closed

[2017-01-21 18:24] astropanic opened #156 "There was a problem starting the dev server"
Wanted trying it out. Went to the [docs](http://gobuffalo.io/docs/getting-started),

Issued an: ```go get -v -u github.com/gobuffalo/buffalo/buffalo```,

then: ```buffalo new coke --db-type sqlite3```

after ```buffalo dev``` got:

my go environment:

[code]

[2017-01-21 18:30] markbates commented on #156
There was an issue closed the other day to fix that error in the next version.

It's a node/npm issue.

[2017-01-21 18:31] #156 closed

[2017-01-21 19:17] bscott commented on #149
@XelaRellum I can provide some example of simple forms on the documentation site, I'll discuss with @markbates

[2017-01-21 19:23] bscott commented on #133
Closing this since @markbates referenced an existing issue.

[2017-01-21 19:56] bscott commented on #127
@markbates Does this needs to be an issue still, or an enhancement to Buffalo, otherwise I'll close it if not.

[2017-01-21 19:57] markbates commented on #127
There's an open issue on velvet, so this is a dup. We can close

[2017-01-21 19:57] #127 closed

[2017-01-21 23:15] mdhender opened #157 "Creating a new app with webpack requires admin privileges"
`buffalo new coke` attempts to install webpack globally. That fails if the user doesn't have the ability to update the global `npm` install.

[code]

The `-g` option is wired in to `buffalo/cmd/generate/webpack.go`:

[code]

There's no option to work around, except to run `buffalo new coke --skip-webpack` and doing a local install of webpack by hand. It's not clear what else needs to be done since

[2017-01-21 23:23] bscott commented on #157
@mdhender I have not been able to get webpack working properly when installed locally, believe this is more of a webpack issue then buffalo.

Were you able to start buffalo with webpack installed locally?,  I can look into extending support for local support.

[2017-01-21 23:26] mdhender commented on #157
Not yet. I got an admin to install it globally. Still have problems because buffalo wants to install it again (it doesn't recognize that it's already there). I'm looking at the go code there to see if I can get buffalo to skip the global install and still install the assets and such.

[2017-01-21 23:37] bscott commented on #157
@mdhender Ok, Buffalo is just using the local system $PATH, so if your npm isn't properly setup, it could be that your local environment has webpack missing in it's path.

I would ```echo $PATH``` and make sure that where ever NPM is installing webpack is there.

I don't think you can skip the global install and still use webpack, it's either you install webpack or skip that feature completely in

[2017-01-21 23:46] mdhender commented on #157
After fighting with it a bit, I do agree with forcing webpack to install globally. But, if webpack is already installed, buffalo should skip running the installation again. If `func NewWebpackGenerator` could look at some flag and avoid the `npm install` while still doing the `npm init` and such, I think that would work.

[2017-01-21 23:49] mdhender commented on #157
Is that something that you'd accept a PR on?

[2017-01-22 00:09] bscott commented on #157
@mdhender Yes in deed, might be better to have `func NewWebpackGenerator` to detect if webpack is already in the PATH, instead of adding an extra flag. PR's are most welcome 👍

[2017-01-22 00:10] mdhender commented on #157
I'll do that PATH check. Thanks.

[2017-01-22 00:19] mdhender commented on #157
I made the update but I don't know how to write a test case for this. The change is wrapping the `npm install` with
[code]

I can test it by changing PATH, but how would I test the Go code in that if condition?

[2017-01-22 01:06] bscott commented on #89
Going to close this issue since there is already a Dockerfile in the repo.

[2017-01-22 01:06] #89 closed

[2017-01-22 03:40] oren commented on #135
just an update.
this command ` sudo chown -R $(whoami) $(npm config get prefix)/{lib/node_modules,bin,share}` causes me issues. i can't run sudo anymore. when i do that i get: `sudo: /usr/bin/sudo must be owned by uid 0 and have the setuid bit set` ):

[2017-01-22 05:13] bscott commented on #156
@markbates  I have a branch with the addition of the context of that error, should I still submit the PR or did you already take care of it?

[2017-01-22 06:42] bscott opened #159 "Buffalo - Heroku Buildpack"
Creating this issue just as a reminder to test the Heroku Go buildpack with Buffalo.

[2017-01-22 06:59] markbates commented on #156
@bscott if you have better docs than what is in master, please add them! :)

[2017-01-22 11:27] #157 closed

[2017-01-22 16:25] #105 closed

[2017-01-22 16:25] #14 closed

[2017-01-22 16:48] apaganobeleno commented on #159
@bscott this one depends on #134 (given heroku buildpack supports Glide) and adding  a `Procfile` to the generated app, should we create an issue to add the `Procfile` to the `new` generated app ?

[2017-01-22 16:56] apaganobeleno commented on #20
@markbates i would like to stick with the `buffalo test`, if thats ok, should this task be about running `test:db:prepare` before the tests when developer runs `buffalo test` ?

[2017-01-22 18:39] markbates commented on #20
Agreed. I don't think we need this. Going to close it for now.

[2017-01-22 18:39] #20 closed

[2017-01-23 01:53] bscott commented on #159
@apaganobeleno I think we should but your right as Heroku does only support Godeps atm.

[2017-01-23 01:57] apaganobeleno commented on #159
@bscott I think it supports Glide as well, yes, just confirmed:

https://github.com/heroku/heroku-buildpack-go/blob/master/README.md

[2017-01-23 01:59] bscott commented on #159
@apaganobeleno Nice

[2017-01-23 02:01] bscott commented on #156
@markbates Will do, should have a PR to the docs page and a PR to bring context to the "Unknown" error in next hour or so.

[2017-01-23 09:38] bscott commented on #94
@markbates Is the idea here , for there to be a `mail` helper or are we looking for something that supports different smtp options including templates?

[2017-01-23 09:57] markbates commented on #94
I'm thinking of being able to send emails with different smtp options, support templates, etc...

[2017-01-23 10:01] markbates opened #164 "Buffalo new "welcome" output"
After running `buffalo news there should be some nice "next steps" print out. For example:

* path to the new app
* updating the database.yml
* set up "postgres|mysql|sqlite|
* buffalo dev
Etc...

Those are just some ideas, but it would be nice to pint people in the right direction.

[2017-01-23 10:02] markbates opened #165 "Clean up the generate package"
It's getting a bit dirty in there, some refactoring is definitely in order.

[2017-01-23 22:22] marpaia opened #166 "Buffalo fails to start/build/test on Windows"
Running the `buffalo dev` command on Windows on a fresh project returns the following cryptic error:

[code]

The `buffalo build` command also fails, with a more potentially useful error:

[code]

Also, when running `buffalo test`:

[code]

`buffalo_build_main.go` contains:

[code]

I have an `assets` subdir and an `actions` subdir, but no `a` subdir.

Let me know if I can help debug this if it's

[2017-01-23 22:25] bscott commented on #166
We have two existing issues regarding this and a PR to help with this.

This error is usually due to node and npm missing on your system. Also ensure the npm webpack package installed.

[2017-01-23 22:26] marpaia commented on #166
Also, when running `buffalo test`:

[code]

`buffalo_build_main.go` contains:

[code]

I have an `assets` subdir and an `actions` subdir, but no `a` subdir.

[2017-01-23 22:28] marpaia commented on #166
@bscott I have npm and node installed. Even after installing webpack globally just now via `npm install -g webpack` (and verifying that the `webpack` command is in my path), everything still fails with the same errors.

[2017-01-23 22:36] XelaRellum commented on #149
Thanks a lot. I think i managed to get further along with this and will provide a pull request with the example. Do you think it should be included in one of the existing examples?

[2017-01-23 22:47] bscott commented on #166
@marpaia I'm looking at the packages, seems there might be some Windows specific issues with the pathing.

```Error: fork/exec ./node_modules/webpack/bin/webpack.js: %1 is not a valid Win32 application.```

That error catches my eye, I'll loop @markbates and @apaganobeleno to any ideas they might have but I think I feel some new PR's having to be created.

[2017-01-23 22:48] bscott commented on #166
@marpaia Regarding `buffalo test`, is your $GOPATH setup properly?

[2017-01-23 23:15] bscott commented on #149
@XelaRellum Yes that should be good. Thank you!

[2017-01-23 23:59] marpaia commented on #166
@bscott yeah, my $GOPATH is set to ~/go. With that error, the issue is that `buffalo_build_main.go` is trying to import a package (`github.com/marpaia/website/a`) which doesn't exist. In this example, `github.com/marpaia/website` is the path where I have `buffalo new`'d.

[2017-01-24 04:12] bscott commented on #125
@kirillDanshin Wanted to see if you were still doing this, I was going to submit something this evening or tomorrow.

[2017-01-24 04:14] bscott commented on #125
For the most part, the webpack.config.js that Buffalo generates for new apps, already supports React files ( jsx ).

[2017-01-24 04:32] kirillDanshin commented on #125
@bscott yep, I'm in progress now. going to submit production-ready solution no later than Friday.

[2017-01-24 07:19] markbates commented on #166
So there's two things going on here. Looks like `buffalo build` didn't clean up after itself properly after the failure, that's why you're seeing files like `buffalo_build_main.go`, which you should get removed after build, same thing with the `a` package.

There's also the the web pack path issue. @marpaia can confirm if you change `./node_modules/webpack/bin/webpack.js` to the "proper" windows p

[2017-01-24 07:28] markbates commented on #166
I've pushed up a PR #168, hopeful this fixes the web pack issue. I'll need more time to figure out why the build didn't clean up properly after itself.

[2017-01-24 15:38] marpaia commented on #166
@markbates awesome! I can confirm that #168 fixes the webpack issue, which allows `buffalo build` to complete successfully. Thus, it seems like `buffalo_build_main.go` gets cleaned up properly (so `buffalo test` also works now).

The only thing that still isn't working on Windows is `buffalo dev`:

[code]

Note the following line:

[code]

Note that `./tmp/website-build` DOES exist and it IS a cor

[2017-01-24 15:49] markbates commented on #166
Thanks! In the .buffalo.dev.yml file in your project you can change the name of the bin. Can you open an issue for that, so we can track it and fix it for all platforms? Thanks.

[2017-01-24 15:51] marpaia commented on #166
Confirmed that adding `.exe` to the `binary_path` in `.buffalo.dev.yml` compiles and runs the binary properly. It would be cool if buffalo could auto-detect that though and append the `.exe` implicitly so that the same dev file could be used on OS X, Linux, and Windows without modification. Would you like an issue for that, specifically?

[2017-01-24 15:53] markbates commented on #166
Yes. Please open issue for that. Thanks. Make sure to reference this issue when you do. Thanks.

[2017-01-24 15:53] #166 closed

[2017-01-24 15:57] marpaia opened #169 "Binary name should have ".exe" implicitly appended to it on Windows"
As discussed in #166, `buffalo dev` fails right now with the following error:

[code]

This is because the `binary_name` attribute of the generated `.buffalo.dev.yml` is `website-build`. If I change the `binary_name` attribute to `website-build.exe`, then everything works as planned (because Windows expects executable filenames to end in `.exe`).

I think that buffalo should detect that Windows is

[2017-01-24 16:19] #169 closed

[2017-01-24 20:04] stanislas-m opened #170 "Allow build command to split assets bundle and binary app"
Hello,

Is it possible to add an option to the `buffalo build` command, to split assets (js, css, images...) and app output ? This way, it will be possible to serve assets from another server (like a CDN for instance).

[2017-01-24 20:06] markbates commented on #170
It would be possible, and it's a great idea. This would make a great first PR! :hint: :)

[2017-01-24 20:07] markbates commented on #170
It wouldn't be difficult to add to `buffalo/cmd/build.go`

[2017-01-24 20:09] stanislas-m commented on #170
Ah ah, I'll give it a try this week-end. :)

[2017-01-24 20:16] markbates commented on #133
https://github.com/golang/dep

[2017-01-24 20:17] markbates commented on #133
Depending on how long it will take the Go team to get a good beta out there, we might want to wait for https://github.com/golang/dep to be released so we don't have to change again.

[2017-01-24 20:17] apaganobeleno commented on #133
awesome news!

[2017-01-24 20:53] #67 closed

[2017-01-24 20:53] markbates commented on #67
Yay!! I fixed this!! Woot!!!

[2017-01-24 21:01] bscott commented on #67
@markbates yay!!!!!!

[2017-01-25 03:48] amedeiros opened #173 "Generating invalid .codeclimate.yml"
Buffalo version 0.7.1

Step 1 install codeclimate cli

`brew tap codeclimate/formulae`
`brew install codeclimate`

Step 2 create new buffalo project

`buffalo new coke`

Step 3 run validate-config with codeclimate cli from new project root.

`codeclimate validate-config`

Result:

`ERROR: syntax error: (<unknown>): did not find expected key while parsing a block mapping at line 1 column 1`

Soluti

[2017-01-25 05:35] markbates commented on #173
A PR would be great! Thanks!

[2017-01-25 07:15] stanislas-m opened #174 "Action generator should append new tests instead of clearing test file"
Hello,

On **Buffalo v0.7.1**, when you run the **action generator multiple times**, the new actions are added to the action file, but the test file is cleared. The generator should keep the already defined tests, like it keeps the already defined actions.

[2017-01-25 07:19] markbates commented on #174
Great find! This would make a great first PR for someone. ;)

[2017-01-25 13:25] markbates commented on #174
Closed with #175

[2017-01-25 13:25] #174 closed

[2017-01-25 15:15] #173 closed

[2017-01-25 20:14] amedeiros commented on #95
I like the idea of being able to bring your own background job system with a single interface to talk to any of them.

I messed around a little today with this idea https://github.com/amedeiros/buffalo/blob/workers/workers/workers.go. Let me know what you think.

Essentially there is a BaseWorker interface and then another interface for github.com/jrallison/go-workers (GoWorkersWrapper) and anothe

[2017-01-25 21:45] markbates commented on #139
Closed by #143

For historical purposes, we landed on the following use case:

[code]

[code]

[2017-01-25 21:45] #139 closed

[2017-01-25 22:00] bscott commented on #170
+1, let me know if I can help

[2017-01-26 08:53] stanislas-m commented on #170
For now, I've just added an option to the build command, which gets the contents of the public/static dir and makes a zip file from it.

I think to be able to not-include assets in the binary, we have to remove the `app.ServeFiles("/assets", assetsPath())` in app.go, and remove the `assetsPath` function from render.go. Is that correct?

Moreover, the assets path will not be served by the app. Can

[2017-01-26 08:58] stanislas-m commented on #36
Gitlab CI support could be cool too. :)

[2017-01-26 08:59] markbates commented on #36
A wercker set up would be great too. These should be separate tickets though.

[2017-01-26 09:02] stanislas-m opened #181 "Generate a default .gitlab-ci.yml file for new projects"
See #36. This is the same case, but with a different provider.

[2017-01-26 12:02] markbates opened #182 "Proposal: Reduce Context Size in 0.8.0"
With the addition of implementing `context.Context` and `Flash()` recently, the `Context` interface is starting to feel bloated.

I'm proposing that in version 0.8.0 we reduce the size of the interface.

I'm proposing that in 0.8.0 the `Context` look like this:

[code]

That means the following functions will be abandoned:

[code]

Since `Get` is currently deprecated in favor or `Value`, I'm fine

[2017-01-26 12:05] #148 closed

[2017-01-26 12:06] #22 closed

[2017-01-26 13:50] bketelsen commented on #182
Let it be big.  Adding extra confusion just because there are a lot of methods is counterintuitive.

[2017-01-26 21:18] apaganobeleno commented on #36
@markbates i started working on this the `.travis.yml` however when running the tests for the first time its panic'ing with:

[code]

Should we remove the `.gitignore` from that folder or handle rice diferently when running tests ?
Also for the travis configuration, i'm assuming we should run migrations/setup database and run the tests with `buffalo test`, am i right ?

[2017-01-26 21:51] amedeiros opened #183 "Silent failure of unknown db type"
If you run the following.

`buffalo new coke --db-type SOMETHING-BAD! > result.out 2>&1`

It seems like the db setup fails silently due to the unknown type being passed. I don't see a warning in the output file.

The issue seems to be around here https://github.com/gobuffalo/buffalo/blob/master/buffalo/cmd/soda_generators.go#L34.

`generate.GenerateConfig("./database.yml", data)` returns an error

[2017-01-26 21:56] apaganobeleno commented on #36
@markbates nevermind, i ended up creating the folder on the `.travis.yml`

[2017-01-27 08:49] markbates commented on #183
Good find! Yes a PR would be excellent!

[2017-01-27 08:52] matryer commented on #182
App Engine does a lot of this kind of thing:

[code]

Another option is to embed the `Request` and add extensions:

[code]

That way, you could use it as a normal `http.Request` but also it would have some Buffalo helpers.

[2017-01-27 16:36] #183 closed

[2017-01-27 19:45] philipithomas opened #187 "Proposal: Use `yarn` instead of `npm install`"
Yarn is a drop-in replacement from Facebook for `npm install`. The advantage is that is deterministic in its build, and it pulls from a local cache (similar to how the [glide](http://glide.sh) package manager works).

The advantage is that it is significantly faster than

**Proposal**:

* When generating new files, include a `yarn.lock` file. (On TravisCI, [this triggers the use of yarn](https://b

[2017-01-27 19:49] markbates commented on #187
I would like to hear about the disadvantages as well. Everyone I've talked to who has used yarn has had to go back to NPM for various reasons. Currently I don't know anyone who uses it in production or on bigger projects. I definitely need to be sold more on it.

[2017-01-27 22:41] philipithomas commented on #159
It would be nice to document how to run grift commands as cron jobs on heroku too

[2017-01-27 23:34] bscott opened #188 "Logrus middleware for Buffalo"
Create middleware for Buffalo to support Logrus

[2017-01-28 06:20] markbates commented on #188
I'm confused. We already use logrus.

[2017-01-28 06:22] bscott commented on #188
@markbates was meant for a different repo. Closing

[2017-01-28 06:22] #188 closed

[2017-01-28 06:28] markbates commented on #188
lol

[2017-01-30 13:21] markbates opened #193 "Add file:line info to Context#Get deprecation warnings"

[2017-01-30 13:21] markbates opened #194 "Make sure a new Buffalo app doesn't have Context#Get deprecation warnings"

[2017-01-30 23:11] markbates opened #195 "Buffalo needs to be updated to support Webpack 2.2.x"

[2017-01-30 23:13] markbates commented on #195
[code]

[2017-01-30 23:19] markbates opened #197 "Resource generator should generate a better variable name"
When running the following command:

[code]

It generates:

[code]

it should generate:

[code]

[2017-01-30 23:20] markbates opened #198 "Resource generator shouldn't generate pointers"
Currently the resource generator generates the interface on a pointer type, this is unnecessary, it should be a value type:

[code]

[2017-01-31 10:28] bscott commented on #181
@apaganobeleno I was going to work on this but wondering if I should wait for https://github.com/gobuffalo/buffalo/pull/184 to be merged??

[2017-01-31 13:26] apaganobeleno commented on #197
@markbates @bscott  should we close this one ?

[2017-01-31 13:26] apaganobeleno commented on #194
@markbates should we close this issue ?

[2017-01-31 13:28] apaganobeleno commented on #181
@bscott i think waiting for #184 makes sense, i'll keep you posted on its progress.

[2017-01-31 13:52] bigblind commented on #97
The testing framework you use depends heavily on the frontend framework you use. Reat developers mostly use Jest, AngularJS developers use Karma, .. Maybe this could be tied in with webpack configurations for different frameworks.

[2017-01-31 18:40] johndeng opened #203 "Buffalo new command unsopported multiple GOPATH"
Hi, I uses Buffalo v0.7.1 to created a project, but i alway got a warning.

[code]
So, I'm think the Buffalo need to consider the multiple GOPATH situation.

[2017-01-31 21:17] apaganobeleno opened #204 "Templates when Rendering from Resource"
I noticed that when generating a resource and rendering html on it buffalo doesn't apply the shared template (application.html by default), but if you generate an action and render html buffalo seems to render the template correctly, is this happening to someone else ?

cc @bscott @markbates

[2017-01-31 22:37] stanislas-m commented on #204
If you look at the doc (http://gobuffalo.io/docs/generators), the resource generator does the job. It generates actions with a simple string output.

I think a resource is something intended to be served as JSON or XML, and is kinda API-oriented. Maybe some documentation improvements can be done here, since the docs does not explain its purpose.

[2017-02-01 00:09] bscott opened #206 "create a new buffalo app in the current directory"

[2017-02-01 00:14] bscott commented on #206
requested from the folks at nanobox.io

[2017-02-01 01:07] apaganobeleno commented on #204
I understand the point of resources being used for API-oriented components of the web application, or even to construct API only applications, in that context i agree that the resources are very appropriate and match exactly REST CRUD structure.

by this time we don't have JSON templates but would this imply that when using resources we wont be able to have a default template for our response and

[2017-02-01 06:26] stanislas-m commented on #204
Well, it's only my understanding, so I do think it's done on purpose (and the docs displays the result according to this hypothesis).

Sure. I guess you're right, and this example (https://github.com/gobuffalo/buffalo/tree/master/examples/html-resource) shows it can be used to display HTML pages.

By looking at the code (https://github.com/gobuffalo/buffalo/blob/master/resource.go), a resource is

[2017-02-01 06:52] stanislas-m commented on #195
https://github.com/webpack/webpack/issues/2764

[2017-02-01 13:11] apaganobeleno commented on #204
right @stanislas-m seems its not on propose, i still owe some sample code that shows when this is happening.

[2017-02-01 13:17] apaganobeleno commented on #204
oh boy! i may have been doing something wrong on the beginning :( sorry everybody to steal some time and attention, specially @stanislas-m and @bscott, now that i'm retrying it its working correctly, i may have started with the sample code :D, so sorry about the distraction.

[2017-02-01 13:17] #204 closed

[2017-02-01 13:24] apaganobeleno commented on #206
this is a good one! would `buffalo new . -f` be a good starting point ?

[2017-02-01 13:33] apaganobeleno opened #207 "Current Route"
What do you think about adding the current route/path available to the view ?
I'm asking this because in certain scenarios you would like to do some rendering based on the current route, i think the following example will make it clear:

Lets say you're building a navigation like this one:

<img width="551" alt="screenshot 2017-02-01 08 21 38" src="https://cloud.githubusercontent.com/assets/645522

[2017-02-01 14:02] stanislas-m commented on #204
No problem. :)

[2017-02-01 14:08] stanislas-m commented on #207
@apaganobeleno Good idea, I have this kind of use case at least once per project.

[2017-02-01 15:08] markbates commented on #207
I think it's a great idea.

The question becomes do we put `/users/1` in the context, `/users/{user_id}` or both?

[2017-02-01 15:09] markbates commented on #206
Great idea! I can't tell you how many times I've rebuilt the `coke` example project, and I always have to keep going up and then down again.

[2017-02-01 15:10] #197 closed

[2017-02-01 15:10] #194 closed

[2017-02-01 15:10] apaganobeleno commented on #207
any way would help on the view, if we would like to be a bit more fancy maybe we could consider naming routes as an option, thoughts ?

[2017-02-01 15:15] markbates commented on #195
@stanislas-m the generated `webpack.config.js`  needs to also be updated to use the new `extract-text-webpack-plugin` as they changed the API, so some work needs to happen in addition to just using a newer plugin version.

[2017-02-01 15:25] markbates commented on #207
I'm thinking both would be nice to have in the context.

Since we're using http://www.gorillatoolkit.org/pkg/mux under the covers we could easily create named routes for everything. When we create a new route we return the `RouteInfo` for it so we could hang a `Name` function on that calls the underlying mux name function.

We would also need to expose those in the context.

[2017-02-01 16:03] stanislas-m commented on #203
Fixed with #205.

[2017-02-01 16:03] #203 closed

[2017-02-01 16:26] markbates opened #208 "Remove all licensing from the top of `cmd` files"
Cobra automatically generates licensing information at the top of all the generated command files. Since the project already has a license, MIT, it's confusing and unnecessary to have this extra licensing information.

We should remove it all from the project and not let more come in via PRs.

[2017-02-01 16:33] apaganobeleno commented on #193
@markbates is this all-set with #193?

[2017-02-01 16:36] #193 closed

[2017-02-01 16:50] markbates opened #210 "Add support for "named routes""
Since we're using http://www.gorillatoolkit.org/pkg/mux under the covers we could easily create named routes for everything. When we create a new route we return the RouteInfo for it so we could hang a Name function on that calls the underlying mux name function.

We would also need to expose those in the context.

Related to #207

Example:
[code]

[2017-02-01 17:00] #208 closed

[2017-02-01 17:10] markbates opened #211 "Allow using a "default" config for generating new Buffalo projects"
At the bottom of https://github.com/gobuffalo/buffalo/blob/master/buffalo%2Fcmd%2Froot.go is a bunch of commented out code that cobra generated to read in a `$HOME/.buffalo.yml` file so people can set up their favorite buffalo configs for generating new projects, like their preferred database. It would be great to actually support that.

[2017-02-01 17:11] #198 closed

[2017-02-01 17:12] #170 closed

[2017-02-01 17:25] markbates commented on #96
I'm closing this issue since there is the https://github.com/gobuffalo/tags project that should do this. I don't think it needs to be part of "buffalo" proper, but once the package is stabilized maybe we add it to the default generated `actions/render.go` file.

[2017-02-01 17:25] #96 closed

[2017-02-01 17:29] apaganobeleno commented on #210
Resources should have this too, right @markbates ?

[2017-02-01 17:30] markbates commented on #210
Of course!

[2017-02-01 18:21] apaganobeleno commented on #181
@bscott #184 was merged, mentioning this in case you want to work on this one.

[2017-02-02 21:14] markbates opened #213 "Make Buffalo GAE compatible"
Currently Buffalo is not GAE compatible. I don't use GAE, so I'm definitely looking for support on this. @matryer has offered his assistance as well.

Mat and I spent some time at GoLab in Italy a couple of weeks ago and found that, at least, two things are preventing Buffalo apps from working on GAE.

1. GAE is currently on Go 1.6 and Buffalo requires 1.7 because of the use of `context.Context` -

[2017-02-02 21:32] bscott commented on #210
@apaganobeleno Are you doing this one?, can I assign it to you?

[2017-02-02 21:33] apaganobeleno commented on #210
oh sir i would love to, yes please, unless @markbates is doing it please assign to me :)

[2017-02-02 21:33] bscott commented on #207
+1

[2017-02-02 21:34] markbates commented on #210
@apaganobeleno it's all yours!

[2017-02-02 22:06] stanislas-m opened #214 "Provide alternative webpack starters"
The current new app generator creates a bootstrap-powered webpack.

It can be a plus to provide alternative webpack seeds (like one for foundation http://foundation.zurb.com/, jQuery UI or even Javascript frameworks like Angular).

[2017-02-02 23:12] philipithomas commented on #214
If you go down this route - VueJS has two webpack starters:

simple - https://github.com/vuejs-templates/webpack-simple
standard - https://github.com/vuejs-templates/webpack

[2017-02-02 23:15] philipithomas commented on #213
What's the advantage of supporting GAE Go runtime instead of GAE Docker runtime, besides not needing to build separately? We could probably add "basic" support for GAE through the docs using Docker.

https://cloud.google.com/appengine/docs/flexible/

[2017-02-02 23:17] markbates commented on #214
@matryer and I were just have a really great conversation about how to hook in 3rd party generators.

[2017-02-02 23:26] matryer commented on #213
The Flexible environment might be the choice, but I'd love go see if the standard environment could be supported easily before abandoning it. There are some [key differences](https://cloud.google.com/appengine/docs/the-appengine-environments) that might sway a user towards either option.

[2017-02-03 13:50] yageek opened #217 "Mail Registration/Authentication."
Dealing with user registration is something that is often needed.

It would be nice to have some primitives like those implemented in https://github.com/go-authboss/authboss.

[2017-02-03 15:46] #164 closed

[2017-02-03 17:08] #36 closed

[2017-02-03 19:11] philipithomas opened #220 "Add Swagger Support to API"
Opening this for tracking. I don't yet have a proposed solution or data architecture yet.

When I've used the [grpc-gateway](https://github.com/grpc-ecosystem/grpc-gateway) project in the past, on of my favorite features was the auto-swagger generator. With strongly-typed requests and responses coming from Protocol Buffers, the gateway had all the information it needed to generate the API definiti

[2017-02-03 19:15] markbates commented on #220
That definitely seems a bit heavy handed, but I'm open to the idea of figuring out a good way to work with swagger.

I've thought about it in the past. I would love to be able to do several things with swagger:

* generate handlers, models, etc... based on swagger
* generate swagger - i've done this sort of thing before in ruby by using my tests to generate api docs. it's a surprising nice way of

[2017-02-03 19:18] markbates commented on #206
Issue #210 is going to add support for named routes in 0.8.0 apparently we already have a context variable called `current_route` which gives back the current route information.

Seems like all this ticket really needs to the actual URL path of the current request to the context and it'll be done.

Does that seem correct to everyone?

If so, I think we can easily get this into 0.7.3.

[2017-02-03 21:59] markbates opened #221 "nulls package types can't be decoded with gorilla"
A function to register the types from the `github.com/markbates/pop/nulls` with the gorilla schema was added here: https://github.com/markbates/pop/commit/d1188ade9f9722bc1a6cf934472ff13ce7ee536d

Buffalo needs support for this.

[2017-02-03 22:00] markbates opened #222 "Allow for new binders to be registered with Buffalo"
Right now Buffalo supports JSON, XML, and HTML types of bindings, but it would be great to allow for people to register their own types based on content type.

[2017-02-03 23:08] #221 closed

[2017-02-03 23:08] #222 closed

[2017-02-03 23:23] stanislas-m commented on #195
This webpack.config.js works with the `extract-text-webpack-plugin` v2.0.0-beta, but they will change the API again before the release (https://github.com/postcss/postcss-loader/issues/92#issuecomment-276848644). I think we have to wait for this release.

[code]

[2017-02-03 23:24] markbates commented on #195
If they're going to change it again before release we should wait. Thanks for digging into this.

[2017-02-04 16:49] markbates opened #224 "Run tasks from the built binary"
There should be a way of running the grift tasks through the built in binary. A use case for this would be to run a task as a cron job in production.

[2017-02-04 16:50] markbates commented on #217
I'm not sure this is something that should be built into Buffalo. Would it make more sense as an add-on package that has a few middleware and the like?

[2017-02-04 16:51] markbates opened #225 "Remove the new relic middleware from the 'middleware' package"

[2017-02-04 17:23] yageek commented on #217
Sure! Maybe something like the `goth` package for oauth2 authentication.

[2017-02-04 17:26] markbates commented on #217
That's what I'm thinking, something that can easily be plugged in, but isn't in core.

[2017-02-04 17:35] yageek commented on #217
`authboss` is a nice package but it has its own template rendering method and it has not abstracted the rendering yet. May be would it make sens to perform some PR on this package and use it when it is ready? Or would you prefer something implemented from scratch?

[2017-02-06 19:09] apaganobeleno commented on #224
This one would be very useful.

[2017-02-06 19:50] markbates opened #230 "Add a `Clear` function to Session"
It would be nice to be able to "clear" a session by deleting all of it's keys at once.

[2017-02-06 19:50] markbates commented on #207
Issue #210 is going to add support for named routes in 0.8.0 apparently we already have a context variable called current_route which gives back the current route information.

Seems like all this ticket really needs to the actual URL path of the current request to the context and it'll be done.

Does that seem correct to everyone?

If so, I think we can easily get this into 0.7.3.

[2017-02-06 20:15] #230 closed

[2017-02-06 20:30] #207 closed

[2017-02-06 21:04] #206 closed

[2017-02-07 16:39] jbarone commented on #195
I got it working with webpack v2.0.0 using the following config

[code]

the root cause seems to be `style-loader` which is designed only for use on the client, and not server side rendering. In this case the DOM isn't present and the code fails looking for `window`.

I wound up modifying the example above, because it was still failing for me, to include the `to-string-loader` which seemed to fix

[2017-02-07 21:01] philipithomas commented on #187
We've been using Yarn for awhile without issue. I'm curious to hear about others' experiences.

What would you think of having Buffalo check for the presence of a `yarn.lock` file, and if and only if it exists - using `yarn` instead of `npm install`? I would personally use that on projects.

[2017-02-07 21:03] markbates commented on #187
That doesn't help much when generating a new project. I'd be open to a second asset generator and let people pick if they want npm or yarn or neither when building a new app. The default should be npm since it's still the "standard" for whatever that term means in JS land. :)

[2017-02-07 21:07] philipithomas commented on #187
Ok. I should have some time this weekend for a test implementation. Could probably break it into two PRs - the first for detecting a yarn.lock during the build process, and the second for modifying the `buffalo create` tool.

[2017-02-07 21:09] markbates commented on #187
Ah. The build part that's why you would look for the lock file. Gotcha. Didn't think of that.

[2017-02-07 21:10] markbates commented on #187
Buffalo dev would need to be updated as well.

[2017-02-13 18:54] nuclearsandwich opened #241 "Best way to wrap or dispatch to http.Handler"
This is just a question, but I'm not in the gophers Slack.

I have a buffalo app running on a RaspberryPi which administers several resources on an internal network. I would like to be able to reverse proxy some content from those resources, specified by db model properties, directly within my application rather than configuring a static reverse proxy using something like nginx.

I don't see anyth

[2017-02-13 19:05] markbates commented on #241
Not sure I fully understand the questions, but is this what you are looking for: https://godoc.org/github.com/gobuffalo/buffalo#WrapHandler

[2017-02-13 20:23] nuclearsandwich commented on #241
Yes! I have no idea how I missed that. Blaming lack of coffee. Appreciated.

[2017-02-13 20:23] #241 closed

[2017-02-13 20:24] markbates commented on #241
lol. don't mention it. glad to be of help!

[2017-02-14 19:25] markbates opened #242 "Proposal: ActionSuite"
Lately I've been finding myself using test [suites](https://github.com/stretchr/testify/tree/master/suite) more and more in my applications. I'm wondering if this is something that we should add to Buffalo. While this proposal talks about `ActionSuite` that would be used for testing actions, a similar one, `ModelSuite`, would be created for testing models.

My typical `ActionSuite` usually looks s

[2017-02-14 20:04] stanislas-m opened #243 "Provide a CSRF middleware"
CSRF (Cross-site request forgery) protection is often needed, and could be implemented as a core middleware.

See a sample implementation for Revel (another Go web framework) here: https://github.com/cbonello/revel-csrf

[2017-02-14 20:07] markbates commented on #243
Yes! This would make a great PR for someone. Easy to add.

There is already support for csrf in the `github.com/gobuffalo/tags` package:

https://github.com/gobuffalo/tags/blob/master/form%2Fform.go#L13
https://github.com/gobuffalo/tags/blob/master/form%2Fvelvet.go#L33

Just needs implementing on the Buffalo side.

[2017-02-14 20:13] apaganobeleno commented on #243
@stanislas-m will you work on this one ?

[2017-02-14 20:31] stanislas-m commented on #243
@apaganobeleno I can. :)

[2017-02-14 20:46] markbates commented on #242
To add some meat on this proposal, here is a package that implements this proposal:

https://github.com/gobuffalo/suite

Right now it can be used standalone, but if people like it we can add it to the main repo.

[2017-02-14 21:49] markbates opened #245 "Add a Redirect function to the Router"
Should be pretty straightforward, something like this:

[code]

[2017-02-14 22:21] #245 closed

[2017-02-14 22:41] #224 closed

[2017-02-14 23:51] philipithomas commented on #243
Gorilla has a CSRF package that I've used with gorilla/mux (the Buffalo router) in the past. It's great. Adding CSRF support to the gorilla context so that it's easier to display in templates would be helpful.

https://github.com/gorilla/csrf

[2017-02-15 00:31] apaganobeleno commented on #242
I like this idea, i understand the trade-offs buffalo would be making by introducing this but IMHO the wins are larger and will make testing easier/faster while increasing productivity.

Thanks @markbates for sharing this proposal, hoping to see this getting into buffalo soon and willing to help as possible.

[2017-02-15 06:45] vedhavyas commented on #242
Even, I love the idea of including it in Buffalo. It makes it more convenient when you look at Buffalo framework as a whole.

We could always give a flag to not generate the code with default as True.

[2017-02-15 09:07] stanislas-m opened #249 "I18n (internationalisation) support"
As a plugin / module, I think we can provide a way to manage translations.

Common solutions:
- GNU gettext with po/pot/mo files
- ini files
- yaml or json files

[2017-02-15 14:23] rabellamy opened #250 "Create a Docker container to run Buffalo"
Based on a [discussion in slack](https://gophers.slack.com/archives/buffalo/p1487166662001013) it has come to light that a few members of the community need to run a Buffalo build inside a Docker container.

- [ ] Choose a [base image](https://hub.docker.com/_/golang/)
- [ ] Determine where the Buffalo artifact should be built (inside the container or on the host machine)
- [ ] Create a Makefile
-

[2017-02-15 14:37] drlogout commented on #250
I tried to run a cross compiled binary in a docker container with no success. I got always an error from go.rice:

[code]

First I cross compiled the app:
[code]

Then I added the binary and also the public directory in the `Dockerfile`:

[code]

If I compile the app for macOS and run the binary (somewhere) on macOS it works perfect.

[2017-02-15 14:39] drlogout commented on #250
I tried a different approach, not that elegant, but working:

[code]

[2017-02-15 14:42] apaganobeleno commented on #250
I've seen this issue in a different context, when i first share a buffalo project with a team-mate he has to manually create the /public/assets directory in order to be able to run the project.

Perhaps this issue you're facing is because the /public/assets folder is inside the generated `.gitignore` could you try adding it on your dockerfile ? p.e. `RUN mkdir -p public/assets` before `RUN buffalo

[2017-02-15 15:07] markbates commented on #250
@drlogout that's not an "inelegant" solution, that is in fact, how you should be doing it.

After getting more insight from this ticket, it would appear that the actual problem is not with `rice`, but rather with expectations, documentation, and perhaps error messaging.

When building a "standard" buffalo application you need to have all of the tools necessary to build it, that includes Go, Node,

[2017-02-15 15:35] bketelsen commented on #250
for me, i was already building with a dockerfile that had node and Go, so the problem was likely that public/assets didn't exist. I'll test this.

[2017-02-15 15:53] apaganobeleno commented on #250
Maybe building a base docker image that has all the tools installed (NPM, Go, Node) could also help the buffalo tests by skipping that installation in our Dockerfile and serve as base for builds that need to happen inside a container.

[2017-02-15 15:56] markbates commented on #250
@apaganobeleno yes, as long as it doesn't actually contain any Buffalo code, since the `Dockerfile` in the Buffalo repo is used to test locally developed code.

What I would love is proper Docker images for each Buffalo release.

`FROM buffalo:0.7.3`

It would have Go, Node, NPM, and all of the Buffalo code and dependencies from that particular release already installed on it. We could automate th

[2017-02-15 15:56] markbates commented on #250
Now, who wants to own building those images? :)

[2017-02-15 16:00] bketelsen commented on #250
I’m already half there, I’ll take it on.

[2017-02-15 16:02] bketelsen commented on #250
BTW, just creating the public/assets directory fixed it for me in docker!

BK

[2017-02-15 23:04] gillchristian opened #251 "Documentation Needs to State Requirement for Go >= 1.7"
When running the installation on Ubuntu 16.04 I get the following output.

[code]
And buffalo does not get installed.
[code]

[2017-02-16 05:12] markbates commented on #251
You need to use Go 1.7 or later. This error implies you are running on 1.6 or below.

[2017-02-16 12:04] gillchristian commented on #251
Thanks for the quick answer, totally missed that!

Do you think adding a line about the Go version to the `README.md` is a good idea @markbates? I could PR right away :smile:

[2017-02-16 12:10] markbates commented on #251
It's an excellent PR! Would love to have it.

[2017-02-16 15:46] qawarrior opened #252 "Add Support for MongoDB via mgo package"
It would be nice to have a NOSQL option for the database part of Buffalo. Mongo is and excelent choice and the mgo package is very robust and allows access to almost all mongo features.

[2017-02-16 16:31] markbates commented on #252
What support would you want for it?

Right now a Buffalo application can be generated with the `--skip-pop` flag which will generate an application without any database support, so you could easily use Mongo, Gorm, or whatever you want would want to use.

The generators, and other tools, found under the `buffalo db` command come from the `github.com/markbates/pop/soda` library.

[2017-02-16 18:54] qawarrior commented on #252
ok i see. Then I guess i can just wire up my mongo instance myself fairly easily.

[2017-02-16 18:54] #252 closed

[2017-02-16 18:58] qawarrior opened #253 "install fails when sqllite fails to build."
I have tried everything to get mingw64 to build sqllite-3 driver but gcc always fails. so go get stops when this happens and buffalo never finishes installing.

[2017-02-16 19:24] markbates commented on #253
Is that windows? Have you opened an issue with the SQLite driver? I'm on my phone and don't have the repo at hand.

[2017-02-16 19:54] qawarrior commented on #253
I think I figured it out,I still did not have gcc for 64 bit.

On Thu, Feb 16, 2017, 11:24 AM Mark Bates <notifications@github.com> wrote:

[2017-02-16 19:54] gillchristian commented on #251
Closing in favor of #254

[2017-02-16 19:54] #251 closed

[2017-02-19 09:54] stanislas-m commented on #243
It seems I can't use Gorilla CSRF package without having access to the mux router. Buffalo middleware interface don't provide this kind of access.

[2017-02-19 11:43] markbates commented on #243
You could use it, but it is meant to be used like this in `main.go`:

[code]

With that said, I don't like that approach. There are two approaches that we can take:

1) Write a piece of Buffalo middleware that does this. Using the CSRF package as an example, it should only take about 10 minutes to actually write it. It's not overly complex bit of code.
2) Insert CSRF when using `buffalo.Automatic`

[2017-02-19 11:45] markbates commented on #253
Closing this as it appears that it was resolved on the user end.

[2017-02-19 11:45] #253 closed

[2017-02-19 13:16] stanislas-m commented on #243
Same here. I'll really like it to be a middleware, since you can choose where you want to apply it (then, you can exclude API endpoints for example). Then, I think the first option is the best.

[2017-02-19 15:57] gillchristian commented on #187
I was going to open an issue for this as well. If you need any help @philipithomas let me know :smile:

_Btw_, I've been using `yarn` in production too with no issues.

[2017-02-19 18:00] fooflare commented on #125
Is this going forward? I am working on a template based on create-react-app mainly as training to know better react (and react scripts) and how integrations work in buffalo. It would be nice to have a react generator, but if you are working on it, I will just finish the template and not work in the generator itself.

[2017-02-19 18:11] fooflare commented on #187
What about adding a --with-yarn option and keep npm as default? The file yarn.lock would be generated during the first build, so you can check if it exists in the next ones. Is this going forward? If any help is needed, I am open to work on it.

[2017-02-20 02:57] rabellamy commented on #250
@drlogout: I tried to build a modified version of your [Dockerfile](https://github.com/gobuffalo/buffalo/issues/250#issuecomment-280027652), essentially personalizing the app path.

[code]

My build is failing on `RUN buffalo build -o bin/app` with these errors:
[code]

What is the output for `go env` inside your resulting container?

@bketelsen: Which base image are you using?

[2017-02-20 05:42] markbates commented on #250
@rabellamy try looking at the dockerfile we uss to test Buffalo see if that has any guidance.

[2017-02-20 07:31] drlogout commented on #250
Your go dependencies are not installed.
It worked in my case, because I have a vendor directory in my project folder.

[2017-02-21 10:56] drlogout opened #255 "Can't register custom error handler"
Registering a custom error handler like it's described in the [documentation](http://gobuffalo.io/docs/errors) doesn't add any error handler. The `ErrorHandlers` map which is actually used to get the handler is not altered although it seems to be changed in `actions/app.go`:

The ErrorHandlers map before adding the custom error handlers in `actions/app.go`:
[code]

The ErrorHandlers map after addi

[2017-02-21 12:34] markbates commented on #255
So this works:

[code]

The reason it isn't working for you is probably because of how you are calling it. The error handling code only gets call when you return an error. As I'm doing in the `/works` example. The second example, `/dont` doesn't return an error so the error handling code doesn't get executed.

[2017-02-21 13:43] drlogout commented on #255
This is the code which produces the error:

[code]

That's weird, because handler is returning an error like in your working example.

[2017-02-21 13:50] markbates commented on #255
@drlogout truly bizarre, I updated my app to use your code, and still can't reproduce:

[code]

Version of Go, Buffalo, OS? etc...

Not sure why you can repo this, but I can't.

[2017-02-21 13:53] drlogout commented on #255
Go 1.8 (this behaviour occurred also with Go 1.7), macOS Sierra, Buffalo 0.7.3

[2017-02-21 13:54] markbates commented on #255
I think I see what the difference is. You are handling a `POST` request and I'm handling `GET` requests. I can repo on `POST`. :) Now to fix.

[2017-02-21 13:58] markbates commented on #255
Nope, sorry, I spoke to soon. I still can't repo it. Sorry,.

[2017-02-21 13:58] markbates commented on #255
Everything works just peachy for me.

[2017-02-21 14:02] drlogout commented on #255
Ok, I'll generate a new app and add my changes step by step to figure it out.

Thank you for looking into it!

[2017-02-21 14:04] markbates commented on #255
I wish I could repo. I'm really sorry. If you figure it out, can you open a PR? I'll leave this ticket open for now though.

[2017-02-21 14:08] markbates commented on #187
Closed via #256

[2017-02-21 14:08] #187 closed

[2017-02-21 15:49] drlogout commented on #255
I could reproduce the behaviour you described, but only on a top level route, but not on a group.

See my PR: #257

[2017-02-21 16:12] markbates commented on #255
Ah! A group!! Never thought of that! There you go! Good catch! :)

[2017-02-21 16:12] #255 closed

[2017-02-21 17:58] schigh opened #258 "App.Group incorrectly builds paths on Windows machines"
When creating routing groups (e.g. `/api/v1/`), the `Group` function uses the `path.Join` function.  This function is using the path separator provided in the OS.  This is causing grouped routes to fail on Windows machines (See image below)

A POC (working on my Windows builds) implementation of a fix is here:
https://github.com/schigh/buffalo/commit/c61f9337035086425cf0ea4bc5c918fa3e1e0edf

![ii_

[2017-02-21 18:05] markbates commented on #258
It probably does affect the Resources stuff as well. Would you mind opening a PR for this?

[2017-02-21 18:06] markbates commented on #258
I will very happily merge it!

[2017-02-21 18:07] schigh commented on #258
No prob.  I will do this after a few more sanity checks on my end.

[2017-02-21 18:08] markbates commented on #258
Awesome! Thanks!

[2017-02-21 19:22] schigh commented on #258
Verified paths are correct on Windows machine.  PR to be sent.

![screen-shot-2017-02-21-at-2 14 02-pm](https://cloud.githubusercontent.com/assets/1137201/23180915/09b06e56-f841-11e6-8635-00e4d9a02b55.png)

[2017-02-21 21:34] #258 closed

[2017-02-22 14:21] apaganobeleno commented on #159
@bscott @markbates i can spend some time working on this one (i need it), do you guys think its pertinent to work on this one now ?

[2017-02-22 14:23] markbates commented on #159
@apaganobeleno if you need it, then it's pertinent. :)

[2017-02-22 14:24] apaganobeleno commented on #159
@markbates awesome, i'll keep you posted on this one, thanks!

[2017-02-23 01:06] apaganobeleno commented on #159
@markbates @bscott i built a [very basic buildpack](https://github.com/apaganobeleno/heroku-buildpack-buffalo) for buffalo, it compiles the app successfully but at the end i'm having the same issue i've mentioned over slack.

When running the app it says:

[code]

Any idea what could i be missing ?

[2017-02-23 01:19] apaganobeleno commented on #159
This is the app i'm using with the buildpack -> https://github.com/apaganobeleno/app

[2017-02-23 02:18] freeformz commented on #159
I am the maintainer of the heroku go buildpack, so If you have any needs that aren't met by it, then I am interested in fixing it in the buildpack. I have considered directly adding support for buffalo in the buildpack, but it hasn't reached the top of my queue yet.

[2017-02-23 13:37] apaganobeleno commented on #159
hey @freeformz, thanks for reaching out, and thanks for the heroku-go build-pack! i've mostly copy/pasted the code from it and heroku-nodejs build-pack.

We're having an issue after building the app where it doesn't find some embedded assets, IDK if its something that i'm doing wrong with the env variables or some dependency that go.rice has and i have not included in the build-pack, i'll continue

[2017-02-23 14:44] markbates commented on #159
@apaganobeleno it sounds like the same issue from. Try creating the missing folder in the build pack.

[2017-02-23 14:46] markbates commented on #159
That folder isn't checked in, it's in the .gitignore because webpack should build it.

[2017-02-23 14:55] apaganobeleno commented on #159
Yes, right, i just [modified the buildpack to add it](https://github.com/apaganobeleno/heroku-buildpack-buffalo/blob/master/bin/compile#L100) but it still doesn't work :(.

[2017-02-23 18:13] freeformz commented on #159
Assuming the `git push heroku master` workflow of a gobuffalo project that has a `glide.yaml` (or other vendor tool's file(s)) checked in, what is the most reliable way to determine that the code being received on the other side is a gobuffalo project? I'm thinking of sniffing for `actions/app.go` and looking for an import of `github.com/gobuffalo/buffalo`. Does that sound reasonable?

[2017-02-23 20:39] apaganobeleno commented on #159
@freeformz i think by checking the existence of the `buffalo.dev.yml` should be enough.

[2017-02-24 16:40] freeformz commented on #159
@apaganobeleno I can't find that file anywhere in my test gobuffalo project created with v0.7.3.

[2017-02-24 17:35] markbates commented on #159
It's a hidden dot file '.buffalo.dev.yml'

[2017-02-24 17:41] freeformz commented on #159
hah. So it is!

[2017-02-25 21:54] tsauter opened #261 "models starting with a b produce errors"
Hi,

the code for database model generation produce invalid code when the model starts with a *b*.

`
func (b Boxes) String() string {
   b, _ := json.Marshal(b)
    return string(b)
}
`

This results in compiler errors.

[2017-02-26 20:13] charlesmims opened #262 "v0.7.3 webpack2.0 release breaks default configuration"
With a fresh install of v0.7.3 and go v1.8, using postres, I get the following error when trying to start `buffalo dev` on a new project:

[code]

I modified webpack.config.js so that lines 38-41 changed from
[code]
to
[code]
and now I get
[code]

I manually upgraded npm  and node (was on 7.5.0, now 7.6.0) and installed webpack@2.2.1.  Now it runs,  with the following errors:
[code]
Installing web

[2017-02-26 20:17] charlesmims commented on #262
[code]

[2017-02-26 20:56] charlesmims commented on #262
Amós Oviedo figured out that setting     "extract-text-webpack-plugin": "~0.8.0",  in package.json clears this up.

[2017-02-26 21:03] fooflare commented on #195
extract-text-webpack-plugin-2.0.0 has been released as stable, buffalo is broken with current webpack.config.js #262. This issue should be solved or specify its version to a compatible one.

[2017-02-26 23:48] jgeiger commented on #250
Something to consider, if you're going to try to run it in development mode, you're going to need to include the binary commands for all of the dbs beyond just sqlite.

I looked at your testing [Dockerfile](https://github.com/gobuffalo/buffalo/blob/master/Dockerfile) and doesn't take those into account.

I have a similar setup in Rails where all the rake commands are run via the same container as

[2017-02-27 07:06] #262 closed

[2017-02-27 07:07] #195 closed

[2017-02-28 09:18] stanislas-m commented on #261
Hello,

this is an issue in https://github.com/markbates/pop, but I can reproduce it.

[2017-02-28 12:49] fooflare commented on #261
Isn't this a scope problem? b Boxes is inside the scope of the function and you are defining again b (b, _ := ...)

[2017-02-28 19:26] stanislas-m commented on #261
@fooflare The template for model generation defines the variable as "b", and the param as "the first letter of the model". I think this is a real issue.

[2017-02-28 20:30] fooflare commented on #261
I see, now I checked the lines in the issue you opened in pop. The problem is that the name you choose for the variable never can be used as a model name. I love the comments in the 3 functions that are causing the issues :-)

[2017-02-28 20:34] fooflare commented on #261
Oooops!!! I forgot to say that just changing the name of the variable to anything with more than one character would be enough.

[2017-02-28 20:36] markbates commented on #261
Sounds like an easy PR for someone. :)

[2017-02-28 20:43] fooflare commented on #261
Right now I'm not in front of the computer, but later if nobody does it, I will :-)

[2017-02-28 20:45] stanislas-m commented on #261
Since it only a matter of minutes, I'm doing it now. :)

[2017-03-01 16:34] markbates commented on #261
Closed via https://github.com/markbates/pop/pull/39

[2017-03-01 16:34] #261 closed

[2017-03-02 04:23] fadeojo opened #266 "buffalo command throwing errors"
I ran `go get -u github.com/gobuffalo/buffalo/buffalo`
 and any `buffalo` command I run shows the following;
[code]

go version: `go version go1.7.4 darwin/amd64`

[2017-03-02 09:20] fooflare commented on #266
This issue is caused by pop, I just opened there another one to solve this.

[2017-03-02 12:34] markbates commented on #266
I've rolled back those commits to pop, so this should be resolved now.

[2017-03-02 12:34] #266 closed

[2017-03-03 20:03] stanislas-m commented on #243
I'll work on that this weekend.

[2017-03-05 14:45] stanislas-m commented on #243
Closed with #271.

[2017-03-05 14:45] #243 closed

[2017-03-05 20:33] stanislas-m commented on #181
@bscott, do you want to work on this? I can take care of it otherwise.

[2017-03-08 07:10] u007 commented on #249
will this help?
https://gist.github.com/u007/fda1dd4f92f424242732b5f7a82d5fc3

[2017-03-08 19:08] stanislas-m commented on #249
@u007 Hum, if you look at the comments in the code:

[code]

I think it just have to be called like this in a custom middleware.

[2017-03-08 20:47] markbates commented on #249
We also need to think about, make sure, that translation files get bundled into the binary that is built.

[2017-03-09 02:31] apaganobeleno opened #277 "Destroy CLI"
Sometimes as a developer you need to remove a generated model/migration/other because its no longer relevant or you mistyped it, it would be great to have buffalo's CLI to help destroying the generated code, which should be in most of the cases the oposite operation that the generate command does.

@markbates Thoughts ?

[2017-03-09 04:57] u007 commented on #249
ive done an update, will update the gist soon, made a middleware to setup velvet with context
and pass shared i18n setup to another sub directory so it can be shared among actions

[2017-03-09 15:44] markbates commented on #277
That seems like it would be a good idea.

[2017-03-09 19:01] apaganobeleno commented on #42
This one was covered by #270

[2017-03-09 19:38] markbates opened #278 "Skip vendor directory during build when looking for rice files"
When running `buffalo build` with a `vendor` directory you'll get the following output:

[code]

The build works just fine, but there's no reason to even look in the vendor directory.

[2017-03-09 20:24] markbates opened #280 "Removed the dependency on TT (and BoltDB)"

[2017-03-09 20:25] markbates opened #281 "Set up test db before running `buffalo test`"
When running `buffalo test` the test DB should be created and migrated so that it works properly.

[2017-03-09 20:44] #281 closed

[2017-03-09 20:45] #280 closed

[2017-03-09 20:45] #278 closed

[2017-03-09 22:44] #225 closed

[2017-03-10 15:16] sivalingams opened #284 "Documented video link is broken"
https://github.com/gobuffalo/buffalo/blob/master/app.go#L74

https://www.youtube.com/watch?v=BKbOplYmjZM

The above video link in document is broken. It gives an message of " This video is not available. "

[2017-03-10 15:29] markbates commented on #284
The video might not be available in certain parts of the world. In any case, it's just an Easter Egg video. It's for a song called, "Automatic Buffalo", by a band called The Sheila Divine.

[2017-03-10 15:29] #284 closed

[2017-03-13 01:48] u007 opened #285 "context.HasParam(name) ?"
hi,

is there any quick way to have this?

thanks

[2017-03-13 05:46] u007 commented on #285
sorry, was intended for Request.Form

[2017-03-13 05:46] #285 closed

[2017-03-13 06:51] u007 opened #286 "documentation update to skip field update"
[code]

[2017-03-13 21:59] markbates opened #287 "Contribute to Gore to not require the binary"
Currently when using github.com/motemen/gore Buffalo needs to shell out to the binary.

This ticket is to contribute to the Gore project, or rewrite if the project is not open to changes, to allow for direct access to the library, without the need for the separate binary.

This will make it easier to install Buffalo since there will be one less binary to worry about it. It will also allow for tigh

[2017-03-14 13:11] vhontar opened #288 "sql: Scan error"
Hi i have this strange error, my db postgressql, buffalo 0.7.4
`sql: Scan error on column index 7: unsupported Scan, storing driver.Value type <nil> into type *string`

I took code from your json_crud example

`// UsersList returns all user data in JSON
func UsersList(c buffalo.Context) error {
	users := &models.Users{}
	tx := c.Get("tx").(*pop.Connection)
	err := tx.All(users)
	if err != nil {

[2017-03-14 13:13] markbates commented on #288
Go doesn't allow that. You have to use a special type that can handle null values correctly. Try this package https://github.com/markbates/pop/tree/master/nulls

[2017-03-14 13:13] #288 closed

[2017-03-14 13:55] vhontar commented on #288
Thank you

[2017-03-14 14:55] markbates opened #289 "The migrate command on a built binary doesn't work"
After building a binary and trying to run `mybin migrate` it starts the server instead of running the migrations. This appears to only be broken in `0.8.0`.

[2017-03-14 15:03] markbates commented on #289
Apparently this was just me being stupid. I had an binary of the same name installed and instead of running `./mybin` I was running `mybin` which ran the old binary. Oops. :)

[2017-03-14 15:03] #289 closed

[2017-03-14 18:34] bscott commented on #181
@stanislas-m By all means please, I'll assign to you

[2017-03-15 18:54] markbates opened #290 "Drop go.rice support"
While the go.rice project has been helpful in being able to create fully packaged binary, it has also caused more problems than I want, namely the panic around not being able to find `../public/assets`. That one happens a lot!

The package also prevents Buffalo apps from run on GAE #213, while it not the only package preventing us to get on GAE, it is definitely one of the bigger ones.

In `v0.8.0

[2017-03-17 07:33] u007 opened #291 "db based session store"
hi,

how do i apply custom store to my project for session?

thank you

[2017-03-17 07:37] u007 commented on #291
nvm, i found the app initialization supporting custom session store option
https://github.com/gobuffalo/buffalo/blob/cae4585044138c8ea367cc869e70b2d3c7afae1c/options.go

anybody did a pop based session store?

[2017-03-17 07:59] u007 opened #292 "adding mailer"
hi,

i would like to suggest a default mailer, as example :)

https://gist.github.com/u007/7cea82c4c4dc5e219661b8e5d9acf9bc

[2017-03-18 17:03] stanislas-m commented on #181
Here is my current work on this feature:
https://gist.github.com/stanislas-m/9e202a8881aab9932e41b9e4d8742931

This config will setup a runner to execute the tests for the created project, so I think the feature is at the same level as the Travis one.

I have a remaining problem to solve: the way Gitlab CI manages services (the links to the databases, in this case) force the db host in the databas

[2017-03-18 17:36] markbates commented on #181
My first thought is you want to build this against the v0.8.0 branch, since the generators have been completely refactored.

As to the database settings, not sure I fully understand the problem, but might I recommend looking at the env and envOr helper methods that let you use env variables in the database.yml file.

[2017-03-18 19:21] stanislas-m commented on #181
No problem, I've just done the new version.

My problem is the way the database.yml is generated:

[code]

Since the PostgreSQL server is not on 127.0.0.1 in this case (it will be on a dynamic host created by Gitlab), the test will fail. So, we can either:
- ask the user to change the host by hand
- let Buffalo customize it by tweaking Pop
- change Pop template to use `envOr` helper on test case (

[2017-03-18 20:44] as27 opened #295 "Test fails on Windows in router_test.go"
When running `go test` on a windows machine, the test fails in router_test.go

Looking inside the test shows, that the bug is inside the test. A url is joined using `filepath.Join()` That may work on linux or mac, but not on windows:

[code]

After correcting the path, there are still bugs inside the test cases. Everywhere "/" is called gives then a 404. That is because the `filepath.Join()` did n

[2017-03-18 21:23] as27 opened #297 "Add basic functions into the default implementation of resource functions"
The generator for resources should generate some more code into the default implementations. The command `buffalo g r users` should add a basic functionality for the model `user`.

The generated code should be similar like in the [html-resource example](https://github.com/gobuffalo/buffalo/blob/master/examples/html-resource/actions/users.go). But I would suggest not to use a middleware inside the

[2017-03-18 21:30] #295 closed

[2017-03-18 21:37] markbates commented on #297
It'll be cleaner if you use the new(ish) ValidateAnd... methods https://godoc.org/github.com/markbates/pop#Connection.ValidateAndCreate

[2017-03-18 21:38] markbates commented on #297
This probably better code to model after https://github.com/gobuffalo/toodo/blob/master/actions/todos.go

[2017-03-19 16:14] #290 closed

[2017-03-19 23:57] #165 closed

[2017-03-19 23:57] #42 closed

[2017-03-20 12:56] as27 commented on #297
Inside the documentation it is not defined how to use the resources generator for longer named models.

For one word models that is clear, but whats with longer model names. For example a model `ContentSection`.

How should the user generate that resource?

[code]

or should the generator support all possibilities?

[2017-03-20 12:57] Wanderfalke opened #303 "fatal error: concurrent map writes"
Hi! Trying to make parallel requests gives me following error (running freshly generated app with default handler):
[code]

go version:
`go version go1.8 darwin/amd64`

[2017-03-20 13:06] vhontar opened #304 "Best practices of model error handling"
Hi, can you send example of the best practice of model error handling, because when i try to save model to db it returns ugly error
`
{"code":500,"error":"pq: duplicate key value violates unique constraint \"user_email_key\"\npostgres error inserting record\ngithub.com/markbates/pop.(*postgresql).Create\n\t/go/src/github.com/markbates/pop/postgresql.go:44\ngithub.com/markbates/pop.(*Connection).Cr

[2017-03-20 14:41] Wanderfalke commented on #303
Same thing happens on Linux (Ubuntu 16.04) go1.8 linux/amd64.

[2017-03-20 14:43] markbates commented on #303
Looks like there is a mutex missing. It's been fixed here: https://github.com/gobuffalo/velvet/commit/d97471bf5d8fd758ba0ecc7a085796b71ffc8957

Strange that the race detector, and no one else has reported this, I haven't seen it either. With that said, glad to fix it! :)

[code]

If you're just starting a new app, might I recommend switch to https://github.com/gobuffalo/plush as your template engi

[2017-03-20 14:43] #303 closed

[2017-03-20 14:47] #242 closed

[2017-03-20 14:50] markbates commented on #304
I think what you want is the `Error` function on `buffalo.Context` https://godoc.org/github.com/gobuffalo/buffalo#Context. It allows you to set the status code and error you want to return.

It looks like you are probably just returning whatever you get from the database. When you do that you get a `500` status code, and the original error.

You probably want to handle the errors a bit better, and

[2017-03-20 14:50] #304 closed

[2017-03-20 14:52] markbates commented on #297
I would think it should be able to support any of those possibilities.

[2017-03-20 15:14] vhontar opened #306 "Context Session"
hi, i try to set variable into session, but every time when i send post request to server session changed and i lost all my data that i saved in session, what i've done wrong. Here is example of code:
`c.Logger().Info(c.Session().Session.Values)

	c.Logger().Info(body.Hash)
	userID, ok := c.Value(body.Hash).(int)
	c.Logger().Info(c.Value(body.Hash))
	user := models.User{}

	if ok {
		value := mode

[2017-03-20 15:24] markbates commented on #306
`buffalo.Context` is not a session, it's a per request context.

To set a value on the session you have to get the session via `c.Session()`, and use it accordingly. https://godoc.org/github.com/gobuffalo/buffalo#Session

[code]

Make sure to check the error on `c.Session().Save()` as well to make sure things are good.

[2017-03-20 15:24] #306 closed

[2017-03-20 15:44] Wanderfalke commented on #303
@markbates Thanks for the answer. I'm currently evaluating buffalo as replacement for a small Rails project. Looking forward to v0.8.0.

[2017-03-21 09:50] vhontar commented on #306
Thank you

[2017-03-21 10:08] vhontar commented on #306
Interesting things:
i sent post query
my log: time="2017-03-21T10:02:52Z" level=info msg="map[requestor_id:814590668c e060c98bca4eb4469bcc9202d9ffe25a:26 dermo:3]" method=POST path="/signup" request_id=814590668c-8290
it was written to session normal
my next post query after previous:
my log:time="2017-03-21T10:04:34Z" level=info msg="map[requestor_id:f2f15ffb59]" method=POST path="/signup" reques

[2017-03-21 11:27] maxmeyer opened #308 "Lower case package dependency"
There are several places where you use `github.com/Sirupsen/logrus` in your imports (https://github.com/gobuffalo/buffalo/search?utf8=%E2%9C%93&q=Sirupsen) - sirupsen with capital "s". But: The import path is lower case on Github. Would you mind to fix this and use the lower case import path in your packages?

With the current implementation you might see the following error:
[code]

Cheers,
Denni

[2017-03-21 11:39] markbates commented on #308
According to their documentation it's uppercase Sirupsen. That's what they are using in the code on their README.

[2017-03-21 11:39] #308 closed

[2017-03-21 17:03] vhontar opened #309 "Session"
Sorry again, you answered me here:
i tried your code and i don't know why but i didn't have value in session
Interesting things:
i sent post request

my log: time="2017-03-21T10:02:52Z" level=info msg="map[requestor_id:814590668c e060c98bca4eb4469bcc9202d9ffe25a:26 dermo:3]" method=POST path="/signup" request_id=814590668c-8290
it was written to session normal
my next post request after previous:

[2017-03-22 18:13] stevesloka opened #310 "New project - webpack error"
My first time using buffalo, I installed the binary, then did a buffalo new to build a project. When building or trying to run dev, I get the following error, I do have node and webpack installed, anything else I can check?

[code]

[2017-03-22 18:16] markbates commented on #310
Web pack released their version 2.3.0 which broke compatibility with 2.2.x. The all of a sudden declared that that needs to be an absolute path.

The quickest fix is to change line 13 in `webpack.config.js` to this:

[code]

[2017-03-22 18:17] #310 closed

[2017-03-22 19:07] as27 commented on #297
I am moving forward. Now I need feedback, because I am not sure if I am on the right track. The following file is completely generated via `buffalo g r pages`:
[Link to the gist: pages.go](https://gist.github.com/as27/c5bf31a0f3e8faef71044d44ee870028)

Not all functions are completed so the status is WIP. The code compiles and works, when the template files exist.

I added some comments to make th

[2017-03-22 19:16] markbates commented on #297
Wow! This is looking really good so far! Very impressed!

To answer the last question first, you need to escape the `{{` otherwise Go templates tries to execute it. Here's an example of how to escape it:

https://github.com/markbates/pop/blob/master/soda%2Fcmd%2Fgenerate%2Fconfig_templates.go#L12

It's ugly, but that's just how you do it. :(

I'm all for comments in the generated code, the more th

[2017-03-22 20:08] markbates commented on #310
you're welcome. i released `0.7.4.1` to fix the generated file, but i'm a little frustrated they broke it. :(

[2017-03-23 01:26] pitakill opened #311 "Install in Arch Linux fails"
I'm running Arch Linux:

`$ uname -a`
[code]

`$ go env`
[code]

And

`$ go get -u github.com/gobuffalo/buffalo/buffalo`

after some time only get the package but does not build anything.

I've been trying to debug what is happening but without luck.

In `$GOPATH/src/github.com/gobuffalo/buffalo` the command `$ go build -x -v .` output is: `WORK=/tmp/go-build116307171` and immediately after is my

[2017-03-23 17:23] MerreM opened #312 "Update docs to reflect current state of template context."
Don't know what I'm doing wrong, but I suspect the docs need updating.

[2017-03-23 17:24] markbates commented on #312
The docs do need updating. Where did you find that? Which doc?

[2017-03-24 09:32] MerreM commented on #312
https://godoc.org/github.com/gobuffalo/buffalo#DefaultContext.Params

[2017-03-24 17:45] SpencerCDixon opened #317 "Having trouble installing -- prob easy fix"
Apologize this is probably total Go noob question but I'm having troubles installing buffalo.  I keep getting git issues and not entirely sure how to approach debugging this.  Maybe someone here knows??

<img width="723" alt="screen shot 2017-03-24 at 1 43 59 pm" src="https://cloud.githubusercontent.com/assets/7471018/24306772/16bba5ba-1098-11e7-8bf0-7537a9a6756b.png">

[2017-03-24 17:47] markbates commented on #317
I've seen this happen before with `go get`. Something, I don't know what, causes those packages to get into some weird git state where they're not a branch any more.

The "fix" is to go into those packages and set them all to `master` again. I think this is a known issue with `go get`, it's not actually a Buffalo issue.

[2017-03-24 17:47] #317 closed

[2017-03-24 17:48] markbates commented on #317
For reference: https://groups.google.com/forum/#!topic/golang-nuts/t9dLLVwsMlM

[2017-03-24 17:50] SpencerCDixon commented on #317
Yeah just saw that! Fixed it by `rm -rf`ing all the paths in that go get output.  Thanks for the quick response though!

[2017-03-24 19:44] SpencerCDixon opened #322 "Potential enhancement -- version cmd"
Hey Mark/buffalo team,

New to Go but really digging this lib after coming from Rails world.  Was wondering if I put together a PR for a `buffalo version` command if that is something you would accept/find useful?

[2017-03-24 19:46] markbates commented on #322
Absolutely! I thought this one already, but apparently there isn't. :)

Should be a fairly straightforward first PR.

[2017-03-24 19:46] apaganobeleno commented on #322
@SpencerCDixon i think it would be helpful, not sure if @markbates agrees but anyways make sure to send the PR from the 0.8.0 branch, which will be the next release for features, am i right @markbates  ?

[2017-03-24 19:46] markbates commented on #322
You are definitely correct there @apaganobeleno

[2017-03-24 20:06] SpencerCDixon commented on #322
Will do, thanks guys!  Figured it be an easy PR, will work on it this weekend.  Cheers

[2017-03-25 12:56] nrcook opened #324 "Asset paths returning 404"
I pulled down Buffalo and tried to get the default page up and running.  No other config changes other than `database.yml` (which worked great). `buffalo new` and `buffalo dev` both run fine, no errors thrown. We visiting `localhost:3000` the page shows, but no assets (CSS, JS, or images) are loading.  Console shows they are returning 404.

Webpack _seems_ like it is working?
[code]
<img width="54

[2017-03-25 13:23] markbates commented on #324
Confirmed. Fix forth coming.

[2017-03-25 13:24] markbates commented on #324
To fix change line 13 of `webpack.config.js` to:

[code]

[2017-03-25 13:24] #324 closed

[2017-03-25 14:16] apaganobeleno commented on #210
Hey @markbates i'm working on this over the weekend, i wanted to summarize the behavior here now that plush is in place and looking forward to integrate this into v0.8.0.

This feature is willing to provide users with the chance to do something like:

[code]
What will provide 3 functions that the user could use like:

[code]
As can be noticed route name can be defined explicitly (peepPath) or it w

[2017-03-25 15:31] markbates commented on #210
That's mostly right. The only thing I would say is that the path functions should take a map.

[code]

A little secret, that most people don't know is that if `map[string]interface{}` is the last, or second to last argument in a Plush helper function, then it is optional. :)

[code]

[code]

[2017-03-25 16:14] markbates commented on #210
Here's a real life example:

https://github.com/gobuffalo/gobuffalo/blob/theme/actions/helpers/code.go#L13

[code]

[code]

[2017-03-25 16:15] markbates commented on #210
With all that said, it would be really cool if we co either of these:

[code]

[2017-03-25 16:16] as27 opened #325 "Test fails in v0.8.0 buffalo/cmd/generate on Windows"
In the v0.8.0 branch `go test` inside `github.com\gobuffalo\buffalo\buffalo\cmd\generate` fails on my Windows 10.

[code]

The fails come, because `os.RemoveAll()` returns an error, that the files could not be deleted.

To check if Buffalo is imported the test should just check for `"github.com/gobuffalo/buffalo"`. That the tests work completely correct I would use a different model in every test.

[2017-03-25 19:03] markbates commented on #325
Merged in #327

[2017-03-25 19:03] #325 closed

[2017-03-26 00:53] apaganobeleno commented on #210
Awesome, working on it, thanks for the explanation @markbates

[2017-03-26 05:41] as27 opened #328 "Integration test to resources fails, when basic implementation contains a model."
If the resource generator does more than just a empty basic implementation (see #297) the tests fails:

See [here](https://travis-ci.org/gobuffalo/buffalo/jobs/214762148#L1481)

[code]

If the generator generates the basic functions for adding, editing and removing entries, there is a reference to the models package inside the generated code. If the generator runs with the flag `--skip-model` the

[2017-03-26 06:59] as27 commented on #328
I just made a version for `--skip-model` and the error is still there. So I think it is not that flag. It is really inside the `RUN buffalo test -race`. But I do not understand what happens there.

[2017-03-26 08:57] stanislas-m commented on #181
Closed by #305.

[2017-03-26 08:57] #181 closed

[2017-03-26 10:56] as27 commented on #328
I can reproduce the error now at a own repository and inside the test that line (https://github.com/gobuffalo/buffalo/blob/v0.8.0/generators/resource/resource.go#L37) `g.Add(makr.NewCommand(makr.GoFmt()))` does not make a `goimport` then the import path is not correct.

But if we know the base import path of the project we could generate the correct path inside the code. Is there a simple solution

[2017-03-27 08:20] as27 commented on #328
After adding the import path for the model ([commit](https://github.com/as27/buffalo/commit/3df58466e9d2edacabd8e818080c0cccfd85393f#diff-9c771dec48a95d0bf3c57c125e65e2f9) the error is still there. So it is not the import path. But that commit causes a real performance boost to the `goimport` step.

[2017-03-27 08:43] u007 opened #331 "RateLimiter middleware"
Have anyone successfully implemented a rate limiter?

would be nice if its by ip and rate based on a duration

appreciate the share :)

thank you

[2017-03-27 15:18] #182 closed

[2017-03-27 15:19] #322 closed

[2017-03-27 15:22] #312 closed

[2017-03-27 15:25] markbates commented on #328
So here is my thoughts regarding all of this.

I think `--skip-model` shouldn't generate any model stuff, and should generate the same resource stuff that it does today.

We should add a new flag, `--use-model`, that takes an existing model to use, so don't generate new model stuff like migrations, but generate the resource stuff with all the bells and whistles of talking to that model.

Finally,

[2017-03-27 15:26] markbates commented on #125
I'm closing this issue. Please see the discussion in https://github.com/gobuffalo/buffalo/pull/276 of why.

[2017-03-27 15:26] #125 closed

[2017-03-27 22:26] markbates opened #335 "Replace schema package"
We have been using http://www.gorillatoolkit.org/pkg/schema for the binding of HTML forms to models, however, I have run into issues using it. For example, it doesn't allow for the binding of maps to a field.

During my travels I found the following package which looks quite promising and seems to do all we need it to do:
https://github.com/monoculum/formam

This is everyone's chance to weigh in o

[2017-03-28 01:48] michaelkacher opened #336 "Windows 10 new buffalo site sqlite3 "<no value>" in database.yml"
I am pretty new to buffalo, but I believe when I experimented with .7 and ran:
$ buffalo new coke --db-type sqlite3
I was able to immediately run the dev site.  Now I receive a 500 error.  Looking at my database.yml I see the following:

production:
  dialect: "sqlite3"
  database: {{env "GOPATH" }}< no value >/theater_production.sqlite

After removing the "< no value >" I am to run as before.

[2017-03-28 04:21] u007 opened #337 "reflect.Set: value of type uuid.UUID is not assignable to type uuid.UUID"
since version upgraded to buffalo v0.8,
i get this error, previously was working:
[code]

[2017-03-28 04:26] u007 commented on #337
okay i found the issue, my vendor/github.com/satori/go.uuid seems to conflict with gopath/src/github.com/satori/go.uuid,
after removing vendor/github.com/satori/go.uuid and it works

[2017-03-28 04:26] #337 closed

[2017-03-28 04:32] u007 commented on #337
ive to remove entire vendor directory

[2017-03-28 06:15] nathankerr commented on #336
Same results with buffalo 0.8.0, go1.8, macOS 10.12.3

0.7.4 used:

database: ./theater_production.sqlite

[2017-03-28 14:25] #336 closed

[2017-03-28 14:26] markbates commented on #336
Thanks. The problem was actually at https://github.com/markbates/pop if you rebuild the Buffalo binary it will pick up the change and generate the sqlite configs correctly. Thanks.

[2017-03-28 15:05] pitakill commented on #311
I can confirm that with the new release (v0.8.0); it installs and works as expected. :)

Cheers!

[2017-03-28 15:05] #311 closed

[2017-03-28 15:06] markbates commented on #311
Woot!!!

[2017-03-29 00:24] carimura opened #338 "Getting "Killed: 9" response from buffalo binary"
simply followed the installation instructions and then ran `buffalo new` and i got the response:

No commands work.

[2017-03-29 00:26] markbates commented on #338
Can you please give some more info? OS? Results of `go env`? That sort of thing. Thanks.

[2017-03-29 08:14] sreimer15 opened #339 "Upgrade of gobuffalo and running go setup -u wants to reference a resolvers package that doesn't exist anymore"
Hi.
I recently updated my go buffalo version by removing buffalo from $GOPATH/pkg and $GOPATH/src/github.com/gobuffalo and re running go get -u github.com/gobuffalo/buffalo/...
and on running go setup I get the following error.

`
=== Error! ===
buffalo: 2017/03/29 01:06:02 === exit status 1
actions/render.go:8:2: cannot find package "github.com/gobuffalo/buffalo/render/resolvers" in any of:  /usr

[2017-03-29 11:00] markbates commented on #339
There are some changes in your app you need to make. Here is a blog post that explains what has changed in the latest release.

https://blog.gobuffalo.io/buffalo-v0-8-0-released-33f1786eadf

[2017-03-29 11:00] #339 closed

[2017-03-29 11:09] markbates commented on #338
https://gophers.slack.com/archives/buffalo/p1490777379178679

[2017-03-29 11:09] #338 closed

[2017-03-29 11:09] markbates commented on #338
https://github.com/golang/go/issues/19734

This is apparently a bug with Go and an old version of MacOS.

[2017-03-29 13:13] xenamorph opened #340 "Patch for a new project, "buffalo new" cmd on windows 10"
The standard location for putting Go projects is something along the lines of "$GOPATH/src/github.com/host name\user name/./..." (adjust accordingly).

OS Win 10
$GOPATH=d:\gosrc\src

[2017-03-29 13:22] as27 commented on #328
Now I know why the tests are failing, because the model is deleted here:
https://github.com/gobuffalo/buffalo/blob/master/Dockerfile#L45

If I delete this line there is another error:
[code]

But that when the model definition is needed inside the resource file the model should be not deleted.

So one solution to solve this is to delete the tests at line 52 and 53
https://github.com/gobuffalo/buff

[2017-03-29 14:50] markbates commented on #340
Can you explain this a bit more? I don't understand what you mean by "patch". There is no PR.

[2017-03-29 14:59] xenamorph commented on #340
I can't create a new project in Windows with "buffalo new"

[2017-03-29 15:07] as27 commented on #328
I just found another solution. Moved the tests to the user model after `buffalo test -race` so the test just runs on the `--skip-model` part, which has no errors.

[2017-03-29 15:31] markbates commented on #340
Looking at it, it looks like you're not in your `$GOPATH/src/github.com/...` folder, but rather in `$GOPATH/github.com/...` all Go projects need to be under `$GOPATH/src`. Try creating the project in under `$GOPATH/src/github.com/...` and it should work.

[2017-03-29 15:36] xenamorph commented on #340
d:\gosrc

Buffalo version 0.8.0

Oops! It would appear that you are not in your Go Workspace.

Your $GOPATH is set to "d:\gosrc".

You are currently in "D:\gosrc\src\github.com\quick".

The standard location for putting Go projects is something along the lines of "$GOPATH/src/github.com/Cheef\radex/quick" (adjust accordingly).

We recommend you go to "$GOPATH/src/github.com/Cheef\radex/" and try "

[2017-03-29 15:38] markbates commented on #340
Ok. It looks like a capitalization issue. Definitely we can fix here. In the meantime, if you set your $GOPATH to start with `D:` instead of `d:` it should work.

[2017-03-29 15:40] xenamorph commented on #340
Thank you, sorry for my bad english

[2017-03-29 16:28] markbates commented on #340
No need to apologize. I don't use Windows, so it's hard for me to understand the problem. This should be relatively easy to fix in Buffalo.

[2017-03-29 18:24] #340 closed

[2017-03-29 19:36] kumarsiva07 commented on #125
How do i create new app with react? In #276, --with-react is the option for that. But its not working.

[2017-03-29 19:39] markbates commented on #125
@kumarsiva07 that PR was not merged. If you read the PR it explains why it was never merged in.

[2017-03-29 22:23] markbates opened #342 "Generate the `middleware.CSRF` middleware in new applications"
I propose that we generate new applications with the `middleware.CSRF` middleware enabled.

[code]

It's useful, good practice, and the https://github.com/gobuffalo/tags/tree/master/form package supports it already.

This won't break anything, but could cause some issues for people who don't know what CSRF is and how to use it.

Thoughts?

[2017-03-30 06:51] stanislas-m opened #343 "--skip-pop doesn't work"
Using a fresh GOPATH, on a Linux machine (go version go1.7.1 linux/amd64), I tried to create a new app with the `--skip-pop` flag:

[code]

Pop is still included in the created project:

[code]

[2017-03-30 07:13] u007 opened #344 "context.Logger().InfoF or Errorf does not have color"
Hi,

i realized all my logging does not have color on my mac terminal.
i can see color when it runs in green for this text:
=== Running: go build -v -i -o tmp/project-build (PID: 32828) ===

but all my context logger is in plain white text.
iam using black background terminal with white text

please advice

thank you

[2017-03-30 15:04] #343 closed

[2017-03-30 15:22] markbates commented on #344
That's expected. It's a result of using `io.Multiwriter` to capture error output during development when building the binaries. We need to both display the error and capture it so we can should the build error later on. Unfortunately `io.Multiwriter` strips out color information.

When running the final built binary, i.e. not using `buffalo dev`, colors should be rendered as expected.

[2017-03-30 15:22] #344 closed

[2017-03-30 15:52] SpencerCDixon opened #346 "Upgrading to V0.8X"
I wanted to upgrade my buffalo version to start playing around with V0.8 features and something odd is happening.

First I tried just re-running the `go get` command.  That didn't work so next I tried:

* `rm -rf gobuffalo`
* `rm ~/go/bin/buffalo`
* `go get ....`

Here is a screenshot of the output:
![screen shot 2017-03-30 at 11 52 36 am](https://cloud.githubusercontent.com/assets/7471018/2451350

[2017-03-30 16:22] markbates commented on #346
You are probably a victim of this:

https://github.com/gobuffalo/buffalo/issues/338

It's a known Go issue that happened with the recent update to MacOS. It's affecting a lot of Go binaries.

I worked around it by downloading Xcode 8.2.1 and replace the one in my `/Applications` directory with it.

The Go team, I believe is working on a fix.

[2017-03-30 16:22] #346 closed

[2017-03-30 17:51] damienstanton commented on #338
This issue is closed, but in case it is helpful - rolling back from Xcode 8.3 to 8.2.1 followed by a re-`go get` resolved this for me.

[2017-04-01 00:47] philipithomas commented on #331
Some relevant articles from Stripe about redis-backed rate limiters, including some ruby and lua example code:

Article - https://stripe.com/blog/rate-limiters

Code - https://gist.github.com/ptarjan/e38f45f2dfe601419ca3af937fff574d

Uber has an open-source, in-memory rate limiter:

https://github.com/uber-go/ratelimit

[2017-04-01 06:22] lanybass commented on #340
I just want create my project whereever I want. I don't want to modify my computer's name or user name to fit my Github's Username.
so if it's "We recommend .." ,so what if I unaccept . No choice for me ?
@markbates

[2017-04-01 06:42] xenamorph commented on #340
That is unnecessary
markbates>> if you set your $GOPATH to start with D: instead of d: it should work.

[2017-04-01 06:51] lanybass opened #347 "actions-packr.go: path error in windows"
the slashes in D:\ should be replaced with \\ or /

[2017-04-01 08:39] as27 commented on #340
@lanybass when you use Buffalo you use Go. Then you don't have choice. Look here: [How to Write Go Code: Workspaces](https://golang.org/doc/code.html#Workspaces). The discussion about the GOPATH is a big thing in the Go community.
But a Buffalo project is a Go project, so that project needs to follow the Go restrictions.

[2017-04-01 10:58] as27 commented on #347
The problem at this point is when generating a filepath into go file `\` needs to be escaped.

For example the generated file should look like this:
[code]

[2017-04-01 13:34] markbates commented on #347
It shouldn't be generating absolute paths at all. It should be relative paths. If it's generating full paths, that's the problem.

[2017-04-01 14:19] as27 commented on #347
Not only the absolute path. I could reproduce an error.

See line 12:
[code]
Which gave following error:
[code]

[2017-04-01 14:26] markbates commented on #347
So who amongst you windows developers wants to help me out and fix this? :) pretty please. With sugar on top.

I don't have a windows box so I would just be hacking around trying to figure it out.

[2017-04-01 15:37] as27 commented on #347
I can try it, but I need some time to understand the package.
I would try to fix it inside the packr package.
`go test` inside packr fails under windows, but it seems at another point.

[2017-04-01 16:26] lanybass commented on #347
I have resolved 2 problem,but I think it's not ideal.
1.the slash error:

2. generate ***-packr.go failed , since there is a '\r' at the end of *** ,I don't know where it come from, I just removed '\r'

now the exe is builded successful.

but I have another puzzle, I use "buffalo build", all the assets and templates a in the binary file,
why when I execute the exe, it still load template file from

[2017-04-01 16:49] markbates commented on #347
If it's loading from the absolute path that means it can't find it in the binary, probably because you have changed the path names in the binary.

Let's say you are trying to access `foo/index.html` in a box created with the path `../templates`. if you change the path of `foo/index.html` in the binary to something else, like `foo\index.html`, then it won't be able to find it because there is no en

[2017-04-01 17:59] as27 commented on #347
There is a bug inside the packr under windows. I have also the `\r` inside the package name, when running builder_test.go inside packr.

[2017-04-01 20:13] markbates commented on #347
After setting up virtual box and windows, I think I have a PR that solves this all. At least, it seems to be working in my virtual windows, and on my mac.

I would love it if some actual windows type people could play with it and see if it solves these problems:

Here is the PR:
https://github.com/gobuffalo/packr/pull/2/files

Here is the branch:
https://github.com/gobuffalo/packr/tree/windows

To

[2017-04-02 04:20] lanybass commented on #347
if you just test this via a test script , may it not be ok.
didn't you meet '\r' in var 'Name'   of builder/builder.go ?
I'll try it later
nice sunday, I'm going out

[2017-04-02 07:49] lanybass commented on #347
I've tried your branch. you didn't deal with the '\r'
`-packr.go: The filename, directory name, or volume label syntax is incorrect.`
@markbates

[2017-04-02 09:31] as27 commented on #347
Now I found why `\r` is just under windows.

Inside a go file windows line ends are `\r\n`. By extracting the package name out of the file the `\r` is part of the name.
https://github.com/gobuffalo/packr/blob/windows/builder/builder.go#L90

After other systems just have `\n` this does just appear on windows.

[2017-04-02 15:53] markbates commented on #347
I'm definitely going to need a windows person to fix this. For me all the tests pass and built binaries are working as expected in the windows branch I posted. Maybe it's because I'm using virtual box and not a "real" windows system.  I don't know.

[2017-04-02 17:46] lanybass commented on #347
@markbates
maybe your IDE formatted your code in a linux format ,all lines ended with \n not crlf

[2017-04-02 17:56] markbates commented on #347
I honestly don't know. I'm not a windows dev. What I need is someone who understands the issue and can reproduce it to jump in and make the fix.

[2017-04-02 18:02] lanybass commented on #347
I changed this line to resolve this:
[code]
chang `\s+(.+)` to `\s+([^\r]+)`
I fixed this .. but the "assets" problem still be there.
even you can build successfully , bu when you build out an exe , is dosn't work without assts dir, you can try it
@markbates

[2017-04-02 18:49] lanybass commented on #347
you don't need to know something about windows, just help me to find out why the file in box can not be found . tks

![234234](https://cloud.githubusercontent.com/assets/592922/24590046/162b5d70-1818-11e7-9f12-d3982cdc3e67.png)

[2017-04-02 19:39] markbates commented on #347
@lanybass you only get the assets.zip file if you use the `-e` flag. did you do that?

also, i pushed up another commit to that windows branch, that i think resolves the files not being found. if you could test that would be great.

[2017-04-02 20:17] lanybass commented on #347
bingo~
I've tested, it's ok now
and it has noting to do with "assets.zip" , you don't need to modify "box.go"
@markbates
you can merge and close it now

[2017-04-02 20:47] lanybass commented on #347
I think I found a new issue, about performance::
![2017-04-03 04 30 37](https://cloud.githubusercontent.com/assets/592922/24590883/e4f90058-1827-11e7-9f92-6c9193fe143f.png)
I visit the site and reload agin and agin but the http status code always be `200` but not `304`
I tried to test builtin lib `http.FileServer()`,it has no this bug

[2017-04-02 20:52] markbates commented on #347
Ok, so this seems to be fixed now with https://github.com/gobuffalo/packr/pull/2. @lanybass can you please open an issue for that performance issue in the packr repo itself? Thanks.

[2017-04-02 20:52] #347 closed

[2017-04-02 21:08] lanybass opened #348 "stdout on windows console."
![2017-04-03 04 57 24](https://cloud.githubusercontent.com/assets/592922/24591031/e9f25386-182a-11e7-91d0-f25868f2c31d.png)
maybe color should be removed on windows

[2017-04-03 17:19] #348 closed

[2017-04-03 19:47] as27 commented on #328
With merge of #333 this issue can be closed.

[2017-04-03 19:58] #328 closed

[2017-04-03 19:58] #342 closed

[2017-04-03 21:23] #297 closed

[2017-04-05 01:30] apaganobeleno commented on #286
@bscott should we move this one into the `github.com/gobuffalo/gobuffalo` repo ?

[2017-04-05 05:14] bscott opened #355 "New Generator - Caddyfile"
Create a Generator to create a Caddyfile

[code]

[2017-04-05 05:15] bketelsen opened #356 "New Generator - SystemD Unit"
# /etc/systemd/system/gcon.service
[Unit]
Description=gophercon website
[Service]
PIDFile=/tmp/gophercon.pid-3000
User=www-data
Group=www-data
Environment=GO_ENV=production
Environment=POSTGRES_PASSWORD=SuperS3cretSquirr3l
WorkingDirectory=/root/go/src/github.com/gopheracademy/gcon
ExecStart=/bin/bash -c '/root/go/src/github.com/gopheracademy/gcon/gcon'
[Install]
WantedBy=multi-user.target

[2017-04-05 05:16] bscott opened #357 "New Generator - System Init"
Create a Generator that creates a sample systemd unit

[code]

[2017-04-05 05:20] bketelsen opened #358 "Investigate GopherJS integration"
Pie in the sky - but would be nice to enable some basic GopherJS usage.  I'm going to experiment this week and see if it's something that's worth adding.

[2017-04-05 05:21] #357 closed

[2017-04-05 06:11] stanislas-m commented on #356
Hum, maybe just providing a template in the documentation is enough? A production-dependent generator seems a bit overkill to me.

[2017-04-05 06:15] stanislas-m commented on #355
Same point as in #356, I think we can document it, but a generator for production matters seems a bit overkill to me.

[2017-04-05 07:40] tingxin opened #359 "Create project issue"
Hi Mark Bates,
I am glad to see the buffalo such a so good go-web framework, but when i use it to create a project, i meet an issue, any idea? i use go version go1.8 darwin/amd64

<img width="1565" alt="screen shot 2017-04-05 at 15 36 32" src="https://cloud.githubusercontent.com/assets/6802222/24694835/10ea1748-1a16-11e7-9ab8-3d95d90c7193.png">

[2017-04-05 10:43] markbates commented on #359
It looks like there's an issue with `npm init` have you tried googling the error? It's not a Buffalo issue.

[2017-04-05 10:43] #359 closed

[2017-04-06 08:26] u007 opened #360 "colored logs"
hi,

sorry to raise this issue again, any possible way to solve this?
my eyes is looking at logs all day and its killng me...

[2017-04-06 10:37] markbates commented on #360
What is the problem with the logs?

[2017-04-06 13:52] u007 commented on #360
lack of coloring and highlight support (bold/italic)
and would will be great if its alike uber/zap with line number indicator of the calling line

[2017-04-06 13:57] markbates commented on #360
I would welcome a PR that made this happen.

[2017-04-06 15:24] markbates opened #362 "Resource names don't show up correctly in routes tables"
They currently show up looking like:

[code]

They should look like this:

[code]

[2017-04-06 15:38] markbates opened #364 "Resource generator doesn't support "nested" values"
[code]

[2017-04-06 15:48] markbates opened #365 "Resource generator should be able to generate JSON"
Currently the resource generator only generates HTML resources. It should be able to generate JSON resources as well.

A flag will be needed to do this:

[code]

When generating a JSON resource, no template files should be generated, and instead of `r.HTML("template.html")` being used in actions it should be `r.JSON(model)`.

[2017-04-06 15:52] markbates opened #366 "Resource generator should generate default tests"
Right now it generates tests that look like this:

[code]

It would be fantastic if these tests were actually implemented when generating a new resource.

This ticket is not for the faint of heart. :)

[2017-04-06 15:53] #362 closed

[2017-04-06 16:36] apaganobeleno commented on #366
@markbates i can take this one :)

[2017-04-07 08:10] bastiankoetsier opened #368 "Using Laravel Mix as a webpack wrapper for easier usage and sensible defaults"
Hi,

I wanted to suggest you can use [Laravel Mix](https://github.com/JeffreyWay/laravel-mix/blob/master/docs/installation.md#stand-alone-project) to simplify the work with webpack.
Mix does not require a Laravel project and provides a lot of plugins/workflows built in, e.g. ES2015 compilation through babel or [React](https://laravel.com/docs/5.4/mix#react).
I think a collaboration would make sens

[2017-04-07 08:31] as27 commented on #366
@apaganobeleno if you need some help, just let me know.

[2017-04-07 19:10] stanislas-m commented on #365
@markbates I can take this one if you want.

[2017-04-07 19:44] markbates opened #369 "node deprecation warning for loader-utils"
[code]

[2017-04-07 19:50] markbates commented on #365
that would be awesome!

[2017-04-07 19:59] markbates commented on #369
Apparently this will be resolved on it's own in the next version of the `babel-loader`. https://github.com/babel/babel-loader/issues/392

Nothing to be done here.

[2017-04-07 19:59] #369 closed

[2017-04-07 20:07] SpencerCDixon commented on #368
Or perhaps [neutrino](https://github.com/mozilla-neutrino/neutrino-dev) which is backed by Mozilla.

[2017-04-07 20:09] SpencerCDixon commented on #368
Although webpack is already tough enough for beginners, throwing another level on top of it can make things even more confusing sometimes

[2017-04-08 20:25] jwyo opened #371 "go get on macOS Sierra exits with Killed: 9"
When calling buffalo from new install using 'go get -u github.com/gobuffalo/buffalo/buffalo' on macOS Sierra with 'go version go1.8 darwin/amd64', the program exits with Killed: 9.  Let me know if I can provide any other information or if I am just missing something...  Thanks in advance for the help!

[2017-04-08 20:29] markbates commented on #371
This is a known issue with Go. https://github.com/golang/go/issues/19734

The best solution is to upgrade to Go 1.8.1 and rebuild your Go binaries.

[2017-04-08 20:29] #371 closed

[2017-04-08 20:57] jwyo commented on #371
Yup, that worked.  Thanks!

[2017-04-10 05:25] gedw99 opened #372 "sqlite cant store image blobs"
matts sqllite driver has a bug in it in that it cant handle image blobs.

steps to reproduce:
Create a SQLite (or SQLCipher) database with a column type of integer,
then insert some non integer data in it.  For example, an image. :)

---

You should try this instead:

https://github.com/aebruno/whisperfish/blob/master/store/store.go

https://github.com/aebruno/whisperfish/blob/master/store/store.g

[2017-04-10 15:03] markbates commented on #372
That driver has a lot of bugs in it! I've been looking for a driver to replace it. I've replaced it with `go-sqlcipher` here https://github.com/markbates/pop/commit/dbfc018d6fca23c86d463571b92f6fc04fcd0f53

Hopefully that resolves a lot of issues we've had.

[2017-04-10 15:03] #372 closed

[2017-04-10 15:05] gedw99 commented on #372
Wow that was quick.
I will kick the tires on it

[2017-04-10 15:50] markbates commented on #368
I agree that webpack is definitely confusing, I think that adding another level on top is not the right answer. People who live in the front end world, will already have their own tools and setup they'll want to use, so they'll probably through out what is generated. For those that don't live in that world, it's easier to say "google web pack" then something else.

With that said, I wouldn't say n

[2017-04-10 15:50] #368 closed

[2017-04-10 18:30] #249 closed

[2017-04-11 03:42] 0xCMP opened #374 "Warning when `go get`-ing buffalo"
https://github.com/mutecomm/go-sqlcipher/issues/5

In case this was a vendor issue of some kind, I wanted to make sure the project was aware of this warning I got:

[code]

[2017-04-11 06:05] nathankerr opened #375 "Running outside of GOPATH fails"
got:

[code]

expected:

[code]

[2017-04-11 06:37] nathankerr commented on #375
Further investigation yields that buffalo is looking for a database.yml in parent directories and then fails with this unhelpful error message.

There is no failure when there is not a database.yml in the directory tree.

[2017-04-11 10:42] #374 closed

[2017-04-11 11:35] markbates commented on #375
I can't reproduce. If I run `buffalo version` out side of my `$GOPATH`, like my home directory, I get `Buffalo version is: 0.8.1`.

Can you give me more information on how to reproduce?

[2017-04-11 12:09] nathankerr commented on #375
[code]

This came about because I working on creating an easy to update tutorial for buffalo and happened to name my diff file for database.yml as database.yml. Since a diff is not valid yaml it could not be parsed as yaml.

I only figured out the database.yml part after I created the issue.

[2017-04-11 14:49] markbates commented on #375
Weird bug, but found, and fixed. Thanks.

[2017-04-11 22:35] markbates opened #376 "Remove or rebuild the apps in the examples folder"
The apps in the `examples` folder are really starting to show their age. They need to either be rebuilt or removed.

I like having them there, they also provide an extra layer of testing, but they are difficult to maintain.

[2017-04-12 04:26] BiggerNoise commented on #371
Can you elaborate on "rebuild your Go binaries"?

I have:
- updated to go 1.8.1 (via homebrew, not from source)
- done a go get -u for buffalo

I still get the killed: 9

Obviously, I missed something.

[2017-04-12 05:50] u007 opened #378 "(question) deployment issue to heroku, huge binary"
hi,

is there any reason not to have physical file on heroku that the binary can load after deployed?
why does build need to compile all assets into binary and serve it from the binary?

how do i add my own files to the directory that is configuration related? like language file...

[2017-04-12 06:24] stanislas-m commented on #378
Hello,

why does build need to compile all assets into binary and serve it from the binary?

You can use the `-e` option to handle the assets manually (see: http://gobuffalo.io/docs/building#extract-assets). Did you mean you want the assets to be served by buffalo, but not stored in the binary?

[2017-04-12 07:03] u007 commented on #378
hi, i think i solved my issue.

i wanted to add a yaml file that is loaded when the app start.
since ive deployed to heroku, ive to hardcode the path to
[code]
with relative to this path, my configuration is loaded correctly.
except now that database.yml as ive read is build into the binary

[2017-04-12 07:27] u007 opened #379 "migration with model"
hi,

is it possible to run a model oriented migration like:
[code]

or anyway to allow migration to import modules and use them?

[2017-04-12 10:46] markbates commented on #371
First, don't use the homebrew installer, it's the cause of a lot of issues, always use the official installers.

Second, doing a `go get -u` will only reinstall binaries if there are changes. The best thing to do is the following:

[code]

Repeat and rinse for all Go binaries that error like this.

[2017-04-12 10:49] markbates commented on #379
No. You execute pure sql in a migration though, if you want.

I would recommend using a grift task for this sort of thing.

[2017-04-12 11:13] jnoortheen opened #380 "Add CSRF middleware handler to TestSuite"
Add an `autheniticity_token` to TestSuite by default. So that action tests can be created with ease.

[2017-04-12 14:36] #380 closed

[2017-04-12 18:30] apaganobeleno opened #381 "Default routes listing link to the route"
I've been thinking that adding a link to the list of routes (it could be the same path column) could help in cases you miss-typed the URL in development.

So instead of:
<img width="959" alt="screenshot 2017-04-12 13 28 36" src="https://cloud.githubusercontent.com/assets/645522/24973342/0283836a-1f84-11e7-86e5-fc2f073ddaa6.png">

We render something like:

<img width="987" alt="screenshot 2017-04-

[2017-04-12 20:21] apaganobeleno commented on #376
@markbates WDYT about removing these and having [toodo](https://github.com/gobuffalo/toodo) as the sample app for buffalo ?

[2017-04-12 20:22] apaganobeleno commented on #379
@markbates @u007 should we close this one ?

[2017-04-12 20:30] #379 closed

[2017-04-12 20:32] markbates commented on #381
I like it, but half of them aren't valid links.

[2017-04-12 20:35] apaganobeleno commented on #381
#trueStory, i'll close it for now, you're right, it could be handy for non-variable-inside routes but for the rest will be invalid.

[2017-04-12 20:35] #381 closed

[2017-04-12 22:15] BiggerNoise commented on #371
Thanks for the information. I'm still having the issue, I'll try a few more things and let you know the outcome.

[2017-04-13 08:47] u007 commented on #379
any possible way to allow fizz to run a grift task?
sometimes there might be some migration value, then running a task, then continue with the rest of the migration in one fizz file

[2017-04-13 14:08] sio4 opened #383 "I've got "undefined: models in models.User""
Hello,
I am newbee to buffalo and I've got this problem just after I generate my resource by invoking `buffalo g resource User`.

**Environment:**

**Problem:**
I've got following error message and buffalo exit with 2 when I invoke `buffalo dev`:

I solve this issue by adding following:
[code]

Is it my fault or bug of generator? I just guess there is some bug on generator.

[2017-04-13 14:19] markbates commented on #383
Looks like it's a bug in the generator. The generator is failing to add the `models` package to file.

[2017-04-13 14:29] sio4 commented on #383
Oh! thanks for lightning fast reply. then am I do right?

[2017-04-13 14:30] markbates commented on #383
You're doing it right. If you had `goimports` installed, like a lot of people do, you wouldn't have noticed this bug, as it would've run at the end of the generator and automatically added the import for you. Either way it should add the import manually.

[2017-04-13 14:35] sio4 commented on #383
Oh! thanks for that information. I am golang newbee too! :-) I will try that later.

[2017-04-13 14:59] markbates commented on #383
Fixed in `v0.8.1.2`.

[2017-04-13 14:59] #383 closed

[2017-04-13 15:02] sio4 commented on #383
Thanks! patch is also lightning fast!

[2017-04-13 15:25] markbates commented on #379
Not currently, but it would be great to add support to `fizz` to allow it to run shell out and run a command. It would be pretty easy to add. If anyone wanted to do it, this would be the starting place: https://github.com/markbates/pop/blob/master/fizz%2Fbubbler.go ;)

[2017-04-14 10:45] u007 commented on #365
i have modified model_templates with this code:
[code]
and also, ive replaced with my own command with copy of original code to generate reactjs+redux templates :)

[2017-04-14 10:49] u007 opened #384 "field name got cut off if it ends with s when generate resource"
[code]

[2017-04-14 12:42] markbates commented on #384
This got fixed this week when I fixed the Addres issue. You need the latest buffalo, pop, and inflect code.

[2017-04-14 12:42] #384 closed

[2017-04-15 02:03] bscott opened #385 "Generator New - can't get package"
When using the ```new``` generator, latest code in buffalo produces this error.

[code]

[2017-04-15 12:49] markbates commented on #385
You must have an old buffalo binary 0.7.x and the latest source. Try rebuilding the binary from the latest source.

[2017-04-15 12:49] #385 closed

[2017-04-16 17:26] stanislas-m opened #388 "Resource generator should be able to generate XML"
Since the JSON resource generator is working now, we should do the same for its XML friend. :)

[2017-04-16 17:30] markbates commented on #388
lol. I guess. :)

You can probably just reuse everything you just did but pass an argument into the template. Should be really quick.

[2017-04-16 17:33] stanislas-m commented on #388
Ah ah, yeah! I just did a test to be sure.

[2017-04-16 17:35] stanislas-m opened #389 "Handle multiple types for resources"
XML, JSON... why not both? :)

This mean we should find a way to discriminate rendering. Maybe we can suffix the url (with .xml or .json), or use Content-Type HTTP header.

[2017-04-16 17:37] markbates commented on #389
I like that. Maybe we could have a `render.Interface` function or something better named that uses the content type to render non-HTML requests appropriately like xml or JSON.

[2017-04-17 17:53] jnoortheen opened #391 "Create a new context.Cookie wrapper for gorilla Cookiestore"
There is a context variable for `gorilla` package's `SessionStore`. We need to add similar `CookieStore` handler to the context variable or app as the whole.

[2017-04-17 21:15] #365 closed

[2017-04-17 23:00] #388 closed

[2017-04-18 13:38] ninja9158 opened #393 "DB reverse tools"
For an existing database, it is time-consuming to write all the models。
 It would be great to be able to generate a structural definition in batches

[2017-04-18 16:00] markbates opened #394 "Proposal: Add a `config` package"
I believe it is time to add a `config` package to Buffalo applications.

With the current package structure it is difficult, if not impossible, to access things like `actions.App()` from a sub-package.

For example, if you want to have `actions/admin` you can not access anything in the `actions` package, like `App()` or any other settings because of cyclical dependencies.

This proposal is to add

[2017-04-18 16:12] apaganobeleno commented on #394
@markbates adding my comment also here from #382

I agree on moving into config, that was my second option to solve this, but at that time i was working on this i thought on backwards compatibility as a MUST, i think one thing to keep in mind with this change is some sort of migration guide so, old versioned (beta) app builders can move to 0.9.0.

Overall this provides a level of separations that

[2017-04-18 16:42] bketelsen commented on #394
+1 sounds right by me.

[2017-04-18 17:37] as27 commented on #394
I like the idea, because the code will be very readable.

main.go would look like:

    log.Fatal(http.ListenAndServe(fmt.Sprintf(":%s", port), config.App()))

config/app.go would look:

	app.GET("/", actions.HomeHandler)

	usersResource = actions.UsersResource{&buffalo.BaseResource{}}
	app.Resource("/users", usersResource)

I think that looks really good.

Something what is missing inside the pro

[2017-04-18 17:39] markbates commented on #394
@as27 agreed. The `actions` package would now become where all `buffalo.Handler` and `buffalo.Resource` types are defined. It would also house sub-packages like `actions/admin` or `actions/api/v1`, that sort of thing.

[2017-04-19 14:07] markbates opened #395 "babel deprecation warning during creation"
We need to switch from install `babel` to `babel-cli` as per the deprecation warning.

[2017-04-19 14:19] markbates opened #397 "i18n should search for the language in the session as well"

[2017-04-19 14:38] markbates commented on #394
So, when investigating this, I ran into our old friend in Go, cyclical imports. :( Here's how:

The `actions` package needs the render engine configured in `config`. The `config` package needs the `actions` to map them to the router.

Open for good ideas on how to handle this without getting all sorts of crazy messy.

[2017-04-19 15:22] as27 commented on #394
I would say the the routes definition should be not inside `config`. Maybe an additional package `routes` would make sense.

The tree would be:

`config` ->`actions` -> `routes`

Configuration like render is used inside `actions`. And the handlers and resources defined there are used inside `routes`.

[2017-04-20 07:20] ninja9158 opened #399 "Token based user authentication?"
HI,
Will consider integrating jwt middleware?

[2017-04-20 17:43] markbates commented on #399
Absolutely!

[2017-04-21 14:15] markbates opened #401 "Gracefully handle panics"
How have we not had a way to gracefully handle panics?? Mind-blown. We need to inject a piece of a middleware that will recover from panics and call the error handling code for a `500` error.

[2017-04-21 14:33] #401 closed

[2017-04-21 14:34] #395 closed

[2017-04-21 14:34] #397 closed

[2017-04-22 04:33] ninja9158 commented on #399
HI!
Will it be supported in the near future?

[2017-04-22 12:48] markbates commented on #399
Oh, I thought you were offering to write it. In terms of time line, that's the fastest way to get it added.

[2017-04-22 13:41] stanislas-m commented on #399
@ninja9158 I'm just a bit curious, what do you think this middleware should do? Just extracting the token and provide it to the context, or something more advanced?

[2017-04-22 13:49] stanislas-m commented on #393
Since this feature concerns Pop, it will be handled on the issue you already opened: https://github.com/markbates/pop/issues/64

[2017-04-22 13:49] #393 closed

[2017-04-22 15:24] markbates commented on #379
@u007 I believe this PR https://github.com/markbates/pop/pull/68 solves this issue for you.

[2017-04-23 01:30] BiggerNoise commented on #371
I've been away from the computer for a while; i just wanted to let you know that your instructions worked just fine and to say , "thanks!"

[2017-04-23 02:41] u007 commented on #379
nice, thank you :)

[2017-04-26 14:35] apaganobeleno commented on #366
@as27 would you like to take this one? i'm afraid i wont have much time for the next month and don't want to delay this more.

[2017-04-26 16:21] nubunto opened #404 "Command failing on MacOS Sierra 10.12"
Hi peeps!

What an amazing project! I was trying to get on top of building a project, but...

[code]

Go version: `go version go1.8 darwin/amd64`

I compiled the binary inside the `github.com/gobuffalo/buffalo/buffalo` directory and same effect:
[code]

Trying to trace system calls weren't successful as well...

[code]

So I thought I reached out to you guys over here :smile:

Any thoughts?

[2017-04-26 16:38] markbates commented on #404
https://github.com/gobuffalo/buffalo/issues/371  It's a known Go issue. Update to 1.8.1, rebuild your binaries, and you'll be all set.

[2017-04-26 16:38] #404 closed

[2017-04-26 19:24] as27 commented on #366
@apaganobeleno yes of course. I would love to help out here.

[2017-04-27 15:38] markbates commented on #394
Playing around with this, and here's the tree structure that I have working so far:

[code]

I have a branch that will generate a new Buffalo app, successfully, with this structure. There's a lot of work to get all of the other generators and such working, but it's a start. I want to get feedback on this, before I move too much further down this path.

[2017-04-27 15:39] markbates commented on #394
I think there's room to move `locales` and `database.yml` into the config directory as well.

[2017-04-28 17:25] stanislas-m commented on #277
I like it too!

[2017-04-28 18:13] markbates opened #407 "Slow tests for `cmd/generate`"
Something is causing this package's tests to be really slow.

[code]

[2017-04-28 19:43] as27 commented on #366
@markbates I would make the tests analog to the todo app. The tests will also use `ActionSuite` like here:
https://github.com/gobuffalo/toodo/blob/master/actions/todos_test.go

[2017-04-28 20:17] markbates commented on #250
https://github.com/gobuffalo/buffalo/pull/405/files#diff-d92c0cc6cc3b84dda3c92547bcf56981

[2017-05-01 03:57] bfosberry opened #411 "context.Redirect exits app with code 0"
I found a weird issue which Im having trouble replicating where if I trigger an error (possibly a panic) during the goth auth callback for my buffalo server, it returns a 307 in the log  (although the browser  request doesnt return). The worst part is that my entire buffalo app exits with code 0 and nothing useful in the logs :P

[2017-05-01 15:34] stanislas-m opened #412 "Actions generator inserts test & route for already existing actions"
[code]

actions/forums.go is ok, but forums_test.go isn't:

[code]

The route shouldn't be inserted in app.go too:

[code]

[2017-05-01 16:02] markbates commented on #366
That makes sense.

[2017-05-02 04:57] bfosberry opened #414 "Applicaton.scss does not update built application.css"
[code]

[code]

This works and contains much CSS but no references to "header-right". Are there any other asset pipeline steps I'm missing?

Context:
GO_ENV=production
Built using buffalo build:

[code]

[2017-05-02 14:53] markbates commented on #414
stupid question, but  you made sure to rebuild the binary _after_ you changed the source files, right?

[2017-05-02 20:14] apaganobeleno commented on #376
@markbates if we're planning to rebuild the sample apps we need to wait 'til 0.9.0 and the config folder change.

[2017-05-02 20:18] markbates commented on #376
Yeah. That would makes sense.

[2017-05-02 20:25] apaganobeleno commented on #412
@stanislas-m would you want to work on this one ? (i would like to take it 😁)

[2017-05-02 20:28] stanislas-m commented on #412
@apaganobeleno Please help yourself! :)

[2017-05-02 20:30] markbates commented on #412
This should be fixed regardless of 0.9.0.

[2017-05-02 21:19] apaganobeleno commented on #407
@markbates should we move entirely to filetest here ?

[2017-05-02 21:58] markbates commented on #407
probably. not sure why it's so slow though.

[2017-05-02 21:59] apaganobeleno commented on #412
Fixed by #416

[2017-05-02 21:59] #412 closed

[2017-05-03 18:19] bfosberry commented on #414
That is not a stupid question, I'm 80-90% sure. It's complicated because I have a script which runs the build in a docker container and pushed it to hyper.sh. Tonight I'll retest this locally outside of the docker build and see if that makes a difference. Its entirely possible that something isnt getting bundle in the bin due to the container process.

[2017-05-03 18:58] markbates commented on #414
Cool. Try it locally. I can't reproduce, so it's probably just a set up issue. If it helps, I haven't had a chance to write about this, but there are Buffalo docker images: https://hub.docker.com/r/gobuffalo/buffalo/builds/

[2017-05-03 19:01] bfosberry commented on #414
Nice, yeah I should switch to those as a base.

Im toying the idea if of building tooling to alias buffallo/bundle to a docker run command, i.e. buffalo dev would run
docker build blah && docker run -it --rm -p 3000:3000 -v ./:./ buffalo dev

You could also use it for build or generators

[2017-05-03 19:50] bfosberry commented on #414
I'm an idiot, its in there, my css just isnt triggering

[2017-05-03 19:50] #414 closed

[2017-05-03 19:50] markbates commented on #414
lol. No worries. Happens to the best of us. :)

[2017-05-03 19:50] bfosberry commented on #414
Actually, the css is working now, I just have had a docker image caching issue or bin build caching issue, weird!

[2017-05-04 14:08] #250 closed

[2017-05-04 14:13] markbates opened #418 "Remove deprecated functions slated for 0.9.0"

[2017-05-04 14:42] #376 closed

[2017-05-04 14:42] #418 closed

[2017-05-05 18:46] #95 closed

[2017-05-05 18:47] markbates commented on #95
An example adapter for gocraft/work https://github.com/gobuffalo/gocraft-work-adapter

[2017-05-05 20:00] Nearhan commented on #399
@ninja9158 @stanislas-m @markbates I would like to know the context as well. According to https://jwt.io/  there is this library https://github.com/SermoDigital/jose implements the standard algorithms.

[2017-05-09 15:21] markbates opened #423 "Export `buffalo.Response` so it can be used outside of Buffalo"
The `buffalo.Response` type captures size and status of a response, which can be useful to those building their own request loggers.

https://gophers.slack.com/archives/C3MSAFD40/p1494266187636152

[2017-05-09 15:26] markbates opened #425 "If no database is being used the `nosqlite` build tag should be used"
Currently the `nosqlite` build tag is only being used if sqlite is not in the `database.yml` file, but it should also be used if there is no `database.yml` file at all.

https://gophers.slack.com/archives/C3MSAFD40/p1494161273737795

[2017-05-09 15:35] #423 closed

[2017-05-09 15:36] #425 closed

[2017-05-12 04:50] sio4 opened #428 "treatment of field name '_id' is different between model and template."
Hello, I don't know this bug is still existing on current version. Anyway, when I generate a resource with following command, the result on model and template are different.

[code]

for model,
[code]

for template,
[code]

currently I use e210597b371e6f6aed85b9d34d7d20f69314e72d

[2017-05-12 13:47] leyluj opened #429 "Documentation for the Recent Background Job"
Hello I've been following up on your inclusion of background jobs in Buffalo.

I would love to help you document.

Regards,
Hippo :)

[2017-05-12 14:13] markbates commented on #429
I would never turn down a PR for documentation! :) Please! I would love it. :)

[2017-05-12 14:55] markbates commented on #428
It's definitely still a bug. Thanks. @stanislas-m care to have a crack at this one?

[2017-05-12 15:33] stanislas-m commented on #428
@markbates, I'll take a look on this this weekend.

[2017-05-12 18:06] sio4 commented on #428
OK, Thanks for your consideration. Than, If I manually change from one to the other, finally which one is the goal? UserID? or UserId?

[2017-05-12 18:07] markbates commented on #428
`UserID` is the correct one, that's the idiomatic Go casing.

[2017-05-13 03:48] sio4 commented on #428
Thanks for response.

[2017-05-13 15:06] markbates commented on #428
Fixed with https://github.com/gobuffalo/buffalo/pull/431

[2017-05-13 15:06] #428 closed

[2017-05-13 15:08] #277 closed

[2017-05-13 15:24] markbates opened #432 "Add an HTTP basic auth middleware"

[2017-05-13 17:10] sio4 opened #433 "Can I store an Object into Session?"
Hello, I tried to store an object into Session. the code is, in brief:

[code]

but it give me a error: "type not registered for interface: models.User"

Can I store entire object as is to Session?

[2017-05-13 17:15] markbates commented on #433
I would never recommend storing complex types in a session. But if you want to you need to register the type. http://www.gorillatoolkit.org/pkg/sessions

[2017-05-13 17:15] #433 closed

[2017-05-13 18:01] sio4 commented on #433
where is the point to insert `gob.Register(&Person{})` in bufallo generated code?

Originally what I want is, storing a current users information on session and using it on template like `<%= user.name %>`.

I tried:
- storing whole `User` objecct on session and `context.Set("user", user)` on another middleware.
- storing `user.String()` (to get json text) on session and trying to use it on templa

[2017-05-13 18:04] markbates commented on #433
Again, I would never recommend storing a complex object in the session. If you want to dget that you can stick the register code in init function anywhere. Doesn't really matter.

[2017-05-13 19:01] sio4 commented on #433
OK, Thanks for your advise.

[2017-05-13 19:57] peteretelej commented on #432
could something like this work?
(haven't run/tested, not really familiar with the codebase)

[code]

[2017-05-13 20:04] markbates commented on #432
I think the biggest change I would make would be this:

[code]

By giving it a function we allow for people to define how they're doing the authorization checks.

[2017-05-13 20:06] markbates commented on #432
I would also put it in it's own package, `buffalo/middelware/basicauth`

Then the `error` values can be:

[code]

[2017-05-13 20:12] peteretelej commented on #432
does the `auth func(c buffalo.Context, u, p string) bool` already exists? or it'd be in basicauth?

[2017-05-13 20:13] peteretelej commented on #432
Oh, I understand now, `auth` will be upto what's passed in. cool.

[2017-05-13 20:24] markbates commented on #432
Exactly. Using a map means you need to know all possible logins at app start time. Using a func allows you to look stuff up in db, do auth based on the domain, use a 3rd party system, etc…. :)

[2017-05-13 20:32] peteretelej commented on #432
never thought of implementing it that way, my goto for basicauth from a file; but this is a much better option, allows plugging in anything else

[2017-05-13 20:49] peteretelej commented on #432
creating PR, hope that's ok

[2017-05-13 20:50] markbates commented on #432
Absolutely! Would love one. Please make sure to have some tests.

On May 13, 2017, 4:49 PM -0400, Peter Etelej <notifications@github.com>, wrote:

[2017-05-13 20:52] peteretelej commented on #432
just PR'd, it's missing the tests.. let me see if I can write them up first

[2017-05-13 21:22] peteretelej commented on #432
Alongside the directory, should I also add `middleware/basicauth.go` with `var BASICAUTH = basicauth.Middleware` like csrf does?

[2017-05-13 21:24] markbates commented on #432
No, that was for backward compatibility when we moved the csrf stuff into its own package recently.

[2017-05-13 21:29] peteretelej commented on #432
cool, done with the tests & squashed into PR :smiley:

[2017-05-13 21:43] #432 closed

[2017-05-13 21:49] peteretelej commented on #432
@markbates just seen something we may need to add. While this works, in order to prompt users on browsers during first visit, the middleware should respond with this
[code]
This will allow the native browser basicauth pop up to request username & password.

[2017-05-13 21:50] markbates commented on #432
Oops. You're right. Good catch. Can you open another PR?

[2017-05-13 21:51] peteretelej commented on #432
sure thing, will do

[2017-05-13 22:30] peteretelej commented on #432
added, with relevant additional tests. I've PR'd the development branch.

[2017-05-15 15:22] apaganobeleno commented on #407
@markbates i can work moving this one to filetest, i will need to add a few features to filetest before having an equivalent filetest.

[2017-05-15 15:42] markbates commented on #407
Awesome. Thanks. I suspect the cause of the slow down is to `go get` and `go imports` being called.

[2017-05-15 18:15] as27 opened #436 "Wrong sqlite3 path: buffalo db create puts the database file into wrong directory"
After my HD crash I could reproduce this with a complete fresh Buffalo 0.8.2 installation.

I don't know if this issue should be under the `pop` repository or if Buffalo just generates a wrong base path.

So how to reproduce the bug:

1.  I created a new folder under `GOPATH/src/` named `buffalotest`
2. Changed to the new folder and create a new project `buffalo new coke --db-type sqlite3`
3. Crea

[2017-05-15 18:19] markbates commented on #436
This is a `pop` bug, definitely. would be really easy to fix if you're game. :)

[2017-05-15 18:22] as27 commented on #436
@markbates you are really fast in answering ;-)
I will check if I can fix it.

[2017-05-15 18:23] markbates commented on #436
you're lucky, I'm traveling, so it's not usual I respond this quick while I'm on the road. :)

[2017-05-15 18:50] as27 commented on #436
I corrected the template inside soda. Now I need to test that, but I have no time for it tonight. So I will send the PR tomorrow, if everything works.

[2017-05-15 19:53] stanislas-m commented on #389
@markbates, I've pushed a new branch about this: https://github.com/gobuffalo/buffalo/tree/389-auto-resources

I think it's almost done, but I'm struggling with something:
* On some cases, we have to add a flash message and redirect the user after the action (in the HTML case) ; but when we use JSON/XML endpoints, the result must be shown on the same page: how can we have the auto mode to make eit

[2017-05-15 23:03] apaganobeleno opened #437 "Allow action generator to skip views."
Sometimes you need to create an action that doesn't have a view, it would be good to provide users the ability to skip the view and just generate the action and get it added to the `app.go`.

My first proposal would be something like:

[code]

cc @markbates

[2017-05-15 23:35] apaganobeleno opened #438 "Allow action generator to specify the method to use on app.go"
By default when generating an action buffalo adds that action to be accessed using the 'GET' method, it would be good to provide a --method option to bind to a separate method (leaving GET as default)

Something like:

[code]

Would be handy for the cases you want to generate an action and add it to the POST method.

cc @markbates

[2017-05-16 16:05] as27 commented on #436
When I run `soda generate config -t sqlite3` the path  is generated with `src` folder. But when I that file is created via buffalo the path is wrong.
Maybe something there is not correct:
https://github.com/gobuffalo/buffalo/blob/7bf5a2dc152392a9d14107a456db510536873ab9/generators/newapp/soda.go#L42

[2017-05-16 16:07] markbates commented on #436
Silly question, but did you rebuild the buffalo binary after you made the changes to soda? Buffalo doesn't shell out to soda it calls the packages directly.

[2017-05-16 16:18] as27 commented on #436
I did not make any changes to soda. Calling soda directly inside the folder, does create the path with the src folder.
So the config file does look different, when calling soda once over `buffalo new`, then calling it directly. At moment I don't understand why.

[2017-05-16 16:42] as27 commented on #436
Now I changed that line here:

https://github.com/gobuffalo/buffalo/blob/7bf5a2dc152392a9d14107a456db510536873ab9/buffalo/cmd/new.go#L128

To:

`gosrcpath := strings.Replace(goPath(rootPath), "\\", "/", -1)`

After that change the database.yml file is generated correct. But the other package import paths are wrong, which is not a surprise. The problem is that the packages use the `packagePath` dif

[2017-05-17 05:04] #436 closed

[2017-05-19 15:12] #438 closed

[2017-05-19 15:12] #437 closed

[2017-05-19 15:13] apaganobeleno commented on #407
Closing this one given it has been covered by #439

[2017-05-19 15:13] #407 closed

[2017-05-25 14:25] sio4 opened #445 "problem on middleware skipping"
Hi, I tried to skip some handlers from middleware chain.

1st case is just add a Resource and skip some handlers:
[code]
It works fine.

But when I add a new resource, the skipping for the first resource is not working:
[code]
with this, only `Show` for `Accounts` is skipped correctly. I tried this code because I just want to keep the form of `app.Resource(...)` as same as it was generated.

After

[2017-05-25 14:44] sio4 commented on #445
Oops! but with this working code, I got following result for `bufallo task routes`:

[code]

name of the handler is not correctly shown.

[2017-05-26 08:59] as27 commented on #366
The test generator is almost ready. But when I run the tests I receive always return code 500. I think I need a little help to understand why.

The template file for the generator would be here:
https://github.com/as27/buffalo/blob/resource-test-generator/generators/resource/templates/actions/resource-use_model_test.go.tmpl

I made a own repository for a generated example. The output after code ge

[2017-05-27 07:02] stanislas-m opened #448 "Worker package is not compatible with go1.7"
Running go 1.7:

[code]

When I try to execute tests in package "worker" (current development branch), I have the following error:

[code]

According to this commit (https://github.com/golang/go/commit/67ea710792eabdae1182e2bf4845f512136cccce), the Until function was added in go 1.8.

[2017-05-27 14:56] apaganobeleno commented on #335
@markbates are you working on this one ? (looking for something for my next week :) )

[2017-05-27 15:08] markbates commented on #335
I started on it ages ago, but never finished. I'll push my branch this weekend for you.

[2017-05-27 15:11] markbates commented on #335
@apaganobeleno i thought i had a branch, but it doesn't appear i do. sorry. i do have some code from an app that is use formam/buffalo.

hopefully that will help a bit.

[code]

[2017-05-27 16:24] apaganobeleno commented on #335
@markbates oh yes, this is at least half of the work :), i'll keep you posted.

[2017-05-27 20:49] markbates commented on #448
Yes, the developer branch now requires 1.8. It's not just that, but some other stuff around server context that also requires 1.8.

[2017-05-27 20:49] #448 closed

[2017-05-27 21:12] stanislas-m commented on #448
@markbates, in this case, maybe we should close this one? https://github.com/gobuffalo/buffalo/issues/213

[2017-05-27 21:31] markbates commented on #448
Not sure why we would close that ticket. It's still an open issue getting GAE support.

[2017-05-27 21:59] stanislas-m commented on #448
Well, maybe I'm a bit confused, but Buffalo should work on GAE on the flexible env from now. For me, the remaining issue was about the standard env, which still needs Go 1.6, but you said the new Buffalo requires Go 1.8.

[2017-05-27 22:33] markbates commented on #448
Buffalo should work on flex, yes, the goal, however, is to get it work on standard. We're still waiting for standard to get updated so we can actually work on GAE support. GAE won't go to 1.7 next it will jump to 1.8. Once they do that we'll start working on GAE support.

[2017-05-28 06:33] stanislas-m commented on #448
Okay, I understand now. :) Thanks!

[2017-05-28 06:53] stanislas-m commented on #366
@as27 Giving a quick look, it seems you have a typo in https://github.com/as27/buffalo/blob/resource-test-generator/generators/resource/templates/actions/resource-use_model_test.go.tmpl line 49

`{{.Singular}}` -> `{{.singular}}`

The other errors seem linked to the lack of CSRF token in your request.

[2017-05-28 09:49] as27 commented on #366
@stanislas-m thanks. CSRF was the missing link I didn't see. But that issue is more a `gobuffalo/suite` issue then a generator thing ([look here](https://github.com/gobuffalo/suite/blob/master/suite.go#L41))? Or am I wrong?

[2017-05-28 11:14] stanislas-m commented on #366
@as27, as I understand the way the CSRF is handled in the test suite, it just replaces the middleware with a no-op. Maybe I'm wrong, but I think the `app.Use` gets a copy of the middleware, so, if you replace it after the `app.Use` call it can't work.

Maybe the `app.Use` should take a pointer to allow this kind of override?

[2017-05-28 18:34] as27 commented on #366
@stanislas-m thank you. I had the same thoughts about this.
A possible fix here would be to deactivate CSRF middleware inside the `action_test.go` file. But I think that this would be a bad idea. I think the tests also have to have  _valid_ requests inside the `ActionSuite` type.
@markbates I would now make a PR just for the resource generator, because without the CSRF middleware the tests are pas

[2017-05-28 18:48] stanislas-m commented on #366
@as27, I also think preventing the middleware to do its work is a bad thing. What we should test, is the normal case, with a given token.

The CSRF token is stored in the buffalo context, and in the session (key name is "authenticity_token"). Maybe you can do a first query to get a valid token, and manage to get the token from either the context or the session.

[2017-05-30 21:11] markbates commented on #445
@sio4 a fix for this has been merged into the development branch. i would love it if you could try it out. you'll need to checkout the development branch. you shouldn't need to rebuild the binary, but it wouldn't hurt. :)

[2017-05-31 18:41] #445 closed

[2017-05-31 21:53] markbates opened #453 "Test ticket from Code Climate"

[2017-06-01 11:24] seenickcode opened #454 "`buffalo dev` stuck when running dev server for 1st time"
# System:

Buffalo v0.8.2 (2017-05-01)

MacBook Pro (x86_64)
macOS 10.12.4
go version go1.8.3 darwin/amd64
Xcode 8.3

# What did you do?

[code]

# Expected

The project is built and run.

# What I see

Running `buffalo dev` is just stuck at that last line (above):

[code]

Waited 30 mins, still stuck.

[2017-06-01 14:36] markbates commented on #454
What are you expecting to happen? It looks like the app started `2017/06/01 08:15:47 Starting coke on port 3000`. If you hit `http://localhost:3000` was the app there? If not, what do you see? Everything looks as expected in the output you pasted.

[2017-06-01 14:41] markbates commented on #394
I've decided not to pursue this idea, for now. I've been playing with it over the course of this dev cycle, and I don't like it. I feel like it adds too much complexity, and doesn't add enough value. I'm open to revisiting this prior to `1.0`, but for now, I don't think we need this.

[2017-06-01 14:41] #394 closed

[2017-06-01 14:44] markbates commented on #364
I'm revisiting this. I've closed the ticket for #394 which directly impacted this ticket. I've had a change of heart as to how this ticket should be implemented. Here is my take on how this should work now:

[code]

[code]

[2017-06-01 15:39] seenickcode commented on #454
Perfect works.  A full console screen of webpack output just made it not easily noticeable.  Probably others will run into this and something at the very end when it's done would be ideal IMO but not critical.  Thank you!

[2017-06-01 15:39] #454 closed

[2017-06-01 15:39] #453 closed

[2017-06-01 15:40] markbates commented on #159
I wonder if we still need this ticket now that we have docker images. https://blog.gobuffalo.io/deploying-buffalo-to-heroku-with-docker-adafa4afdd6f It's so easy to deploy to heroku using the docker images it's not even funny. Thoughts on closing this?

[2017-06-01 15:43] apaganobeleno commented on #159
@markbates we should close it now that we've provided a concise deployment strategy and steps, this ticket is more about that than using heroku build-packs (which i love).

[2017-06-01 15:48] markbates commented on #159
Cool. I'm going to close this.

[2017-06-01 15:48] #159 closed

[2017-06-02 16:10] apaganobeleno commented on #335
@markbates i think we're all set on this one, right ?

[2017-06-02 17:07] #335 closed

[2017-06-05 00:19] #133 closed

[2017-06-05 00:33] markbates commented on #364
@apaganobeleno think you crank this out in the next two weeks given the new requirements?

[2017-06-05 14:27] apaganobeleno commented on #364
@markbates yes, i'll work on this over next 2 weeks

[2017-06-05 14:28] markbates commented on #364
awesome! :)

[2017-06-06 19:47] markbates opened #459 "When running go imports on generates it's slow with vendor directories"

[2017-06-08 01:42] sio4 opened #460 "Need to set path of database.yml when production mode."
Hi,
While I started built app as daemon, I mean after cd to root(/), it search/create database.yml in current directory, root. IMO, it is not good for server process.

I think we need to setup/env for database.yml or base dir of the app.
Please consider this.

[2017-06-09 18:01] #459 closed

[2017-06-09 18:49] markbates opened #462 "Add an `--api` flag to `buffalo new`"
There should be an `--api` flag on `buffalo new`. If this flag is `true` then no `assets/`, `public/`, `templates/` folder should be created, and the app should be setup to be a JSON api.

[2017-06-09 18:56] stanislas-m commented on #389
@markbates, I still need your input on this one. :)

[2017-06-09 19:06] #462 closed

[2017-06-11 17:57] #460 closed

[2017-06-14 18:33] apaganobeleno commented on #364
@markbates i'm assuming for the router path should be `/admin/planes`, am i right ?

[2017-06-14 18:40] markbates commented on #364
That would be correct. :)

[2017-06-14 20:24] apaganobeleno commented on #364
@markbates aha! this one is tricky! that --model-name flag was not there :D, going for it

[2017-06-19 14:24] #429 closed

[2017-06-19 20:52] markbates commented on #309
I'm marking this as closed as it's old, and I'm assuming has been resolved. Please re-open if necessary.

[2017-06-19 20:52] #309 closed

[2017-06-19 20:53] markbates commented on #291
I'm closing this since I don't think it'll be part of Buffalo "core". If one gets written it should be linked to.

[2017-06-19 20:53] #291 closed

[2017-06-19 20:55] markbates commented on #214
I'm going to mark this as closed. This was discussed at length in different issues and PRs. It doesn't make sense to put this into Buffalo. There are plenty of great tutorials and generators for web pack that can be used for this purpose.

[2017-06-19 20:55] #214 closed

[2017-06-20 19:32] glycerine commented on #399
Thanks for GoBuffalo! I'm just discovering it now.

I think the most mature jwt library for go is this one
https://github.com/dgrijalva/jwt-go

and there are several middleware choices that already integrate it... to mention a few

https://github.com/labstack/echo  (https://echo.labstack.com/)

https://github.com/InVisionApp/rye

https://github.com/auth0/go-jwt-middleware

Has Buffalo taken an opi

[2017-06-20 19:41] markbates commented on #399
We haven't done one yet, I also prefer the jose library, but that's my personal preference. I would love to see someone sketch out what this would look like.

[2017-06-20 19:53] glycerine commented on #399
Just to clarify, when you say "haven't done one yet", @markbates are you saying Buffalo hasn't picked a middleware?  I'd like to do a little project to get familiar with the internals of Buffalo, perhaps I could experiment with adding one.

[2017-06-20 19:54] markbates commented on #399
@glycerine yeah, we don't currently have a JWT auth middleware. Would absolutely be open to a PR for it! :)

[2017-06-20 19:57] glycerine commented on #399
More generally, beyond just jwt, is there a larger middleware framework currently in use?

[2017-06-20 19:58] markbates commented on #399
Nope. Middleware is really straightforward. http://gobuffalo.io/docs/middleware I would recommend probably putting it in it's own package under the middleware package. That's what we've been doing with some of the more complex pieces of middleware.

[2017-06-20 22:04] apaganobeleno commented on #94
@markbates can i take this story ? i would love to work on it for the next release, WDYT ?

[2017-06-20 22:08] markbates commented on #94
@apaganobeleno sure, go for it!

[2017-06-20 22:10] markbates commented on #94
here's an implementation of something I have in an app:

[code]

it's not perfect, but it might give you some ideas as to what the API might look like.

[2017-06-21 08:23] s7v7nislands opened #472 "dep wrong version of github.com/monoculum/formam"
version
[code]
[code]

[code]

[2017-06-21 08:29] wideawake commented on #472
same here, fresh app creation with latest buffalo version

[2017-06-21 10:41] u007 opened #473 "running deployed binary task argument missing"
this works,  context args contains reset
[code]
but this fail:
[code]
it did run into my grift task, but context.ARGS length is 0

anyone can help with this?

[2017-06-21 11:20] markbates commented on #473
It's probably an issue with the heroku cli. Try using quotes and see if that helps.

[2017-06-21 11:24] markbates commented on #472
Looks like they haven't cut a "release" tag in a long time and dep is seeing there's a tag and using that. The workaround is to update manually. I just got access to that repo, so I'll see if I can cut a release so dep plays nice

[2017-06-21 11:25] #472 closed

[2017-06-21 13:20] apaganobeleno commented on #473
@u007 as a workaround you could change your task name to be cache:reset and split your task into multiple, smaller tasks

[2017-06-21 13:54] apaganobeleno commented on #94
Thats a good start @markbates !
Adding here what i'm thinking:

- Is included in the generators, so a user can do something like `buffalo g mailer user`.
- initialization code is generated when a new app is added.
- Allows developers to use a mail provider (we could build SMTP by default and let the API open)
- Exposes an interface developers could override with their own email provider or we coul

[2017-06-21 14:57] markbates commented on #94
Those all sound correct to me. I'm sure we'll come up with other stuff as we move deeper into this.

[2017-06-21 18:46] apaganobeleno opened #475 "Destroy Model is inconsistent with the generator for the model"
To generate a model we call `buffalo db g model` but when destroying we call `buffalo d model`.
Destroy for model should be `buffalo db d model` to be consistent with the generator.

@markbates thoughts ?

[2017-06-21 18:53] markbates commented on #475
Agreed. It's weird.

[2017-06-21 19:32] apaganobeleno opened #477 "Grifts generator"
It would be good to have a generator for grift tasks.

CLI:

[code]

Would generate:
[code]

And contents of the grift task would be something like:

[code]

cc @markbates

[2017-06-21 19:43] markbates commented on #477
I would also generate a `Desc` function as well.

[code]

[2017-06-21 19:45] markbates commented on #477
Also, if the task name contains `:` we should use `Namespace`:

[code]

[code]

[2017-06-21 19:52] apaganobeleno commented on #477
Nice!! i didn't know about namespaces in grift! thanks @markbates

[2017-06-21 19:52] markbates commented on #477
@apaganobeleno that's because it only got merged in today! :) https://github.com/markbates/grift/pull/10

[2017-06-21 22:04] glycerine opened #478 "cockroachdb compatibility"
Since cockroachdb is written in Go, and speaks the postgres wire protocol, and is horizontally scalable, it would be a great match for Buffalo. When I manually created the three database (deal_development, deal_test, deal_production) in cockroach, everything worked just fine: "buffalo dev" started up just fine.

Next I ran buffalo db drop -a, and while it appeared to succeed on the command line, f