[2017-06-21 22:17] markbates commented on #478
I've moved this issue to https://github.com/markbates/pop/issues/82

[2017-06-21 22:17] #478 closed

[2017-06-22 02:59] apaganobeleno commented on #477
covered in #479

[2017-06-22 16:22] apaganobeleno commented on #475
cloed by #480

[2017-06-22 16:22] #475 closed

[2017-06-22 19:35] glycerine opened #482 "--skip-updates flag to new"
reference https://groups.google.com/forum/#!topic/golang-nuts/bCBCsSEQVCI

Suggestion: `buffalo new` may benefit from a `--skip-updates` flag -- if this error in fetching golang.org/x/tools turns out to be common. For the life of me, I can't figure out how to make `buffalo new` work on a friend's mac laptop. There's some kind of weird git misconfig going on that is causing `buffalo new` to fail du

[2017-06-22 19:50] glycerine commented on #482
Add on thought: in order to be vendored-package friendly, it may be preferred that --skip-updates is actually the default. Doing a `go get -u` is rarely friendly to library that is pegged to a particular version for vendoring and compatibility reasons.

[2017-06-23 12:53] markbates commented on #473
@u007 did quoting help with the heroku runner?

[2017-06-26 12:42] apaganobeleno commented on #292
This is a duplicate of #94

[2017-06-26 12:42] #292 closed

[2017-06-26 12:43] apaganobeleno commented on #364
Closed by #469

[2017-06-26 12:43] #364 closed

[2017-06-26 14:53] markbates commented on #473
I'm closing this since we haven't heard more about it, and since it's most likely a Heroku command line issue. Please re-open if that's not the case.

[2017-06-26 14:53] #473 closed

[2017-06-28 11:04] u007 opened #486 "template helper accessing context value"
hi,

is it possible to access context from helper?
i cant figure out how todo so..

thank you

[2017-06-28 11:12] markbates commented on #486
Absolutely. Just take `plush.HelperContext` as the last argument in your helper. That will give you access to the context and more.

[2017-06-28 11:12] #486 closed

[2017-06-29 00:37] #477 closed

[2017-06-29 00:56] bscott commented on #286
@apaganobeleno yeah I agree

[2017-06-29 01:25] apaganobeleno commented on #94
@markbates i build this small Gist to show progress on this ticket https://gist.github.com/apaganobeleno/4bf9fc532857a4a36164627e8c3c6455, LMK your thoughts.

I have some "shape" questions for this implementation:
- Should i add this in a separate package or the buffalo root package ?
- Should the Mailer be part of the app or a separate component as the renderer ?

[2017-06-29 01:29] markbates commented on #94
Cool. I'll have a look in the morning. But to answer your questions, I definitely think it should be in a separate package. perhaps the `github.com/gobuffalo/x/` packages to start with. just a thought.

[2017-06-29 01:29] markbates commented on #94
I'll review the gist tomorrow and outline a few of my own thoughts.

[2017-06-29 18:03] markbates commented on #94
I think you need a proper message type, something like this:

[code]

[2017-06-29 18:05] markbates commented on #94
And an `Deliverer` interface:

[code]

[2017-06-29 18:06] markbates commented on #94
Then you can use it like this:

[code]

[2017-06-29 18:08] markbates commented on #94
I hope that all makes sense, I know it's pseudo-code and all.

[2017-07-01 08:07] SteveAzz opened #488 "v2 of github.com/monoculum/formam always get installed"
Hello! First of all, I would like to thank you for this awesome project I really like it 😸

**Go Version**: `go version go1.8.3 darwin/amd64`
**OS**: `MacOS sierra`
**Package Manager**: [dep](https://github.com/golang/dep)

I seem to be getting into an issue when I upgraded my buffalo app from `v0.8.2` to `v0.9.0`. When I try to build my application I get the issue below.

[code]

Now it was point

[2017-07-01 10:35] niranjan92 commented on #213
update GAE now supports go1.8. https://cloud.google.com/appengine/docs/standard/go/release-notes

but GAE will have to be used with a standard SQL database.

[2017-07-01 12:55] #488 closed

[2017-07-01 12:57] viktorbenei commented on #488
I had the same issue, thanks for the solution @SteveAzz!

[2017-07-02 04:51] niranjan92 commented on #213
GAE already has things like memcached, task queues for background jobs etc.

@markbates what components are in plan for GAE compatibility?

[2017-07-02 10:52] markbates commented on #213
Right now the goal is to just get a standard buffalo app to deploy and run on GAE.

[2017-07-03 20:23] alexcarol opened #489 "New project tests fail (on buffalo 0.9.0)"
Steps to reproduce:
buffalo new test --db-type mysql
buffalo test

Result:
[code]
It looks like the issue is originated in markbates/pop executors.go file, where nil is passed to q.ToSQL, but i'm not sure how to address it.
[code]

Thanks!

[2017-07-03 20:35] markbates commented on #489
I'm unable to reproduce this.

[code]

Is there anything else you're leaving out that could help me reproduce? Any steps you forgot to mention? What version of Go are you using? What does your `Gopkg.lock` file look like (if you have one). What OS are you on? Version of MySQL, etc...

[2017-07-03 20:43] #489 closed

[2017-07-03 21:27] alexcarol commented on #489
Your commit actually fixes my issue, thanks for your super quick response!
The only step I skipped is changing the user and password from root:root to alex:alex in the database.yml.

To respond to your question about environment:
mysql (mariadb) version: ``` mysql  Ver 15.1 Distrib 10.1.23-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2 ```
OS: ```Linux galactica 4.9.0-3-amd64 #1 SMP Deb

[2017-07-03 21:29] markbates commented on #489
Glad it fixed it. It must be because of Maria vs. MySQL.

[2017-07-04 01:48] rebootcode opened #490 "No Benchmark ? Seriously !"
Hello Gophers,

Currently I am using gramework and get-ion ( earlier go-iris ) , but i am seriously surprised to see no benchmark has been published.

Well it completely depends on author , but providing no benchmark and being stupidly arrogant on it . Just put person under fool category. Why do you think below site exists :-

1. https://benchmarksgame.alioth.debian.org/
2. https://www.techempower

[2017-07-04 01:54] markbates commented on #490
Yeah, seriously. No benchmarks. Here's why http://metabates.com/2017/03/03/youre-benchmarking-the-wrong-thing/

If you want benchmarks, go for it, no one is stopping you. I won't be doing them. They're subjective, fraught with bias and really don't prove anything. If Buffalo does not fit your style, then that's cool, it's not for everyone. Buffalo is about developer speed, not "raw" speed. It's pl

[2017-07-04 01:54] #490 closed

[2017-07-04 02:24] rebootcode commented on #490
Loosing usability ? https://github.com/kataras/iris  - Has not loose usability and stands with 700+ fork and 7000+ star

Moreover, it looks like your blog is not using buffalo too and running on hugo ?

Anyways, Just like your comment "will never be any official benchmarks" - "Will never use go-buffalo" .

Thanks & Sorry for being rude , but i felt this was need of hour , for some one ignoring lif

[2017-07-04 21:01] apaganobeleno commented on #94
@markbates should we then move this issue to be on the gobuffalo/x repo ?

[2017-07-04 22:46] qneyrat opened #492 "error with flag --api"
When I generate project with flag --api,
I have this error `actions/render.go:5: imported and not used: "github.com/gobuffalo/packr" `.

[2017-07-05 16:12] markbates commented on #94
Yeah, we should.

[2017-07-05 19:58] azzuwan commented on #490
@rebootcode looks like your favorite framework has turned it's back on it's users. Kataras had just put iris in deprecated mode.

[2017-07-05 20:06] rebootcode commented on #490
@azzuwan - IRIS has been acquired as it says, "well good things get sold" and i respect what author has done for his hard work.

Though , there are fork, that are being maintained, But you still may not require any more, once you starts understanding framework and updating code your self.

Great things comes with great price - One has to live with it.

Cheers

[2017-07-05 20:58] #492 closed

[2017-07-06 22:02] markbates opened #495 "Add support for plugins for the buffalo binary"
It will look in `$PATH` and the `./plugins` directory.

Requirements:
  * file/command must be executable
  * file/command must start with `buffalo-`
  * file/command must respond to `available` and return JSON of `plugins.Commands{}`

Examples:

[code]

[code]

[2017-07-07 02:01] apaganobeleno commented on #495
closed by #496

[2017-07-07 02:01] #495 closed

[2017-07-07 03:01] u007 commented on #378
hi @stanislas-m , how do i manage assets manually?
binary seems to be too huge and it take a long time to deploy to heroku
do you have instruction on how to do it manually?

thanks

[2017-07-07 03:17] u007 commented on #378
hi Sorry, i find deployment is quite a pain to heroku,
anyway to speed up or do incremental git push instead of 1 binary that server all and 1 assets?
i realize major issue is the generated binary which size up to 40+mb
assets standalone zipped is only 4mb, how does it work?
anyway to make incremental binary?

[2017-07-07 06:07] stanislas-m commented on #378
@u007

The way the extract option work is to prevent the assets to be embedded in the binary ; so you'll have the binary on one side (lighter) and the assets on the other side (probably heavier).

What's the size of the binary, with the extract option? (compared to no extract) Maybe there is a bug, since we changed the way to handle the embedding, or it's just the binary which is a bit heavy.

[2017-07-07 10:30] u007 commented on #378
sorry its

- 25.2mb for bin/heroku without assets
- 4.6mb for assets.zip

and if its without -e option:

36+mb bin/heroku if inclusive assets

using v0.8.2

[2017-07-07 10:45] stanislas-m commented on #378
Hum, so it seems the assets are really not included in the binary, so it still works. However, 25MB seems pretty huge, I'd take a look after work.

[2017-07-07 18:12] markbates commented on #389
@stanislas-m I wonder if this should be done here https://github.com/gobuffalo/x/tree/master/responder thoughts?

[2017-07-07 18:14] stanislas-m commented on #389
@markbates, sure! I'll take a look on this. :)

[2017-07-07 18:30] stanislas-m commented on #378
@u007 maybe you can try to use the strip tags `--ldflags="-s -w"`, so the binary will be lighter.

[2017-07-07 23:07] andranikmirzoyan opened #497 "Unsuccessful: buffalo new <name> --skip-pop"
Hi All,

I'm fairly new to this... been pulling my hair trying to figure out why this is failing... I'd be grateful if anyone can show me some direction.

Some background information:

OS: Ubunto 16.04

Profile:
export GOROOT="/usr/local/go"
export GOPATH="/home/amirzoyan/work"
export GOBIN="$GOPATH/bin"
export PATH="/usr/local/go/bin:$GOBIN:$PATH"

go version:
go version go1.8.3 linux/amd64

Envi

[2017-07-07 23:29] markbates commented on #497
Is there any other output? Does it work if you don't pass the --skip-pop flag?

[2017-07-09 00:10] edmwagner opened #500 "Getting started: running buffalo new coke with 0.9.0 and go 1.8.3 fails on windows"
Installed buffalo from instructions at http://gobuffalo.io/docs/getting-started for a nosqlite:
`go get -v -u -tags nosqlite github.com/gobuffalo/buffalo/buffalo`

go version
[code]

go env

[code]
Error in tail of output from `C:\src\gobuffalo\src\github.com\ed>buffalo new coke -v --skip-pop`
[code]
I noticed the path looks wrong above but have tried with different GOPATHs and had the same failur

[2017-07-09 00:54] edmwagner commented on #500
![image](https://user-images.githubusercontent.com/10358884/27990293-a6cc4094-641f-11e7-9155-8133dd28d0c5.png)

[2017-07-09 01:00] markbates commented on #500
Looks like you're missing gcc

[2017-07-10 18:44] shendaras opened #501 "Pagination and auto-generated route functions"
Currently, attempting to alter the base index.html of a generated resource to handle pagination requires the template to appear something like below (ex. uses an 'article' resource):

[code]

Elsewhere, in the edit.html or show.html other template functions are mentioned which take a map argument.

[code]

It would be nice to utilize that syntax when adding in other parameters, like the *page* to

[2017-07-10 21:46] apaganobeleno commented on #501
hey @shendaras thanks for reporting this one, i'll work on this one and keep you posted on its progress.

[2017-07-11 01:30] apaganobeleno opened #503 "Add explicit version (or range) to the Node packages"
To ensure better stability with Node packages we need to setup versions for the npm packages we're install when creating a new app, here is the list of packages we currently install, some of them already have versioning others doesn't

- "webpack@~2.3.0"
- "sass-loader"
- "css-loader"
- "style-loader"
- "node-sass"
- "extract-text-webpack-plugin"
- "babel-cli"
- "babel-core"
- "babel-preset-env"
-

[2017-07-11 15:10] #501 closed

[2017-07-12 16:45] corylanou opened #508 "Running buffalo commands outside of the directory should error out"
Currently you can run commands like "buffalo setup" outside of a project and you will either get no errors, or errors that don't make sense (for obvious reasons).

The binary should verify you are running these commands from within the project otherwise throw an error.

[2017-07-12 16:52] corylanou opened #509 "Make Routes in help clickable"
It's awesome that you get a list of routes when you develop.  it would be cool if those routes had a clickable path to quickly navigate to those routes.

[2017-07-12 17:04] corylanou opened #510 "Add Live Reload Support"
It would be nice to add a live-reload support option to the "buffalo dev" command for faster development.

[2017-07-12 17:51] derekbassett opened #512 "Provide an error if -(dash) in a helper name."
Accidentally created a Helper with a - (dash) in the name of a helper.  This caused unexpected behavior.  It would be nice to throw a warning or provide support for - inside of helpers.

[2017-07-12 19:03] samuelhorwitz opened #513 "Weird bug regarding $GOPATH bin directory"
When starting a test project today in the seminar, I was using naming along the lines of "buffalo-example-1". This would ultimately create an a build in the `$GOPATH/bin` called `buffalo-example-1`. This in turn would lead to running `buffalo` hanging indefinitely, when run from any path with an instantiated project. Ultimately one of the TAs helped me trace it back to the `bin` path containing bu

[2017-07-13 02:36] edmwagner commented on #497
Trying again today.  If there is a way for more verbose output I'll try it.

today I ran threw new setup following: http://gopherguides.com/before-you-come-to-class
Then http://gobuffalo.io/docs/getting-started

I see the result is the similar but buffalo version is updated and exit status is 2. output follows:

![image](https://user-images.githubusercontent.com/10358884/28148031-548bf582-6752-11e

[2017-07-13 02:38] edmwagner commented on #497
Will remove created code dir and try without `--skip-pop`.  Should I add `--db-type mysql` ?  otherwise docs indicate sqlite will be used and require gcc which I do not have at this time.

[2017-07-13 02:49] markbates commented on #497
Unfortunately the docs were wrong and have been amended. Even if you are not using SQLite. Sorry for the confusing.

-----------
Mark Bates

On Jul 12, 2017, 8:38 PM -0600, edmwagner <notifications@github.com>, wrote:

[2017-07-13 02:53] edmwagner commented on #497
Ahh.  Mark just noticed your comment about missing gcc.    I'll add gcc to cygwin and before and try running from under cygwin sell

[2017-07-13 14:24] apaganobeleno commented on #509
@corylanou i think @markbates and i discussed this one before, i was wanting to add these links but Mark made me notice most of the links there will be to non-GET routes, so we thought by that time it didn't make much sense.

@markbates thoughts on this ? should we add these links ?

[2017-07-13 23:51] jonahfang opened #515 "How to start app at 0.0.0.0:3000?"
I run buffalo application inside docker container,  I want to do like this:

[code]

[2017-07-13 23:52] markbates commented on #515
Just edit the main.go to do what youd like.

[2017-07-14 00:00] jonahfang commented on #515
But I got error like this:

[code]

[2017-07-14 00:06] jonahfang commented on #515
@markbates any suggestions?

[2017-07-14 00:11] markbates commented on #515
It looks like there is hard coded : in there https://github.com/gobuffalo/buffalo/blob/master/app.go#L38 it's a bug. The workaround would be to not use the start method and write your own until the next release.

[2017-07-14 00:16] jonahfang commented on #515
But I run the buffalo app inside container(MacOS), how to browse the first page?

[2017-07-14 00:54] markbates commented on #515
If you're using docker for mac you should be able to just hit local host:3000 also, you shouldn't need to bind it to 0.0.0.0 it should work out. The box as is.

-----------
Mark Bates

On Jul 13, 2017, 6:16 PM -0600, jonahfang <notifications@github.com>, wrote:

[2017-07-14 02:18] jonahfang commented on #515
I use docker toolbox not docker for mac, so I cannot use localhost:3000.

[2017-07-14 02:20] markbates commented on #515
I don't know toolbox. Sorry. I can't really help with that. Sorry.

[2017-07-14 02:24] jonahfang commented on #515
Docker toolbox: <https://www.docker.com/products/docker-toolbox> use docker-machine, I must use url like http://192.168.99.100:3000 to launch the first web page where 192.168.99.100 is the IP address of the docker-machine vm.

[2017-07-14 05:00] ianwalter opened #516 "Environment variables in .buffalo.dev.yml?"
Where should users put local project environment variables?
I'm using a .env file and github.com/joho/godotenv right now but it doesn't seem to work with Envy.
I think it might be nice if the dotenv functionality was added to Envy or if .buffalo.dev.yml
had a `environment` section (like a docker-compose.yml).

[2017-07-14 06:52] stanislas-m commented on #515
@jonahfang, try to use Start without ip:
[code]
It should bind on 0.0.0.0 by default, so it will listen on http://192.168.99.100:3000 too.

[2017-07-14 06:56] jonahfang commented on #515
@stanislas-m thanks for reply. I got 500 error like this:

[code]

[2017-07-14 07:00] jonahfang commented on #515
It is the database config error, I will replace it with sqlite3.

[2017-07-14 07:06] stanislas-m opened #517 "Assets missing on new v0.9.1.2 app without npm"
I tried to create and run a new app, without any param:

[code]

The app was generated in a docker image (golang:1.8), so without node / npm. When I tried to connect to the app, there was an expected error saying PostgreSQL is not responding (which is the correct behavior), but the logo was missing on the error page.

[2017-07-14 07:07] jonahfang commented on #515
@stanislas-m , thank you very much, it works now!

[2017-07-14 11:19] stanislas-m commented on #515
@jonahfang, no problem!

[2017-07-14 11:22] stanislas-m opened #518 "Buffalo can't bind on fixed IP"
The current buffalo Start app takes a port, but in some cases (proxying for instance), we must be able to fix the listening address.

[2017-07-14 11:22] stanislas-m commented on #518
Related to #515.

[2017-07-14 11:22] #515 closed

[2017-07-14 11:33] u007 opened #519 "[Question] showing sql queries when testing or log to test.log"
hi,

how do i force test environment to generate log/test.log?
LogDir in opts does not work

thanks

[2017-07-14 12:38] corylanou opened #520 "Demo/Example Buffalo Application"
We should create another repo which is a demo/example app of how to use many of the buffalo features:

- [ ] Basic Forms
- [ ] Flash Messages
- [ ] Mailers
- [ ] Workers

We can add to the list but this is just a quick list off the top of my head.  Documentation is great, but nothing beats examples.

[2017-07-14 12:41] gose commented on #520
Or extend https://github.com/gobuffalo/toodo

[2017-07-14 17:38] markbates commented on #520
We do have this page http://gobuffalo.io/docs/examples to keep track of these sorts of things.

[2017-07-14 18:03] markbates commented on #519
So Buffalo uses https://github.com/sirupsen/logrus under the covers. So you can either create a new logger:

[code]

or you can set the output to something else:

[code]

[2017-07-14 18:03] #519 closed

[2017-07-14 18:28] markbates commented on #516
@ianwalter I've added a ticket for envy to support `.env` files. So I'm closing this ticket in favor of that ticket.

[2017-07-14 18:28] #516 closed

[2017-07-14 19:52] lucasmorgan opened #521 "Buffalo dev runtime error upon trying to access local host page"
![image](https://user-images.githubusercontent.com/27509053/28228325-09805186-68ac-11e7-83cc-bed002666017.png)

after I use the buffalo dev command the server starts but as soon as I try to refresh the localhost:3000 page, I get the runtime error shown in the picture. Does anyone know what could be causing this?
I am on a windows machine

[2017-07-14 20:59] paganotoni opened #522 "Automate Windows Testing"
Some of the issues we've been receiving on Buffalo are related with Windows, that is because typically contributors use Linux/MacOS machines to develop and our CI runs a Docker image that is another Linux machine.

It is important to provide a more stable experience to our Windows users that allow them to engage with buffalo as well as build new applications using the Ecosystem, otherwise new-comi

[2017-07-14 21:13] apaganobeleno commented on #522
I just did a quick search and one of the things we could do is implement https://www.appveyor.com/ inside our repo.

[2017-07-14 21:27] apaganobeleno commented on #508
Covered by #514, thanks for adding this one @corylanou

[2017-07-14 21:27] #508 closed

[2017-07-14 21:35] markbates commented on #521
It looks like you have a `nil` session, but I'm not sure why that is. Do you have any reproduction steps you can add to help us figure it out?

[2017-07-16 17:04] radutopala opened #524 "Mac issue"
Installed via `go get -u -v github.com/gobuffalo/buffalo/buffalo`, then running `buffalo` gives `Killed: 9`.

I'm on `go version go1.8.3 darwin/amd64`.

[2017-07-16 17:06] markbates commented on #524
This is a Go issue. Rebuild your binaries making sure you are at least `1.8.1`: http://gobuffalo.io/docs/troubleshooting

[code]

[2017-07-16 17:06] #524 closed

[2017-07-16 17:09] radutopala commented on #524
@markbates Just found #338.. tx

[2017-07-16 19:29] markbates commented on #512
Fixed here: https://github.com/gobuffalo/plush/commit/787883a7c0f2b62d2ff22531a9ad969d55c0a5ab

[2017-07-16 19:29] #512 closed

[2017-07-16 21:38] #517 closed

[2017-07-16 22:17] #513 closed

[2017-07-17 11:05] u007 opened #528 "[Question] db.Transaction and controller unittest"
Hi,

ive added
[code]
middleware, and have been using this in my controller.

when i made action test, it seems to not getting latest update from transaction.
could this be that the tx inside controller is different from the unit test tx?

this is how i invoke the test:
[code]

but when i check using pgadmin, i can see the status been updated correctly

[2017-07-17 11:29] u007 commented on #528
sorry my bad, made a mistake not retrieving it after saving from after save

[2017-07-17 11:29] #528 closed

[2017-07-17 14:38] lucasmorgan commented on #521
I had to change the name of the webpack,config.js file in order to get around the buffalo dev fails to start with Unknown error, as shown in the the troubleshooting section on gobuffalo.io, but other than that have made no changes to the project generated by the buffalo new command

[2017-07-17 19:54] markbates commented on #521
Can you give me more info about your environment? `go version` `go env`, etc...

It looks like you're getting a `nil` session, which according to the docs for https://github.com/gorilla/sessions/blob/master/store.go#L79 should never happen.

I'm not a windows person, but trying a new app on my bootcamp partition I had no problem with either `webpack.config.js` or starting the server.

According to

[2017-07-17 23:03] bscott opened #530 "Buffalo command shows duplicate plugins"
[code]

Assuming that a plugin is installed in GOPATH and the plugins directory.

[2017-07-17 23:04] bscott commented on #520
I think we can close this, the examples page shows quite a bit of usage.

[2017-07-18 01:31] bscott opened #532 "webpack error in Buffalo 0.9.1.2"
Generated a brand new app and receiving the following error:

[code]

[2017-07-18 01:35] markbates commented on #532
Are you sure you're running `0.9.1.2`? This was fixed in `0.9.1.1` here: https://github.com/gobuffalo/buffalo/commit/6b232913aabfed10b409187c74f1d71ea33168d0

You should have `extract-text-webpack-plugin` pinned to `2.1.2` in `package.json`.

[2017-07-18 11:27] apaganobeleno commented on #518
Closed by #527

[2017-07-18 11:27] #518 closed

[2017-07-18 14:54] lucasmorgan commented on #521
I just updated and tried it, I was no longer getting the Buffalo Dev failing to start with Unknown Error, but as soon as I refresh the page I am still getting the nil  session. The screenshot has all the info about my environement
![screenshot 6](https://user-images.githubusercontent.com/27509053/28323623-5ecd1162-6ba7-11e7-879f-7199ac331db0.png)

[2017-07-18 15:01] markbates commented on #521
Ok. Still trying to figure out why, but we'll get there! Like I said, I've never seen this and according to the Gorilla docs, it should never happen, but here we are. :)

[2017-07-18 15:24] lucasmorgan commented on #521
Also as a side note, I downloaded and ran the simple Too Do app with no errors but haven't been able to run a project that was generated on my machine without getting the nil session

[2017-07-18 18:36] lucasmorgan commented on #521
I managed to get around the bug and get the server to start! The bug has to do with the different paths in windows and the way you create the project

[2017-07-18 18:41] apaganobeleno commented on #521
so @markbates i'll create a couple of bugs related with @lucasmorgan issue, those are mostly related with windows backslashes and the way we handle them when generating a new app.

[2017-07-18 18:41] #521 closed

[2017-07-18 18:48] apaganobeleno opened #540 "New Command generates invalid app settings"
If you generate an app from $GOPATH/src with its complete source name the app won't start:

[code]

App starts but when you go to localhost:3000 it crashes with:

[code]

[2017-07-18 18:50] apaganobeleno commented on #540
Also database.yml uses the complete name of the app instead of the last part:

[code]

This ends up causing connection string to postgresql is invalid.

[2017-07-18 18:55] apaganobeleno commented on #540
And the issue @lucas was having was because the session names was being set to be:

[code]

And that seems not to work.

[2017-07-18 19:08] markbates commented on #540
Sounds like we have 4 ways to fix this:

* error if the app name contains "special" characters
* create the app at $PWD/other_app and forget everything that came before it
* try to create the app at $GOPATH/src/github.com/apaganobeleno/other_app
* create the app at $PWD/github.com/apaganobeleno/other_app

@apaganobeleno thoughts?

[2017-07-18 19:38] apaganobeleno commented on #540
@markbates first one sounds cleaner and simpler to me, second could be confusing because we're generating app in a different path than provided by the user, third and fourth have the problem that even tho buffalo have generated the app at the specified path, the user is not even close to that path and will need to do a cd github.com/... before starting to use it which again is confusing.

So my vo

[2017-07-18 19:59] markbates commented on #540
works for me! you want to take this one, or should I?

[2017-07-18 20:00] apaganobeleno commented on #540
i'll work on it tonight, i think this one should be in our next release, agree ?

[2017-07-18 20:00] apaganobeleno commented on #532
@bscott does this one still happens to you ?

[2017-07-18 20:03] markbates commented on #540
yeah. it shouldn't take too long. there's already some logic around what is a "valid" name when creating a new app. just needs to be extended a bit.

[2017-07-18 21:46] corylanou commented on #520
agreed, I didn't know about the demo app.  Guess I should rtfm :-).

[2017-07-18 21:46] #520 closed

[2017-07-18 23:02] bscott commented on #532
@apaganobeleno I'm going to check

[2017-07-18 23:14] bscott commented on #532
Seems to be fixed with this.

You should have extract-text-webpack-plugin pinned to 2.1.2 in package.json.

[2017-07-18 23:14] #532 closed

[2017-07-19 00:16] #540 closed

[2017-07-19 00:17] markbates commented on #497
Closing this since it is basically a duplicate of #500

[2017-07-19 00:17] #497 closed

[2017-07-19 00:18] markbates commented on #500
I'm closing this since it looks like what is missing is an installed `gcc`. If, after installing `gcc` you are still having problems, please re-open this issue. Thanks.

[2017-07-19 00:18] #500 closed

[2017-07-19 02:08] #503 closed

[2017-07-20 10:39] u007 commented on #519
hi @markbates
where do i find the code that prints out [POP] sql sattements in log?

[2017-07-20 10:54] u007 commented on #519
iam getting this when callling
[code]
[code]

[2017-07-20 12:02] markbates commented on #519
Sorry, my bad. The logger is an interface, so you'd have to cast it.

[2017-07-21 03:50] u007 commented on #519
Do you want me to submit a uber-go/zap version of buffalo logger ?
it has coloring and can support multiple output

[2017-07-22 14:31] markbates opened #550 "skip dep automatically if it's not installed on `new`"

[2017-07-22 14:35] markbates opened #551 "dep isn't being automatically installed in 0.9.2"

[2017-07-23 19:07] #551 closed

[2017-07-23 19:07] markbates commented on #550
resolved with #552

[2017-07-23 19:07] #550 closed

[2017-07-23 23:45] markbates commented on #356
I think this would be better suited as a plugin for buffalo, not part of the Buffalo project itself. Plugins are meant for exactly this type of extending of the project.

Documentation on how to write plugins can be found at [http://gobuffalo.io/docs/plugins](http://gobuffalo.io/docs/plugins).

[2017-07-23 23:45] #356 closed

[2017-07-23 23:45] markbates commented on #355
I think this would be better suited as a plugin for buffalo, not part of the Buffalo project itself. Plugins are meant for exactly this type of extending of the project.

Documentation on how to write plugins can be found at [http://gobuffalo.io/docs/plugins](http://gobuffalo.io/docs/plugins).

[2017-07-23 23:45] #355 closed

[2017-07-23 23:45] markbates commented on #358
I think this would be better suited as a plugin for buffalo, not part of the Buffalo project itself. Plugins are meant for exactly this type of extending of the project.

Documentation on how to write plugins can be found at [http://gobuffalo.io/docs/plugins](http://gobuffalo.io/docs/plugins).

[2017-07-23 23:45] #358 closed

[2017-07-23 23:46] #97 closed

[2017-07-23 23:46] #94 closed

[2017-07-24 05:42] rof20004 opened #556 "Documentation needs more informations"
I searched and not found:

What is a resource?
What is an action?

How to create only a REST api?

Thanks.

[2017-07-25 23:22] markbates opened #561 "A "catch-all" route causes a panic"
[code]

[code]

[2017-07-26 00:34] apaganobeleno commented on #561
@markbates how do you think should be the name of that route ?

[2017-07-26 01:15] markbates commented on #561
I would call it "unnamed". If a second one comes in "unnamed2", etc…

[2017-07-26 13:51] apaganobeleno commented on #561
ok, i will just name the route "unnamed" as we discussed on Slack, if there is another route with the same shape it would override this one, so it should have the same name.

[2017-07-26 14:12] apaganobeleno commented on #561
closed by #562

[2017-07-26 14:12] #561 closed

[2017-07-28 07:55] u007 commented on #378
nice its 17+mb now :)

[2017-07-28 08:12] u007 commented on #378
when -e option is given, the templates it tried to open from my local development path when i compile it.
eg:
/Users/username/gopath/src/project/templates/admin/dashboard.html

[2017-07-28 14:10] bigblind commented on #391
Can I take a crack at implementing this?

[2017-07-28 14:30] apaganobeleno commented on #391
@bigblind please sir!

[2017-07-28 18:40] gerred opened #566 "Proposal: Websocket/Channel Mechanism"
# Proposal: Websocket/Channel Mechanism

## Abstract

High-level constructs around websockets provide a framework within Buffalo for application developers to offer real-time features to their users. Currently, a raw websocket handler is exposed on the context. This would provide event-style broadcasting, presence, and other features targeted at providing a productive real-time development stack f

[2017-07-28 20:31] markbates commented on #378
@u007 that sounds like a bug. templates and migrations should always been in the binary, but if the `-e` flag is used then assets are the only things that shouldn't be bundled.

[2017-07-28 20:33] markbates opened #567 "Templates and migrations are bundled in binary with the `-e` flag"
When using the `-e` flag to build a binary it appears that all `packr` boxes are being ignored by the build process. Things like templates, migrations, etc... should always be in bundled in the binary. Assets are the only thing that should be excluded in the `-e` flag.

Related to #378

[2017-07-29 17:00] stanislas-m commented on #567
@markbates, I can take this one.

[2017-07-29 17:02] markbates commented on #567
@stanislas-m it's all yours! :)

[2017-07-29 17:41] stanislas-m opened #568 "Last logrus version breaks Buffalo logger_formatter"
I just tried to create a new app using the development branch, and the following issue occured:

[code]

This is due to the last logrus version, which makes IsTerminal unavailable. See https://github.com/sirupsen/logrus/issues/607.

[2017-07-29 17:48] stanislas-m opened #570 "Linux: Buffalo tries to install yarn globally without checking for root rights"
Trying to create a new Buffalo app on my Ubuntu 17.04, having npm installed but not yarn:

[code]

On this setup, npm needs root rights to install a package globally. I was able to install yarn using `sudo npm install -g yarn`, to prevent the buffalo files to be created as root (if I used sudo with buffalo) ; but it seems not really straightforward.

[2017-07-29 17:52] markbates commented on #570
That's not a Buffalo issue, it is an npm issue. NPM is supposed to have access. https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2017-07-29 17:52] #570 closed

[2017-07-29 17:56] stanislas-m commented on #570
Thanks!

[2017-07-29 18:51] bigblind commented on #360
@bscott Are you still working on this? I'd love to take a look at what it'd take to implement this.

[2017-07-29 19:05] markbates commented on #360
Actually this was solved the other day here: https://github.com/gobuffalo/buffalo/commit/71a39e46525fc61934c6ff0586ff55d264554afb

[2017-07-29 19:05] #360 closed

[2017-07-29 21:39] #568 closed

[2017-07-29 21:40] #391 closed

[2017-08-01 11:31] Coccoonx commented on #532
Hello,
I'm facing the same issue with new generate application. I have version 3.0.0 of extract-text-webpack-plugin.
Here is the entire log:

[code]

[2017-08-01 11:34] markbates commented on #532
This was fixed in version 0.9.1.1. If you upgrade Buffalo, current version is 0.9.2, and regenerate it'll pin the version to 0f that node module to 2.1.2.

Alternatively you could pin it in your package.json.

[2017-08-01 11:58] Coccoonx commented on #532
I just upgrade Buffalo to 0.9.2 and try creation of new application. But I have this error:
`Error: exec: "dep": executable file not found in $PATH`
How can I fix this ?

[2017-08-01 12:10] markbates commented on #532
Sorry, the dep team changed their install path recently.

go install github.com/golang/dep/cmd/dep

Alternatively I would recommend generating new apps with --skip-dep

[2017-08-01 13:53] Coccoonx commented on #532
Ok. Working now.
Thanks

[2017-08-01 14:04] sio4 opened #573 "Some problem on paginator helper for mostly empty or large number of objects."
Hello, today I generate new resource for my current project and I found the pagination is added! looks great but when I tested it, at the first time there is empty line because there is not enough data on my database. anyway, it broke other divs after the empty paginator space holder since `<div />` is treated as just open tag.

And I added enough number of object, it makes so long button list 3 o

[2017-08-01 21:53] #573 closed

[2017-08-01 23:47] qarth commented on #217
I would love to see an authboss style plugin for Buffalo. Has there been any progress on this?

[2017-08-02 01:06] markbates commented on #217
I'm closing this since I think it's out of scope of the main buffalo project, but could easily be implemented using plugins. I believe @apaganobeleno is working on a plug in, but I don't know if it's status.

[2017-08-02 01:06] #217 closed

[2017-08-02 07:54] Coccoonx opened #574 "Cannot install on windows 7 x64"
Hello,

It's been a while I'm trying to install buffalo on windows env but I cannot achieve.

I followed steps for go installation succesfully. But when I run

`go install -v github.com/gobuffalo/buffalo/buffalo`

I have this error:
[code]

I tried desperatly to install gcc (using [this](http://preshing.com/20141108/how-to-install-the-latest-gcc-on-windows/)) but at end I have this:
[code]

Please

[2017-08-02 11:24] alexcarol opened #575 "Gitlab ci fails with a new project"
Steps to reproduce:
- create a new project with: buffalo new test -f --api --ci-provider gitlab-ci -v
- push to gitlab
- check how gitlab-ci job fails

I also tried with mysql and I got an error as well.

https://gitlab.com/alexcarol/test
Latest:
- https://gitlab.com/alexcarol/test/-/jobs/27033773
- ```Error: error creating PostgreSQL database test_test: exec: "createdb": executable file not found

[2017-08-02 11:27] markbates commented on #575
You are missing the Postgres dev tools. Buffalo uses them to do things like create a database, dump schemas, etc…

[2017-08-02 11:48] alexcarol commented on #575
Shouldn't the autogenerated .gitlab-ci.yml provide them out of the box?
I tried using the latest gobuffalo docker image instead (as it looks like it has the needed tools) and got a different error: https://gitlab.com/alexcarol/test/-/jobs/27044692

Thanks for your help.

[2017-08-02 11:56] markbates commented on #575
Personally I don't really know anything about gitlab CI so I'm not much of a help I'm afraid. To answer the first question, it probably should install the tools needed for the different databases. Again, I don't use it so if you figure it out, a PR would be very appreciated.

As for using the docker image all the tools are installed in the images, but database servers are not started. You are expe

[2017-08-02 11:59] markbates commented on #575
I would recommend joining the #buffalo slack channel on gophers.slack.com see if anyone there has experience with gitlab, see if they can help.

-----------
Mark Bates

On Aug 2, 2017, 7:48 AM -0400, Alex Carol <notifications@github.com>, wrote:

[2017-08-02 12:30] baldrailers commented on #575
There's a documentation listed [here](https://docs.gitlab.com/ce/ci/services/postgres.html).

[2017-08-02 12:35] stanislas-m commented on #575
I wrote the original Gitlab CI adapter, I'll take a look after my work. :)

[2017-08-02 12:37] baldrailers commented on #575
It works nicely if you are not using `postgresql`, with `0.9.2` generator defaults to `sqlite` it'll work seamlessly. I "think" the problem is the container links as per `command not found` with `createdb`.

[2017-08-02 17:08] barrongineer commented on #574
Try installing with [scoop](http://scoop.sh/).

Open PowerShell and run the following:
[code]

[2017-08-02 19:57] stanislas-m commented on #575
I tested it a bit to fix the Gitlab CI generator:

[code]

When I run the CI, I still have an error: the test command seems trying to dump the dev schema:

[code]

[2017-08-02 20:18] stanislas-m commented on #575
Even with this dump problem, I made it work by disabling the ssl mode:

[code]

[2017-08-03 08:10] Coccoonx commented on #574
Thanks for suggestion.
Finally I use this [distro](https://nuwen.net/mingw.html) for gcc and installation goes well.

But Buffalo process takes too much time.  As you can on this screenshot, it takes around 11h to generate a new project. What can be the cause ?

![snapshot](https://user-images.githubusercontent.com/9346474/28912290-96127d48-782b-11e7-8762-aa3d81571697.jpg)

[2017-08-03 12:36] lukasmalkmus opened #577 "Problems with reserved SQL identifier"
So today I wanted to introduce a friend to buffalo and created a demo application:
`buffalo new test --db-type=sqlite3 --ci-provider=gitlab-ci --with-yarn`

I quickly created a new resource but did something, I usually wouldn't do:
`buffalo generate resource users name alter`
Is used german field names instead of english ones (`alter` is the german word for `age`).

As I opened up `localhost:3000/

[2017-08-03 20:18] paganotoni opened #578 "Asset Fingerprinting"
In order to avoid cache issues for Buffalo applications, buffalo apps should fingerprint its assets based on file contents.

Probably [rails documentation](http://guides.rubyonrails.org/asset_pipeline.html#what-is-fingerprinting-and-why-should-i-care-questionmark) explains this better than me.

[2017-08-03 20:18] apaganobeleno commented on #578
@markbates thoughts ?

[2017-08-03 20:30] markbates commented on #578
This would require two different things. 1) WebPack would need to be configured to do this sort of finger printing. 2) some sort of `assetPath` helper that would return the path to an asset with the correct fingerprinting on it.

It may also require changes to packr.

[2017-08-03 20:57] apaganobeleno commented on #578
I think we can start by adding the assetPath helper which could be a separate story. Im also thinking that this should be one of those opt-out things that as a developer you could disable if you don't want to have in your app.

[2017-08-03 20:58] apaganobeleno commented on #578
@markbates i would love to work on this one if its ok to work on this now, WDYT ?

[2017-08-03 21:19] markbates commented on #578
Knock yourself out kid. ;)

[2017-08-04 16:26] sio4 opened #579 "Verbose log of workers"
Hi,
Today I tried to use the simple worker. and I found the log level for "Performing" (worker/simple.go#L75) and "Completed" (worker/simple.go#L89) is Info. I think it can be Debug level because this logs need to be suppressed when I put this app in production.

[2017-08-04 21:09] bigblind commented on #578
I think you could use a plugin like [webpack-manifest-plugin](https://www.npmjs.com/package/webpack-manifest-plugin) to generate a manifest JSON file, which maps JavaScript file names to the file names of the corresponding output file. Then, the helper can just read that JSON file. If I'm not mistaken, Packr can pack up an entire, directory, so it can just pack up the entire output directory.

[2017-08-04 23:59] dankinder opened #580 "buffalo new: dep ensure fails"
When running buffalo new, near the end I get the following:

[code]
This is because `dep ensure` seems to require either `-add` or `-update`. I actually tried putting either one in and both fail:
[code]

[code]

Maybe this dep ensure is unnecessary?

[2017-08-05 00:03] markbates commented on #580
They released a new version of dep today that changed the cli, hence the error.

The ensure is necessary because of a bug we found in dep that was setting the wrong version.

Looks like a new version of buffalo needs to be cut because of this issue.

[2017-08-05 00:06] #580 closed

[2017-08-05 00:10] markbates commented on #579
A PR would be welcome for this.

[2017-08-05 15:37] apaganobeleno commented on #578
@markbates @bigblind i did an initial attempt at fingerprinting here:

https://github.com/apaganobeleno/app/tree/feature-assets-sample

So far it works and Webpack does the heavy-lifting, however while implementing this (outside buffalo) solution it made me notice somehow when rendering css we need to provide users this helpers as well, so inside a css rule like:

[code]

They can do something  li

[2017-08-06 12:11] sio4 commented on #579
OK, I will do this tonight.

[2017-08-06 12:47] sio4 commented on #579
Hi, @markbates I did branched from current development branch but it seems there is some missing commit not applied to development but exists on master. Can I do cherry pick as below before I start? This commit 5aa1cff287e97fd4f8e2169abbe3c6bd4bba9220 is for the path of `logrus`.

`git cherry-pick 5aa1cff287e97fd4f8e2169abbe3c6bd4bba9220`

[2017-08-06 13:04] sio4 commented on #579
Oops! I found the code on 'development' branch is also slightly outdated. Can I make PR against master for this? or Can I merge your works d7390f29d5c1626b7e7879433301fae3cad992ff and 093e7f3b6c626e85511e2f13335623075ad0f819 before I start?

[2017-08-06 14:08] sio4 commented on #579
I removed two of my own comments because it's my fault.
I just made simple changes on current development branch and requested a PR.

[2017-08-06 14:51] sio4 commented on #579
Thanks for merging it quickly. I hope it will get on the master soon.
Thanks.

[2017-08-06 14:51] #579 closed

[2017-08-06 14:55] markbates commented on #579
Thank you! The next release is coming up soon. So it won't be a long wait. :)

[2017-08-10 22:59] mrichman commented on #436
I just reproduced this:

[code]

I was expecting `/Users/mrichman/go/src/github.com/mrichman/coke/coke_development.sqlite`

[2017-08-11 19:26] JamesMura commented on #289
Seem to be having this issue with v0.9.1 is there any way I can debug this, when I run the migrate command all it prints out is "--> Running migrations" and the time it took

[2017-08-11 19:31] markbates commented on #289
There is a big 0.9.1 that broke migrations. Use either 0.9.1.2 or 0.9.2

[2017-08-11 19:38] JamesMura commented on #289
upgrading the version worked. Thank you

[2017-08-12 19:32] bigblind commented on #578
In webpack, `file-loader` and `url-loader` take care of this. In the webpack config file that buffalo generates, there are already rules for font files, and for my own project, I've added a rule for png images as well:

    {
        test: /\.png$/,
        use: "url-loader?limit=10000&mimetype=image/png" + fileLoaderPath
     }

Given your example background image, this will put a file named "som

[2017-08-13 19:56] hut8 opened #586 "(&DefaultContext{}).Redirect() has surprising format-string behavior"
First, awesome framework. Thanks to everyone who's helped out with it 👍

When I say surprising, I mean specifically for me, but I think others too 😄

In a site I'm implementing, I'm using `c.Redirect(301,  someURL.Encode())`.  `someURL` includes query string parameters that need to be query-escaped (which ends up putting `%2F` strings in, among others).

I saw that `DefaultContext.Redirect()` look

[2017-08-13 20:00] hut8 commented on #586
I should probably add that `return c.Redirect(http.StatusTemporaryRedirect, "%s", authURL.String())` gives the expected result for me.

[2017-08-13 20:03] markbates commented on #586
Instead of changing the signature of the method, or adding another one, could it be as simple as checking if there are any args? If there are args run it through fmt.Sprintf otherwise just use the string given.

Would be easy to implement and a great first PR. :)

[2017-08-13 20:04] hut8 commented on #586
Great solution! I'll try to get to it today. Thanks for the opportunity 😄

[2017-08-13 20:08] markbates commented on #586
Thanks for the find!

[2017-08-17 01:16] apaganobeleno commented on #578
thanks @bigblind !

[2017-08-17 01:44] apaganobeleno commented on #578
@bigblind one question regarding the png rule you've set, what did you assigned into fileLoaderPath?

[2017-08-17 21:28] HintikkaKimmo opened #590 "Did my setup fail or are instructions incomplete?"
Just installed Buffalo with `go get -u github.com/gobuffalo/buffalo/buffalo` result I can find Buffalo from my go/bin dir(binary) and from my go/src/github.com dir (source), but go command line tool does not work from command line even after restarting the terminal(iTerm with zsh).

If I cd to go/bin dir I can successfully run `./buffalo` to open the command line tools. Am I expected to add it as

[2017-08-17 21:34] HintikkaKimmo commented on #590
Adding `alias buffalo="./go/bin/buffalo"` to my `.zshrc` file fixed the issue should documentation be updated?

[2017-08-17 21:54] bigblind commented on #578
```fileLoaderPath = "&publicPath=/assets"`

I have a slightly wonky frontend setup, and I experimented with this setting and the `useRelativePath` setting.

[2017-08-17 22:21] apaganobeleno commented on #590
@HintikkaKimmo probably `GOPATH/bin` is not added to your `PATH` env variable, could you confirm this ?

[2017-08-18 08:05] HintikkaKimmo commented on #590
@apaganobeleno you are correct. I am working with a new Mac and I was tricked by the announcement that Go path is now set by default. Change below fixed my issues(not caused by Buffalo). I close the issue.

PATH configuration created when running **brew install go**
`# export PATH=$PATH:/usr/local/opt/go/libexec/bin`

Here what I changed my PATH to get everything working
[code]

[2017-08-18 08:05] #590 closed

[2017-08-19 09:09] j0hnsmith opened #593 "buffalo new error message incorrect"
Buffalo is telling me that I'm not in my Go Workspace when I am, also directory in message is wrong.

[code]

[2017-08-20 12:00] hut8 commented on #586
Looks like you beat me to it :smile: Thanks a bunch.

[2017-08-22 07:03] j0hnsmith opened #596 "`buffalo db create -e development` asking for password"
The password is in `database.yml` but I'm still being asked for it, I suspect this is intended. Would be good to add a note to the docs http://gobuffalo.io/docs/db#creating-databases

[2017-08-22 11:45] markbates commented on #596
That's not intended. It means your Postgres setup is not correct. Once set properly it won't ask for your password.

[2017-08-22 11:45] #596 closed

[2017-08-22 15:47] #593 closed

[2017-08-22 15:47] #586 closed

[2017-08-22 17:44] markbates commented on #577
Closing in favor of https://github.com/markbates/pop/issues/113

[2017-08-22 17:44] #577 closed

[2017-08-22 20:23] hut8 commented on #574
Looks like most of the time is spent with NPM. How long does that take without buffalo? That is, after you install node and just run `npm install` with the same package.json, how long does that take? How much RAM do you have and how much CPU is it using?

[2017-08-22 20:23] markbates opened #600 "Move the Goth generator to a plugin and out of "core""

[2017-08-22 21:24] j0hnsmith commented on #596
@markbates I'm pretty sure my config is correct and it's still asking for my password. It's weird as it works when I run the command with `PGPASSWORD` set.

[code]

[2017-08-22 21:32] markbates commented on #596
Your user isn't setup in PG correctly to avoid the password prompt. Here is what my users look like:

[code]

[2017-08-22 21:34] markbates commented on #596
If you google, there are a lot of resources showing you how to set up PG for development like that.

[2017-08-22 22:03] Coccoonx commented on #574
Surely npm is the cause of that. It takes around one minute and more to log the first line of processing.
I run it on i5 CPU 2.5Ghz and 8GB Ram.
Finally I leave windows OS and I use linux.
Now it is pretty interesting.
Thanks for concerns

[2017-08-22 22:03] #574 closed

[2017-08-23 06:26] j0hnsmith commented on #596
@markbates Ahh, I was focusing on the uri instead of the commands that are actually run, `createdb/dropdb` aren't using the built uri that includes the password, I get it now.

I think I've fixed it in https://github.com/markbates/pop/pull/115

[2017-08-23 19:28] hut8 opened #602 "Provide way to mount other application"
Hey there

I'm trying to integrate buffalo with an admin dashboard ([qor/admin](https://github.com/qor/admin)). Right now, it's almost impossible. This admin dashboard generates its own routes based on models that are passed in, so I would have to do something like this:

[code]

And even that wouldn't work correctly because of updates and deletes.

I also tried writing middleware that handled it

[2017-08-23 19:41] markbates commented on #602
Definitely a good suggestion, in the meantime, this is how you would do it:

[code]

[2017-08-23 19:43] hut8 commented on #602
Wow, that was fast. Thanks a bunch!

[2017-08-23 19:43] markbates commented on #602
lol. you're welcome.

[2017-08-23 20:16] #602 closed

[2017-08-23 21:01] #600 closed

[2017-08-23 21:03] markbates commented on #149
https://github.com/gobuffalo/authrecipe

[2017-08-23 21:03] #149 closed

[2017-08-24 07:40] dexafree opened #606 ".env files support"
As now [envy supports loading .env files](https://github.com/gobuffalo/envy/pull/3), I'd like to add Buffalo the capability to automatically load them.

A great way of integrating it to buffalo would be allowing env overriding by GO_ENV:

* Common ENV settings that won't vary across environments: `.env`
* Environment dependant settings (ie: SMTP_USER): `.env.development`, `.env.production`, `.env.

[2017-08-25 18:35] u007 opened #607 "running db create and db seed and db migrate on server without go"
Hi,

how do we do this?
do we need to cross compile soda for linux and upload soda to server?

thanks

[2017-08-25 18:38] markbates commented on #607
If you have a binary you built with `buffalo build` then you can run grift tasks as well as migrations from that binary, see: [https://gobuffalo.io/docs/building#binary-commands](https://gobuffalo.io/docs/building#binary-commands). You can't create a db from the binary.

In theory your production DB would probably be set up already, which is why those commands aren't included. If it's not already

[2017-08-25 18:38] #607 closed

[2017-08-25 18:41] u007 commented on #607
i got soda working :) thanks

[2017-08-25 18:56] u007 commented on #473
i just confirmed that the issue isnt about heroku.
i tried running this on my docker:
and my build app has been using heroku name(just naming)
./bin/heroku t user:create xxx

my task user:create is executed, but all arguments is missing
xxx wasn't passed into the grift

[2017-08-27 23:03] CWharton opened #609 "Ability to set up pre-app handlers"
Trying to add CORS using 'github.com/rs/cors' as middleware but I am unable to get access to handlers through the middleware.

[2017-08-28 18:37] markbates commented on #609
See #610 for the PR for this. Once this PR is merged you'll be able to write the following in the development branch:

[code]

Using http://www.test-cors.org/#?client_method=GET&client_credentials=false&server_url=http%3A%2F%2Flvh.me%3A3000&server_enable=true&server_status=200&server_credentials=false&server_tabs=remote I'm able to test that the CORS library works.

This feature will be released i

[2017-08-28 18:37] #609 closed

[2017-08-28 21:29] paganotoni commented on #578
Added in #583

[2017-08-28 21:29] #578 closed

[2017-08-29 08:36] sbry commented on #578
There is a simpler solution for asset-fingerprinting. Instead of parsing the manifests json from the app, HtmlWebpackPlugin can process the application.html template like this:

[code]
The only other change is referencing the new path in actions/render.go HTMLLayout: "../public/assets/application.html".

[2017-08-29 11:52] markbates commented on #578
That solution makes a lot of assumptions, the biggest of which is that the only place assets are going to be called is from application.html file. It also assumes there are only the application.css and application.js files, and not others. It also moves the application.html file out of the templates directory, which means it isn't in the templates box, so it wouldn't be can't be found by the templ

[2017-08-30 12:45] siegesmund opened #612 "Creating a new project fails at goimports with Buffalo 0.9.3 and Go 1.9"
Creating a new project fails at goimports. I've read and tried the steps outlined in the Buffalo Troubleshooting FAQ.

Installing with Buffalo 0.9.3 and Go 1.9, I get the following output:

[code]

[2017-08-30 12:49] markbates commented on #612
Can you please copy the full output of the `new` command, the cmd string you ran, as well as the output of `buffalo info`? Thanks.

[2017-08-30 12:55] siegesmund commented on #612
**Command string:**
`buffalo new buffalotest`

**Output:**
[code]

[2017-08-30 14:28] markbates commented on #612
I'm unable to reproduce, but looking at this error `package /Users/peter/Documents/programming/go/buffalotest/models: unrecognized import path "/Users/peter/Documents/programming/go/buffalotest/models" (import path does not begin with hostname)` it looks like `goimports` doesn't like something about your path.

With that said, it looks like you're `$GOPATH` has capitals in it:

[code]

but your pa

[2017-08-30 14:30] markbates commented on #612
I can reproduce if I set my `GOPATH` to have capitals that don't match my file system. Fix your `GOPATH` and you should be good to Go. :) (yes, pun completely intended.)

[2017-08-30 14:47] markbates commented on #612
I added a new Troubleshooting section for this. https://gobuffalo.io/docs/troubleshooting Thanks for finding it. Hopefully correcting your `$GOPATH` will solve the problem for you. I'm closing for now. Please re-open if the problem persists.

[2017-08-30 14:47] #612 closed

[2017-08-30 19:48] siegesmund commented on #612
Thanks for the assist. Really basic problem; I just didn't see it because it rarely bites me.

[2017-09-06 16:17] cayter commented on #510
The doc [here](https://gobuffalo.io/docs/getting-started#running-in-dev) says it's supported. However, when using it with golang 1.9.0, it doesn't live reload when there's file changed. Not sure if this is a bug.

[2017-09-06 16:43] markbates commented on #510
You're confusing live reload, which auto refreshes a web page, which Buffalo doesn't support (yet), with auto rebuilding of the Go binary, which it does support.

-----------
Mark Bates

On Sep 6, 2017, 12:17 PM -0400, Cayter Goh <notifications@github.com>, wrote:

[2017-09-06 16:47] cayter commented on #510
Yep, I got confused because I was using `buffalo dev` in docker container with Dinghy over NFS and the code rebuild didn't work. However, after 20+ mins digging into the code, have noticed that `refresh` package uses `fsnotify` which doesn't support NFS sync yet. Am currently using gin reload utility to workaround it. Thanks though!

[2017-09-06 16:59] markbates commented on #510
Wow! That's a crazy set up! :) Would you mind opening a ticket describing the problem and your work around so we can add it to the troubleshooting guide? Maybe save someone else a bit of time in the future.

-----------
Mark Bates

On Sep 6, 2017, 12:47 PM -0400, Cayter Goh <notifications@github.com>, wrote:

[2017-09-06 17:07] cayter opened #620 "`buffalo dev` code auto rebuild doesn't work with NFS"
***Host OS***
macOS Sierra 10.12.6 (16G29)

***Environment***
Docker container on Dinghy (VirtualBox VM with Ubuntu installed)

***Affected Command***
buffalo dev

***Expected Behaviour***
Binary should get auto rebuilt when there is file changed on macOS and get NFS synced into Dinghy's docker container.

***Actual Behaviour***
Nothing happened.

***Suspected Root Cause***
`buffalo dev` uses http

[2017-09-06 17:08] cayter commented on #510
Here you go. https://github.com/gobuffalo/buffalo/issues/620

[2017-09-06 17:11] markbates commented on #510
Awesome. Thanks!

-----------
Mark Bates

On Sep 6, 2017, 1:08 PM -0400, Cayter Goh <notifications@github.com>, wrote:

[2017-09-06 17:12] paganotoni commented on #510
@markbates should we work on this (js/css) live reload functionallity, i could look into it after i send asset fingerprinting PR again

[2017-09-06 19:56] markbates commented on #510
Definitely. I think the way to do this is to grow `refresh` a little bit and have it expose a channel that can be listened to for events that come out of it. then the `buffalo dev` command can listen to those events and send a live reload message. it would probably only work with `webpack` since there isn't a good Go based solution.

[2017-09-07 18:07] hut8 opened #623 "Build on Windows produces incorrect extension"
I hate to be _that guy that uses Windows_ , but here I am 😄

After creating a new project, if I run `buffalo b` on Windows, I get bin/my-project instead of bin/my-project.exe

Looks like this line is at fault: https://github.com/gobuffalo/buffalo/blob/master/buffalo/cmd/build.go#L422

It's a small bug; I believe that replacing `os.Getenv("GOOS")` with `runtime.GOOS` should work.

[2017-09-07 18:17] markbates commented on #623
Any chance I could convince you to submit a PR for it? :)

-----------
Mark Bates

On Sep 7, 2017, 2:16 PM -0400, Liam <notifications@github.com>, wrote:

[2017-09-07 18:29] hut8 commented on #623
Indeed. Will submit shortly.

[2017-09-07 18:48] #620 closed

[2017-09-07 19:54] #623 closed

[2017-09-08 05:14] u007 commented on #473
ive requested to reopen, but no reply , so i will recreate an issue

[2017-09-08 05:14] u007 opened #625 "deployed binary cannot pass in argument to task"
buffalo v0.9.3

i just confirmed that the issue isnt about heroku.
i tried running this on my docker:
and my build app has been using heroku name(just naming)
./bin/app task user:create xxx

my task user:create is executed, but all arguments is missing
xxx wasn't passed in

[2017-09-08 21:40] TheDeadCode opened #628 "A few questions"
Hello!

I'm sorry for my noobyness in advance, I'm a very recent go user

1. I noticed that Buffalo (Gorilla?) always cookies you, even if you're hitting the API. Is this expected behaviour? If so, how can we disable it?

2. Is there Lazy-SQL support? (Only connect/use the connection when an SQL query has to be made). Using no driver, I can easily reach 10,000 requests per second (our current use-

[2017-09-08 21:54] markbates commented on #628
No need to apologized, they're great questions.

First, If you're doing an API, you probably want to use the `sessions.Null` session implementation:

[code]

As for the SQL question, if you remove the following line from `actions/app.go` it will stop putting a transaction on every request:

[code]

That means, however, that there won't be a transaction in your context, `c.Value("tx")`, you'll need

[2017-09-08 21:54] #628 closed

[2017-09-09 00:05] neutronstein opened #629 "Error: you need to be inside your buffalo project path to run this command"
I am getting error below while running `buffalo dev` and `buffalo generate` on a fresh buffalo new project.
[code]
### Buffalo Version
v0.9.4

### Go Version
go version go1.9 linux/amd64

[2017-09-09 00:07] markbates commented on #629
You need to CD into the directory of your application. You are not in the right folder. After you generate your app you need to go into that directory to run your app.

[2017-09-09 00:17] neutronstein commented on #629
I did since I was able to run buffalo db command.

[2017-09-09 00:21] markbates commented on #629
Please confirm that you are in the correct directory by running `pwd` or windows equivalent.

If you still believe you're in the correct directory, please run `ls -la` or windows equivalent. If you don't see a `.buffalo.dev.yml‘ you're not in the directory.

[2017-09-09 00:29] neutronstein commented on #629
[code]

[2017-09-09 00:32] markbates commented on #629
You are missing half of the directories and files. That's why it doesn't think you're in a Buffalo app. Did you, or something delete them? How did you create your app?

[2017-09-09 00:32] neutronstein commented on #629
I ran `buffalo new testbuffalo`

[2017-09-09 00:35] markbates commented on #629
Try generating another app without using the word buffalo in your app name. See if you have better results. I don't know why you only have half an app. Was there an error during generation perhaps? Did it exit successfully?

[2017-09-09 00:39] neutronstein commented on #629
there were no errors. I got contrats at the end.
ok i will try to create a new project.

[2017-09-09 00:48] neutronstein commented on #629
I get the same result.
[code]

[2017-09-09 00:50] markbates commented on #629
There's something seriously wrong here. You only have half an app. I don't know how that's even possible.

Can you run `buffalo info` and paste the results?

[2017-09-09 00:52] neutronstein commented on #629
[code]

[2017-09-09 00:56] markbates commented on #629
Can you paste the full output from `buffalo new alobuff`? Here is mine:

<details>

[code]

[2017-09-09 01:00] neutronstein commented on #629
When I ran `buffalo new` in default GOPATH I was successful. I guess I need to add $GOPATH/bin to the $PATH for custom GOPATH. I will check and confirm.

[2017-09-09 01:02] markbates commented on #629
Are you running multiple `$GOPATH`s? If so, that could be the reason why you only have half an app. The other half might be in a different `$GOPATH`. Considering the pieces of the app you have, I bet that's what went wrong. Can you confirm?

[2017-09-09 01:15] neutronstein commented on #629
I don't have multiple GOPATH. I mean for each project I am overring the GOPATH so I have only one at any time.
I tried again but it's no good. when I'm in ~/go it works fine but elsewhere(setting GOPATH elsewhere) it doesn't.

[2017-09-09 01:16] markbates commented on #629
I can confirm that if you use multiple `$GOPATH`s, or you change your `$GOPATH`, then this will happen.

Here's what happened. You installed the buffalo source (and generator templates) in `$GOPATH-A` then you set up `$GOPATH-B` and switched to a new path.

`$GOPATH-B` appears to work correctly in that you have a `buffalo` command. This is because `$GOPATH-A/bin` is set on your `$PATH`.

Because G

[2017-09-09 01:16] #629 closed

[2017-09-09 01:19] neutronstein commented on #629
That's right.

[2017-09-11 08:47] sbry opened #631 "Duplicate Session Set-Cookie Header"
Setting up file-based session data I found that my development-server was sending duplicate session-cookie header-lines, and I did not find out why yet:

[code]

Later I remembered that gophercon.com was running on buffalo as well and there are duplicate session cookies set as well (the last one prevails I guess):

[code]

Am I missing something?

[2017-09-11 14:25] markbates commented on #631
It's most likely from repeated calls to save the session. We use the http://www.gorillatoolkit.org/pkg/sessions package under the covers, so it could be an issue there, maybe. my gut says it's multiple save calls.

Looking at it, ultimately it goes down to `http.SetCookie` which uses `Add` instead of `Set`, which is why, if you call it multiple times, you get multiple calls.

https://golang.org/sr

[2017-09-11 14:25] #631 closed

[2017-09-13 22:05] markbates commented on #625
This is fixed in the `v0.9.5` release coming in a few weeks. If you need this fix sooner, you can try out the https://github.com/gobuffalo/buffalo-xbuild plugin I'm working on, it has this fix in it.

[2017-09-13 22:05] #625 closed

[2017-09-15 02:50] nyrf opened #637 "mount at group router not work"
Thanks for your great work, i use the version 0.9.4 and can use mount like this:

[code]

 if i use group like this

[code]

visit `/admin/dash/foo` got 404 error.

[2017-09-15 06:47] nyrf opened #638 "building linux binaries from the Mac with sqlite"
When use pg, everything works well. but when use sqlite and run `env GOOS=linux GOARCH=amd64 buffalo build --static`, got error

[code]
thanks.

[2017-09-15 07:01] markbates commented on #638
CGO is very difficult to cross compile in Go. It's a Go thing, not a Buffalo. The recommendation is either to use a cross compiler or compile on the platform you want to run on. I recommend the later. It's a lot easier, especially if you use Docker.

[2017-09-15 07:01] #638 closed

[2017-09-15 10:40] timuckun opened #639 "Need an invite to slack channel?"
How do get access to slack channel? Are there any other forums to discuss or get help like a mailing list? I actually would prefer a mailing list as I live in NZ and the time zones don't work out well with most other people.

[2017-09-15 11:13] markbates commented on #639
https://invite.slack.golangbridge.org

[2017-09-15 11:13] #639 closed

[2017-09-18 09:59] nyrf opened #640 "Any simple way to use custom layout?"
I want to use `admin.html` to admin area, now i must use `r.HTML("index.html", "admin.html")` in every action,  is there a simple way to set layout for router group? thank.

[2017-09-18 11:22] sio4 commented on #640
For my case, I do not use separated layout for admin but using specific theme, style sheet. because for me, I use same layout for all but sometimes include some special buttons, divs, and colors.

For special block and buttons,  I use `<%= if (admin) {  %>...htmls...<% } %>` or something similar.
And for theme, just set a context variable on the middleware for admin page handler(originally for pro

[2017-09-18 11:25] paganotoni commented on #640
You can do the following on your action:

return c.Render( 200, r.HTML(“your template.html”, “yourothertemplate.html”))

AP

-----------------------------
Antonio Pagano

@apaganobeleno
http://wawand.co

On Sep 18, 2017, 6:22 AM -0500, Yonghwan SO <notifications@github.com>, wrote:

[2017-09-18 11:31] sio4 commented on #640
@paganotoni Question owner already mentioned that. But as I understand, what he want to do is to prevent doing it for all admin pages. or at least on group of route. I think it is better if there is a context variable to override `e.HTMLLayout`.

[2017-09-18 11:37] paganotoni commented on #640
Oh sorry, I didn’t read the entire thread, You could always add a middleware for that group.

On Sep 18, 2017, 6:31 AM -0500, Yonghwan SO <notifications@github.com>, wrote:

[2017-09-18 11:42] sio4 commented on #640
No problem. Anyway I satisfied with my current approach but sometime it may
helps others if there is context variable :-)

--
"the love you take is equal to the love you make." - the end, by beatles

2017. 9. 18. 오후 8:37에 "Antonio Pagano" <notifications@github.com>님이 작성:

[2017-09-18 12:29] markbates commented on #640
Another option is to create a second Render engine in actions/render.go and then use that one in your admin actions instead of the other Render engine.

-----------
Mark Bates

On Sep 18, 2017, 7:42 AM -0400, Yonghwan SO <notifications@github.com>, wrote:

[2017-09-18 12:30] nyrf commented on #640
@sio4 Thanks, looks like this is the only way now.

[2017-09-18 12:37] nyrf commented on #640
@markbates Thanks, i tried and it works also.

[2017-09-18 12:52] nyrf commented on #640
Thanks, I found i can use a middleware

[code]

[2017-09-18 12:52] #640 closed

[2017-09-18 13:02] markbates commented on #640
I wouldn't do that. You're essentially overriding a global value on each request. That means that it's possible for two requests to come in at the same time and one would have the wrong template.

-----------
Mark Bates

On Sep 18, 2017, 8:52 AM -0400, nyrf <notifications@github.com>, wrote:

[2017-09-18 14:55] nyrf commented on #640
@markbates I see, thanks, i'll glad to see  `buffalo` can set layout.

[2017-09-18 17:58] #637 closed

[2017-09-19 08:29] u007 opened #643 "[question] best practices for concurrency vs db pool count"
hi,

i realized that, when i use apache bench to test my server,
any controller / action will freeze when concurrency hit same or higher than db pool.

i have a middleware that check for logged in user and query the db on every call.
when i remove this middleware, problem solved.
any advice for me to handle user session via api token and still maintain high concurrency without hitting db pool limi

[2017-09-19 19:54] #567 closed

[2017-09-19 20:50] muloka opened #647 "Error creating new <project> on Windows"
## Go

go version go1.9 windows/amd64

## Buffalo

Buffalo version is: v0.9.4

## Powershell output

[code]

[2017-09-19 21:30] tsmith1024 opened #648 "Import error generating new app as API only"
I'm seeing issues similar to #492 using v0.9.4.
`actions/render.go:5:2: imported and not used: "github.com/gobuffalo/packr"`

It appears to be related to newapp/templates/actions/render.go.tmpl importing packr in API mode, where the packr use is left out when in API mode.

I've got a fix I'll put a PR in for in just a minute to get this sorted out. Hope that works!

[2017-09-19 21:31] markbates commented on #648
PR is very welcome!

[2017-09-19 22:37] #648 closed

[2017-09-20 18:58] markbates opened #650 "CSS for error pages is broken in v0.9.5"
When the asset finger printing was introduced recently it broke the default error page in Buffalo because `/assets/application.css` returns a `404`. The solution appears to be to make the asset helpers available to that error page, which they're currently not.

[2017-09-20 19:09] paganotoni commented on #650
thanks Mark, i'll work on this soon, when is our possible release date for 0.9.5 ?

[2017-09-21 03:44] u007 commented on #643
okay, i think ive narrowed down the culprit to pop.transaction.
if ive removed pop.transaction and added c.Set("tx", models.DB) and concurrency works again.
tested with db pool 30 and ab:
[code]

i know a quick fix for this is to increase db pool and change all listing and show to use models.DB as tx.

is there any alternative to this? so that it wont freeze and time out?
supposed we expect it to

[2017-09-21 03:47] u007 commented on #378
by the way, if this assets is fixed, it will be a huge thumbs up. the memory consumed without the assets compiled into the binary is way lower. 20+mb vs 80+mb in my use case.  thank you 👍

[2017-09-21 04:00] u007 commented on #606
rails 5.1 recently added encrypted secret yml file. will be nice if we have this, then we dont need .env ?

[code]

for more info:
http://www.starkandwayne.com/blog/rails-5-1-applications-can-be-a-lot-more-secretive-on-cloud-foundry-and-heroku/

[2017-09-21 10:45] bismailov opened #652 "Using Goth for login/password auth?"
Goth is used for authentication thru Github and other providers.

How can Goth be used for implementing a regular login/password authentication?

Thank you!

[2017-09-21 11:02] #378 closed

[2017-09-21 11:03] markbates commented on #652
It can’t. It’s just for oauth providers.

[2017-09-21 11:03] #652 closed

[2017-09-21 11:16] u007 commented on #378
hi @markbates
is it fixed? :)

[2017-09-21 11:16] markbates commented on #378
It’s fixed in the development branch. Will be version 0.9.5 when released.

[2017-09-24 18:02] markbates opened #656 "Mounting a resource on a resource produces bad routes"

[2017-09-25 10:08] fdonzello opened #659 "Using i18n with buffalo in just api mode"
Hi,

how do you use i18n to translate strings that you render as JSON response? Do you manually manage the translations file?

[2017-09-25 18:32] u007 opened #660 "upgrade build causes could not find folder for box:(projectpath)/actions/templates"
iam upgrading from 0.9.3 to 0.9.4

[code]

i have recently changed to use "dep"

[2017-09-25 18:39] markbates commented on #660
That errors means somewhere in your code you are doing something like `packr.NewBox("./templates") but you don't have a `templates` folder. so you should probably removed the unneeded `packr` statement, or add a `templates` folder in the right place.

[2017-09-25 18:39] #660 closed

[2017-09-25 21:56] #656 closed

[2017-09-26 02:19] u007 commented on #660
thank you so much :)
i found the issue in one of my deep layer actions

[2017-09-27 06:47] netroby opened #663 "webpack should using uglifyjsv3 to support JS ES6"
https://webpack.js.org/plugins/uglifyjs-webpack-plugin/

The current buffalo using
[code]

[2017-09-27 07:43] netroby opened #664 "Make buildTime as BuildTime"
Make buildTime as BuildTime please. we want to check buildtime inside the app.

[2017-09-27 11:11] markbates commented on #664
PRs are always welcome. :)

[2017-09-27 11:11] markbates commented on #663
PRs are always welcome. :)

[2017-09-28 19:08] paganotoni commented on #650
solved in #667

[2017-09-28 19:08] #650 closed

[2017-10-02 13:36] arddor opened #670 "How to resolve foreign keys?"
I have multiple models which have a foreign key to another model, e.g.:

[code]
I have added a company field to the user model and would like load the company in there in the controller. I would prefer to not have to do two queries for that and tried to do a join, but I could not find out how to get the fields into the Company struct.

Is this currently possible or are there any plans to support t

[2017-10-02 13:42] markbates commented on #670
Currently, you can’t. But yes, there is all sorts of talk and discussion on how best to handle it. Several branches have been started and dropped. It’ll come, but no eta yet.

-----------
Mark Bates

On Oct 2, 2017, 9:37 AM -0400, Marc Heimgartner <notifications@github.com>, wrote:

[2017-10-03 18:04] johndeng opened #672 "gobuffalo.io is down."

[2017-10-03 18:12] markbates commented on #672
Thanks.

[2017-10-03 18:12] #672 closed

[2017-10-04 07:46] TheCrealm commented on #399
Im currently plan to build an authentication and authorization toolset for my project. There i want to use jwt. So maybe i could PR my jwt middleware when its ready.

More generally, is there any discussion to implement authentication and authorization tools (maybe with goth integration)? I need this in literally every project.. so now i want to bring up generators for this (like Devise@Rails) wit

[2017-10-04 08:22] stanislas-m commented on #399
@TheCrealm, maybe you can use something like that, so you don't need to reinvent the wheel? https://github.com/ory/fosite

[2017-10-04 09:16] TheCrealm commented on #399
That looks great. Maybe i will also use this :) But for now im more focused for fast development with buffalo.

My first prototype simply implements password authentication like in this example https://github.com/gobuffalo/authrecipe

For better usage i try to implement my custom context which has helper Methods for User Model Access and Permissions. So in my actions i only have to use "if c.HasPe

[2017-10-06 21:51] Eon1 opened #673 "Is there something like an ImageField ?"
How do you handle images uploaded by users ? is there a field for that ? I tried creating a resource with  profilepic:image and that didn't work. I haven't been able to find any examples online, but this seems like something everyone would want to do right ?

[2017-10-10 06:29] u007 opened #675 "[notes] pop.transation in middleware with defer"
i've found the culprit that causes user update to freeze.
it turn out that i have a middleware that update the user table on every visit with user session.
and added it into defer alike this:
[code]
a working way is to:
[code]
is it possible to update this in better words in the readme?

[2017-10-10 21:32] gose opened #677 "Worker starting during `migrate`"
Add a simple worker to app/actions.go, then run `buffalo build`, then `./bin/blog migrate` and you'll see the worker start.

[code]

[code]

[2017-10-10 21:35] markbates commented on #677
Ah. Yeah, so the simple worker is just Go routines, so there's no real "start"/"stop" around them. As soon as you enqueue a job with `Perform` it'll be run, since it's just a Go routine. This would be expected behavior.

[2017-10-10 21:35] #677 closed

[2017-10-11 07:17] #530 closed

[2017-10-11 08:54] u007 opened #679 "buffalo 0.9.5 build binary returns weird result"
hi,
ive just attempted to upgrade to buffalo 0.9.5 from 0.9.4.

buffalo dev was running fine with buffalo dev.
but when i build it for deployment,
it works, and i could start the instance.
but when i visit the site, im getting blank with symbol:
[code]

tested build for mac and cross compile to linux with same result
what do i need to change?

[2017-10-11 11:31] markbates commented on #679
I’ve never seen that before. @paganotoni maybe it has to do with the asset changes?

[2017-10-11 16:27] u007 opened #681 "[minor bug] Dockerfile"
small fix to allow ctrl+c on running docker
change
[code]
to
[code]

[2017-10-11 16:29] #681 closed

[2017-10-11 16:29] u007 commented on #681
pr created

[2017-10-11 17:20] u007 opened #683 "assets uglifier for production only?"
hi,

new assets fingerprint and uglifier is awesome 👍
managed to reduced js from 4mb to 1.6mb.

but there are a concern of performance for development.
the speed to recompile all assets took very long.

is it possible to have webpack command for different environment?
development, staging, production

maybe in webpack.yml (GO_ENV):
[code]

with this, it will be awesome that we only run build to do

[2017-10-12 01:55] u007 commented on #679
i found the issue, its because iam using dep ensure, it hardcoded all the version.
when i compare Gopkg.toml between a new project and my current one, i found all the version issues.
especially pakr version is way outdated.

ive to add in ^ to version prefix. but then i was caught in another bug here:
https://github.com/golang/dep/issues/484

so i ended up ditching dep and using glide.
then i adde

[2017-10-12 01:56] #679 closed

[2017-10-12 09:03] u007 commented on #683
my build now increase to 200+mb

[2017-10-12 09:18] u007 commented on #683
i need a urgent fix for this.
thinking to find if webpack.$GO_ENV.config.js exists, otherwise use webpack.config.js to build

is this good?

[2017-10-12 20:16] markbates commented on #683
@u007 https://github.com/gobuffalo/buffalo/pull/687 - I think that's a better solution.

[2017-10-14 21:44] stanislas-m opened #690 "v0.9.5 fails to quit dev mode after first Ctrl + C"
`go version go1.8.1 linux/amd64 on Ubuntu 17.04`
Running `buffalo dev` on gobuffalo sources, I tried to quit the dev mode by using Ctrl + C. The Simple Background Worker seems to restart after HTTP server is closed:

[code]
In between the first and the second Ctrl + C, the CPU usage raises really high.
After the second Ctrl + C, the process exists successfully.

[2017-10-16 19:21] #683 closed

[2017-10-16 19:24] markbates opened #692 "Clean up commands so they can be called programmatically."
Currently all the commands do a lot of work, work that people might want to be able to programmatically. Also, a lot of this work is done by passing a map of data around creating a side-line API that is difficult to read and confusing to use. All of these commands should be rewritten so the commands do almost nothing but call out to packages designed to the work. These commands should also use wel

[2017-10-16 19:34] #692 closed

[2017-10-16 19:39] stanislas-m commented on #575
@alexcarol, is this one fixed?

[2017-10-16 20:33] carlca opened #694 "Issues after running `go get -u github.com/gobuffalo/buffalo/buffalo`"
macOS 10.13.0 High Sierra
Golang 1.9.1

Hello, I've just run `go get -u github.com/gobuffalo/buffalo/buffalo` and I received the following messages:
[code]
Presumably, the clue to the solution is in the words `is not using a known version control system`, but what exact steps should I take to rectify this problem? Thanks in advance!

[2017-10-16 20:58] carlca commented on #694
Hi Mark, I used your second approach. When I re-ran `go get -u github.com/gobuffalo/buffalo/buffalo` I received the messages:
[code]

[2017-10-16 20:59] markbates commented on #694
Ah, yes, that's because the package is actually `golang.org/x/` that's what holds all the `.git` stuff. I didn't look too closely at the packages because it's such a common Go problem. Delete `golang.org/x/` and you should be good.

[2017-10-16 21:47] carlca commented on #694
I re-ran `go get -u github.com/gobuffalo/buffalo/buffalo`again, and it completed without any further
 error messages. Thanks a lot, Mark!

[2017-10-17 15:46] zaffka opened #695 "Needs root permission to make new app under Mac OS High Sierra"
So I forced to launch it under sudo, and make 'sudo chown -R {username} {buffalodir}' after.

[2017-10-17 16:50] markbates commented on #695
It shouldn't need root permission. It doesn't look like your go installation isn't correct. In particular it looks like the `/Users/az/go/src/github.com/golang/dep` has strange permissions on it. Check the permissions of the `$GOPATH` and make sure those are correct. You should never need root to do a `go get`.

[2017-10-17 16:50] #695 closed

[2017-10-17 19:06] zaffka commented on #695
To test buffalo I installed node.js 6.11.4 with npm using official package for mac.
After that I tried `buffalo new` and it failed to install yarn so I gave it root permission.
After that process was finished successfuly, but something (I really think it was yarn) started to work as from 'root' user.

Now I've reinstalled everything (node and npm using brew) and buffalo works just fine 👍

Thank yo

[2017-10-17 19:08] markbates commented on #695
No worries. Happy to help. The NPM root problem is really annoying. Here's a link for future reference on how to fix it https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2017-10-18 14:57] hypervalley opened #696 "Provide a Buffalo version based on Golang language version 1.7.x"
I am testing the Golang language for the web and I've found your project, which has several positive predicates. As a user of Debian, I request you to evaluate the possibility of providing a Buffalo version based on Golang version 1.7.x. Debian allows you to install, via backports, up to Golang version 1.7.4 . Thus, the use of 1.8.x Golang version, in this distro, requires manual install, which is

[2017-10-18 15:05] markbates commented on #696
While we would love to provide support for all Go versions, unfortunately, that's just not possible. It takes too much effort to maintain multiple versions and we don't have the resources to do reliably provide support back that far. We've decided that maintaining the last 2 releases is the most realistic approach, so `1.8` and `1.9`.

For each version of Go that is supported we have to add the ov

[2017-10-18 15:05] #696 closed

[2017-10-18 15:09] stanislas-m commented on #696
@hypervalley, you can consider using a Docker environnement to build your app, so you can use a higher version than the one Debian provides. Buffalo provides a Docker image for this purpose.

If it's not possible for you, you can still download the version from the Go website.

[2017-10-20 06:12] u007 opened #697 "concurrent hashmap write issue"
buffalo 0.9.5 golang 1.9

on development, encounter this on buffalo dev:
[code]

[2017-10-20 06:20] stanislas-m commented on #697
@u007 `keyMap` from the middleware is not protected against concurrent access. This should have a mutex, like in your similar issue in POP.

[2017-10-20 07:21] u007 opened #698 "assets is not return correct fingerprint"
hi,

my webpack actually contains 2 assets, 1 is the application.js and another is backend.js

then application.js works most of the time.
but backend.js sometimes does not refresh, i have to restart buffalo dev to have it reflected.
even thou i have shared js being updated, application.js get updated fine.

part of my webconfig below:
[code]

i suspect webpack works, but template is not reflected

[2017-10-20 07:24] u007 commented on #556
it is alike rails
GET /users
POST /users
PUT /users/{id}
DEL /users/{id}

you may see the route when you open the browser to localhost:3000/

action are controller functionality that get executed when certain routes is being accessed

[2017-10-20 07:32] u007 commented on #331
i have bits n pieces like this:
[code]

[2017-10-20 08:05] stanislas-m commented on #697
@u007, can you try this fix? https://github.com/gobuffalo/buffalo/pull/699

[2017-10-20 10:51] u007 opened #700 "[feature] build only binary without assets compilation"
hi,

is it supposed to have buffalo build -e working this way?
ive tried, and realize it still call webpack compilation

is there any other flag to just compile binary for non assets handling?
thanks

[2017-10-20 12:12] stanislas-m commented on #700
The `-e` option for `buffalo build` extracts the assets to a zip archive, instead of linking it in the binary. These assets still needs to be build, that's why the webpack compilation is still called.

[2017-10-20 14:08] rof20004 commented on #556
Thanks @u007

My last question is: How to create only a REST api?

[2017-10-20 14:30] stanislas-m commented on #556
@rof20004 you can use the `--api` flag of the `buffalo new` command.

[2017-10-20 14:44] rof20004 commented on #556
@stanislas-m Thanks for answer, I tested with this command, but it generates views too, I want only to generate Go files, If is not possible, ok.

[2017-10-20 14:54] markbates commented on #556
@rof20004 the `--api` flag is for the `buffalo new` command, and doesn't generate any templates or asset files. If you're trying to create a new resource and want it to be `JSON`, and not have views you need to pass the `--type=JSON` flag to the `buffalo generate resource` command.

All of the commands can be run with `--help` to find out what flags they take, see examples, and see if there are su

[2017-10-20 14:56] rof20004 commented on #556
@markbates

Well, sorry, I did not saw this part in documentation

--type string         sets the resource type (html or json) (default "html")

Thanks for answer and sorry for wasting your times.

[2017-10-20 14:56] #556 closed

[2017-10-20 14:57] markbates commented on #556
No worries, you didn't waste anyones time. Clearly more/better docs are needed. Happy to help.

[2017-10-20 14:57] #697 closed

[2017-10-20 14:57] #690 closed

[2017-10-20 14:58] markbates commented on #698
@paganotoni want to take a look at this?

[2017-10-20 14:59] paganotoni commented on #698
@markbates yes

[2017-10-20 15:02] markbates commented on #700
This would be a pretty easy PR for anyone looking to do it. All it would be is added a new flag and turning off that part of the build system. The build system has been rewritten in `development` and is a lot easier to work with now.

[2017-10-20 15:03] paganotoni commented on #700
I would love to work on this one

[2017-10-20 15:34] paganotoni commented on #698
hey @u007

I tried this in my machine and created [this](https://github.com/paganotoni/buffalo-thow-assets-entry-example) repo, it seems to work correctly with that sample application.

Are you running this on Linux, Mac or Windows os ?

[2017-10-20 16:32] u007 opened #701 "buffalo build -e unable to find template file"
buffalo 0.9.5

getting this error on deployed binary:
[code]
it seems to lookup development path.

[2017-10-20 17:57] #701 closed

[2017-10-20 17:58] markbates commented on #701
I just fixed this in `packr`. To get do the following:

[code]

[2017-10-21 01:06] u007 commented on #698
mac

[2017-10-21 02:47] u007 commented on #698
i found the issue,

i forgot new assetsbox requirement in render.go
[code]

[2017-10-21 02:47] #698 closed

[2017-10-21 03:00] u007 commented on #698
hi,
is it possible to add check on pakr/box.go that it checks for non setup of AssetsBox path or show warning when using packr.NewBox("") with empty string?

[2017-10-21 03:08] u007 commented on #698
finally got all working with external assets, thank you 👍

[2017-10-22 08:42] u007 commented on #701
works great :)

[2017-10-23 03:41] u007 opened #707 "[feature] nice to have: middleware for default header to indicate gobuffalo?"
hi,

would it be nice to have this?
so we can start to have some statistic of usage worldwide.
but im not sure how they collect these information, but as long as we do have information on it in header.
or should it be in the meta header?

maybe without the version to avoid security issues

i realize wordpress doesnt show version, but somehow maybe the assets indicates it.
assets might be good way

[2017-10-23 12:09] bketelsen opened #708 "`buffalo new` generates circular dependency in action_test.go"
Actions taken:
[code]
Result:
[code]
Expected output:
[code]
Cause:
`actions_test.go` is generated with package name `actions` and imports the package `actions`.  Removing the import fixes the problem.

[2017-10-23 19:13] #708 closed

[2017-10-23 19:13] #700 closed

[2017-10-24 11:16] ghaabor opened #715 "Is there a way to define custom flags for generated binary?"
I'd like to use the `flag` package to define a flag for the binary created by `buffalo build`. I'm aware that buffalo wraps my application's `main.go`. Is there a way to do something like this? My temporary solution was to use an env var but I'd rather use the flag.

[2017-10-25 15:19] markbates commented on #715
@ghaabor currently no, but I just opened a PR to fix that in the next release https://github.com/gobuffalo/buffalo/pull/716

[2017-10-25 18:12] #664 closed

[2017-10-25 18:12] #715 closed

[2017-10-28 10:12] kberov opened #722 "Trying to create a new helper produces "greet() (reflect.Value) is an invalid function""
Hello, for some time I am playing with buffalo.
Thank you for making it! It feels very similar to Mojolicious (Perl) from where I come.
 I am following the tutorial https://gobuffalo.io/docs/custom-helpers and I get a 500 error when I try to create a new helper.
Note that when used in a template the helper works, while used in `render.String(" <%= greet() %>!")` it doesn't.
Here is my code;
action

[2017-10-28 10:30] kberov commented on #722
It looks like only local helpers work with `render.String()`
Now my code works:
[code]
Why the global helpers are not available in `render.String` ?

[2017-10-28 13:25] markbates commented on #722
`render.String` is a package level function. It only has access to the current context. You added your `greet` helper to an instance of a `render.Engine` so to get access to that helper you have to use that instance. If you change your code to `r.String` it’ll work.

[2017-10-28 13:25] #722 closed

[2017-10-28 14:10] kberov commented on #722
Oh, I did not notice that `r` is used in the guide and did not realize that `r` is in scope because both `render.go` and `actions/greet.go` are in the same `actions` package, and `r` is a package level variable.
Thank you!

[2017-10-28 16:28] paganotoni commented on #286
closed by https://github.com/gobuffalo/gobuffalo/pull/77

[2017-10-28 16:28] #286 closed

[2017-10-28 20:52] stanislas-m opened #723 "Localized Views"
We already have a way to handle translations for pieces in a template. Sometimes, it's better to create a specific page for a language (for instance, when a page is static). A good example is gobuffalo.io: all markdown documentation pages will be difficult to maintain if we extract all strings, and some samples have a better value if they are translated too.

# Localized Views

Rails supports this

[2017-10-28 21:03] paganotoni commented on #723
@stanislas-m I like this idea!! could we initially build it outside the framework (in gobuffalo) and then move it inside buffalo?

[2017-10-28 21:19] paganotoni commented on #663
I tried updating an existing app to use that plugin v1.0.1, and if works correctly after the update, if that's all we need we should be ok.

@netroby would be good if you could provide some details on the problem we're trying to solve by changing the plugin version just to have a way to check this is working as expected while implementing it.

[2017-10-28 21:25] paganotoni commented on #663
As an update i tried with the following code (not JS expert here) and works with both versions of the plugin:

[code]

[2017-10-28 21:29] paganotoni commented on #606
@markbates what do you think about implementing application secrets ? should we go initially with .env support or go for secrets.yml?

[2017-10-29 23:39] netroby commented on #663
Looks good, ES6 supported fine.

[2017-10-29 23:39] #663 closed

[2017-10-30 15:17] markbates commented on #723
I think this is a great idea. It shouldn't be too hard to implement either. @stanislas-m would you like to take lead on this one?

[2017-10-30 15:22] stanislas-m commented on #723
@markbates No problem. :)

[2017-10-30 15:33] markbates commented on #606
I would need to see a proposal on how secrets would work and how they're different from a `.env` file.

[2017-10-30 19:17] xu4wang opened #726 "auto reloading doesn't work when .go file change"
I created one new project using
[code]
and use
[code]
to start the project.   I can access http://localhost:3000/ without any issue. I change the app.do controller, added another URL:

[code]

I'm expecting the app will be rebuilt by buffalo and I can access http://lcoalhost:3000/test.

However, the app is NOT rebuilt. I get a 404 when accessing /test.
I'm using MacOS.

[2017-11-01 03:07] knicklabs opened #727 "Clean public folder before build"
**Expected Behavior**

The `public/assets` directory is the output directory for compiled assets and other assets copied from the `assets` directory.

It is a best practice to clean the output directory before build. This ensures that only the files actually in use by the project are in the directory.

I would expect the following:

1. The destination directory only contain the files that are in u

[2017-11-01 03:18] paganotoni commented on #727
@knicklabs in https://github.com/gobuffalo/buffalo/blob/development/generators/assets/webpack/templates/webpack.config.js.tmpl there was added `clean-webpack-plugin` that will take care of the assets cleanup, as far as I can tell this should be covered with that enhancement.

[2017-11-01 03:26] knicklabs commented on #727
@paganotoni Fantastic! Apologies for not spotting that. I'm brand new to the community. Been using Buffalo for all of a couple days.

The only issue I see with that is that it's [only cleaning the compiled JS and CSS](https://github.com/gobuffalo/buffalo/blob/development/generators/assets/webpack/templates/webpack.config.js.tmpl#L23). However, you can add other files to `assets` and they will be c

[2017-11-01 03:33] paganotoni commented on #727
@knicklabs that makes sense, we should clean those images and other files to avoid having them into the compiled binary as well as making trash there. thanks for putting together a great description with this issue, sorry that i didn't spot that detail from it.

if you want to work on this, PR's are always welcome, otherwise i can help if needed.
Thanks Again!

[2017-11-01 04:31] knicklabs commented on #727
Thanks @paganotoni. I've taken a stab at addressing the issue.

[2017-11-01 13:15] paganotoni commented on #727
Awesome! I did just read the PR, thanks!

[2017-11-01 18:59] rgerardi commented on #726
Hello @xu4wang,
I just tested on MacOS here and it works. The app is rebuilt and I can access the "/test" endpoint.
Do you see any error messages in the `buffalo dev` screen?

[2017-11-02 17:23] paganotoni commented on #727
closed by #728

[2017-11-02 17:23] #727 closed

[2017-11-02 17:28] paganotoni commented on #726
Just tested it and works correctly, closing this issue.

[2017-11-02 17:28] #726 closed

[2017-11-02 17:28] xu4wang commented on #726
No there was nothing in the ‘buffalo dev' console.
Maybe my own installation issue. will test later.

[2017-11-02 18:06] paganotoni commented on #606
Yeah, I don't have it very clear but would love to provide `.env`

[2017-11-03 21:22] paganotoni opened #734 "Generating a resource composed by 2 words underscored"
When generating a resource with 2 words where the words are separated with underscore buffalo generates views, model, and all necessary files, however, it uses underscored version in some places and camelcase in other, causing the resource not to work correctly.

[code]

Uses `person_event` on the actions but uses `personEvent` on the view, causing some errors when running the app.

It should use

[2017-11-03 21:29] markbates commented on #734
Think you can fix that before Monday?

-----------
Mark Bates

On Nov 3, 2017, 5:22 PM -0400, Antonio Pagano <notifications@github.com>, wrote:

[2017-11-03 21:39] paganotoni commented on #734
Yes

[2017-11-05 09:55] tsauter commented on #509
it would be nice if all GETs are clickable. This will help to jump to the resources. All other routes should be then accessible form there.

[2017-11-05 22:35] #734 closed

[2017-11-06 18:04] sapiens-sapide opened #741 "assets `public` path still embedded into the binary with -e flag ?"
Hi all,
I've build a very simple app with default assets (buffalo 0.9.5). When I build the app with the `-e` flag (`buffalo build -e`), the binary is created along side with the assets.zip file.
If I delete the assets.zip file then launch the application, all assets are still served by the app ! It should trigger 404 for images, css…, shouldn't it ?

[edit]
If I delete all stuffs within `$GOPATH/s

[2017-11-06 18:41] markbates commented on #741
This is expected behavior. The way things work is it first checks for the files in memory (i.e. built into the binary), if they can't be found there, it looks to disk to find the files (i.e. when you're developing).

In order to reliably locate the files it uses the path of your app to look for the files, so yes, the path is coded in there, because it has to be.

[2017-11-06 18:41] #741 closed

[2017-11-06 18:50] stanislas-m commented on #741
@markbates The [documentation](https://gobuffalo.io/docs/building) on gobuffalo.io states: "Please note this will disable the internal assets handling too, so the final executable is lighter."

Since it's not the case, we need to fix the documentation.

[2017-11-06 21:03] sapiens-sapide commented on #741
Or may be the path that is still embedded into the final executable should be a relative path instead of the complete path to the repo.

[2017-11-07 06:05] bryanstephens commented on #575
May or may not be related to the issue @alexcarol is seeing but I generated my project to use MySQL and saw a different error on gitlab-ci:

[code]

I pushed up a changes to the scripts multiple times to see if I could find out more info until I finally ended up with the following:

[code]

Turns out the url in the `.gitlab-ci.yml` file does not work with the MySQL option. My new `.gitlab-ci.yml`

[2017-11-07 18:57] pablogore-zz opened #743 "service discovery"
HI,
Will consider integrating consul /etcd as service discovery ?

[2017-11-07 19:40] markbates commented on #743
Can you outline what you have in mind for this?

[2017-11-08 13:05] dvdscripter opened #745 "Wrong install instructions"
Recently I did two fresh installs of go and buffalo (arch and ubuntu).

The second cmd instruction:

Results in:

Replacing _install_ with _get_ I get a working environment as expected.

[2017-11-09 21:10] markbates opened #747 "Provide a way to load custom inflection rules"
Now that https://github.com/markbates/inflect/blob/master/inflect.go#L589 can read a file and load custom mappings via a JSON file we should be a able to leverage that in Buffalo/Pop

[2017-11-09 21:46] #747 closed

[2017-11-11 20:32] johndeng opened #749 "`buffalo new` is working unexpectedly"
I have using `buffalo new ` to generate a project, but looks generated a incomplete Go project.

[code]

[2017-11-11 20:39] markbates commented on #749
Can you run the `buffalo info` command and paste the output? Thanks.

[2017-11-12 02:39] markbates commented on #749
Thinking about it, I think you are having this issue: https://github.com/gobuffalo/buffalo/issues/629

Did you install Buffalo to your `$GOPATH` and then create a new `$GOPATH` to "test" Buffalo? If so, the problem is the templates for generating a new application are in your first `$GOPATH` and they can't be found from you second `$GOPATH`.

I'm going to close this, since I believe it's a dup of

[2017-11-12 02:39] #749 closed

[2017-11-12 04:19] alexMcosta commented on #629
I seem to be experiencing the same issue, however, I did not change my gopath or have multiple gopaths. Or I am missing something.

Go Env

Buffalo new meow

ls -la in meow

[2017-11-12 08:44] johndeng commented on #749
Hi, I tried one `$GOPATH` and it works, but v0.9.5 is not this issues..

[2017-11-12 15:10] markbates commented on #629
If you’re seeing that, and you only have one multiple GOPATHs then that would be a sign of a bad installation, because the templates are missing.

Try installing again

go get -u -v github.com/gobuffalo/buffalo/buffalo

Hopefully that should pull down all the files from GitHub.

-----------
Mark Bates

On Nov 11, 2017, 10:19 PM -0600, Alex Costa <notifications@github.com>, wrote:

[2017-11-12 20:59] turnkey-commerce opened #750 "Difficult to Exit buffalo dev Command Line on Windows"
When using Ctl-C on the command line to exit a buffalo dev session the cmd tool remains locked and unable to enter other commands.

A typical interaction:
[code]

A workaround is to enter Y followed by two returns and the command prompt will usually come back.

[2017-11-12 23:10] kberov opened #751 "Error: unknown flag: --use-model"
Hello,
I already have a generated model like this:
[code]
Now I want to use it to create the rest of the resource.
`buffalo help g r` has an example:
[code]
I run `buffalo g r users --use-model users` and I get the help message with the above mentioned error at the bottom.
Buffalo version is: v0.10.1
Regards,

[2017-11-12 23:14] markbates commented on #751
There’s no flag by that name. If you run `buffalo g resource —help` it’ll show the available flags. I think what you’re looking for is `—skip-model`.

[2017-11-13 01:04] markbates opened #752 "Proposal: move github.com/gobuffalo/x/mail into Buffalo "Core""
The [github.com/gobuffalo/x/mail](https://github.com/gobuffalo/x/tree/master/mail) seems to be pretty stable, based off of my usage. I think it would make a great addition to core.

The argument for it would be that lots of people send emails from applications, so it should be baked in.

I don't see any cons to bringing it in.

The plan for migration would be to copy the package to `github.com/gob

[2017-11-13 01:06] markbates commented on #750
Can you please run `buffalo info` inside your application and paste in the results? Thanks.

[2017-11-13 01:35] markbates commented on #751
This appears to be a regression from `v0.9.5`

[2017-11-13 01:39] markbates commented on #707
I'm torn on this one. Yes, it would be nice to ping an app and see that it's using Buffalo, but, with that said, I'm concerned about potential secure issues.

I would love to hear opinions from people who have experience in this area before we make a decision.

[2017-11-13 01:39] turnkey-commerce commented on #750
No problem, here is what I get, started happening when I upgraded to 0.10.1:

λ buffalo info
### Buffalo Version
v0.10.1

### Go Version
go version go1.9.2 windows/amd64

### Go Env
set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=C:\Users\James\go
set GORACE=
set GOROOT=C:\Go
set GOTOOLDIR=C:\Go\pkg\tool\windows_amd64
set GCCGO=gccgo

[2017-11-13 01:41] markbates commented on #670
Closing this as it's a dup of https://github.com/markbates/pop/issues/93

[2017-11-13 01:41] #670 closed

[2017-11-13 05:03] adamthedeveloper opened #753 "Installation fails per README instructions"
Hey,

First timer here. I followed these instructions:

[code]

That seemed to work. Then:

[code]

gave me the following result:

[code]

Any ideas what may be happening?

Adam

[2017-11-13 05:04] adamthedeveloper commented on #753
[code]

In case you are wondering...

[2017-11-13 05:13] adamthedeveloper commented on #753
Got a little further by not running the latter command and instead I ran this:

[code]

Produces:

[code]

[2017-11-13 09:57] sapiens-sapide commented on #753
same error for me : install failed to retrieve the following dependencies : `github.com/gobuffalo/makr` and `github.com/markbates/deplist`

[2017-11-13 10:00] stanislas-m commented on #752
+1. Sending emails is a common use-case, it makes sense to add it to the core.

[2017-11-13 10:13] seblw commented on #752
Optionally you could just move `x/mail` content to `buffalo/mail`, and create a type alias from `x/mail` to `mail` (new feature in Go 1.9, https://github.com/golang/proposal/blob/master/design/18130-type-alias.md), but that would require locking buffalo on Go 1.9.

[2017-11-13 12:32] markbates commented on #753
The README is wrong, and needs to be updated. That’ll get fixed ASAP. The correct instructions are here:

https://gobuffalo.io/docs/installation

[2017-11-13 12:34] markbates commented on #752
Type aliases, for now are out. Buffalo has a minimum supported version of 1.8.1 so we can’t break those users yet. When 1.10 comes out the minimum version will go to 1.9 and then we can use aliases.

[2017-11-13 15:52] markbates opened #754 "Regession in Resource generator for nested resources"
When generating something like this:

[code]

The router is expecting `admin_foo_id` but the code is generating keys as `foo_id`.

[2017-11-13 21:54] #753 closed

[2017-11-13 22:48] adamthedeveloper commented on #753
Confirmed. I'm able to start a server now. Thank you @markbates

[2017-11-14 09:28] u007 opened #758 "concurrent hashmap write issue"
hi,

one more concurrent hashmap issue:
[code]

[2017-11-14 09:29] u007 commented on #758
oh sorry i realize i open this type of error before

[2017-11-14 09:29] #758 closed

[2017-11-15 09:05] alvico opened #759 "Buffalo slack channel link doesn't work"
Hi,

I know this is not an issue but I can't find any other way of communicating with you guys, slack channel doesn't work apparently.

Also, I'm struggling to disable https and or trying production conf when using development, it looks like somehow those settings are being constantly overwritten.

cheers and thanks for this awesome feedback.

[2017-11-15 09:58] stanislas-m commented on #759
@alvico The slack channel works fine here, what's your problem? :)

[2017-11-15 12:09] markbates commented on #759
You need an invite for Slack. You can get one here https://invite.slack.golangbridge.org/

To change environments on your app you can use the `GO_ENV=production` Environment variable.

[2017-11-15 12:09] #759 closed

[2017-11-15 20:55] alvico commented on #759
Thanks for the answers, reggarding the go_env stuff I tried before ofc, but couldn't change it when running buffalo dev, from the binary ofc yes I could.

[2017-11-17 01:11] netroby opened #760 "upgrade from buffalo 0.9 to 0.10, buffalo.Automatic not defined"
[code]

[2017-11-17 01:13] markbates commented on #760
Yes, that’s in the release notes. https://blog.gobuffalo.io/buffalo-v0-10-0-released-510e90b7c114

[2017-11-17 01:13] #760 closed

[2017-11-17 01:13] netroby commented on #760
The document still list recommend Automatic

https://gobuffalo.io/docs/routing#new-app

[code]

[2017-11-17 01:17] netroby commented on #760
ping @markbates , And the middleware.SessionSaver and csrf.Middleware gone also. where are they now?
Not found at document

[2017-11-17 16:23] #754 closed

[2017-11-19 13:23] susilolab opened #764 "Cannot map table name on pop model"
hi, i think i found a bug on pop library. i can't change table name using MapTableName. thanks

[code]

[2017-11-19 13:38] markbates commented on #764
The name of your struct is `User`, not `user`, you need to map the name of your struct.

[code]

[2017-11-19 13:38] #764 closed

[2017-11-19 13:45] susilolab commented on #764
thanks it's work, i think the documention on source code need to be updated.

[2017-11-20 12:27] stanislas-m opened #765 "Logs formatting is not constant"
Sometimes buffalo logs are using raw std out, sometimes a logger, or even a different logger. Can be a good thing to use the same format where it's possible.
[code]

[2017-11-21 08:05] suhaschitade opened #766 "How to enable CORS"
Hi,
Could you please provide an example of how to enable cors in buffalo app for the custom APIs.

Essentially, I have created a route and exposed an API which will be consumed by ajax. When testing this I encountered below error
Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https.

Regards,
Suhas

[2017-11-21 09:40] suhaschitade commented on #766
I need to enable file access to chrome and changed file access to url. Everything is working now.
closing this issue

[2017-11-21 09:40] #766 closed

[2017-11-21 10:25] stanislas-m commented on #575
This issue should be fixed now, at least on the development version.

[2017-11-21 10:27] stanislas-m commented on #752
@markbates, just my 2 cents: since the default Buffalo setup includes i18n configuration, does it make sense to add a similar config for the mailer generator? (since we can't use the one from the actions package, because of circular deps)

[2017-11-21 10:57] stanislas-m commented on #411
@bfosberry Do you have more details on this?

[2017-11-21 14:24] seblw commented on #765
What about using `github.com/sirupsen/logrus` everywhere?

[2017-11-21 15:48] bfosberry commented on #411
Sorry, this was a one-off thing I replicated but lost details on. If the general approach for the project is to let panics be panics, i.e. panics are users/libs issues, then I don't think any changes are needed. If thats not the case there are some areas around goth which may need some panic handling

[2017-11-21 16:43] stanislas-m opened #767 "CSRF middleware should accept wildcard mimetype"
Using [httpie](https://httpie.org/) without mimetype, the wildcard "\*/\*" mimetype is sent. Since it's not recognized as a html mime type by buffalo CSRF middleware, the token is not provided and can lead to a 500 error trying to render `<meta name="csrf-token" content="<%= authenticity_token %>" />` in the default template.

[2017-11-22 16:43] joshjordan opened #769 "Running a single test?"
What's the right syntax for running specific tests or specific test files? It has become very difficult for us to hone in on the right output when debugging a failing test. I have tried reusing the commands that `buffalo tests` spits out as it starts up, but they target directories rather than single tests or test files, and they don't include the schema management that Buffalo does.

We love the

[2017-11-27 19:47] markbates commented on #769
@joshjordan there are ways, but it is bizarrely difficult when using test suites. The good news, a patch for this in PR form now and should be in `0.10.2` which is slated for release this week.

The syntax will look like:

[code]

That will run all tests that have `Foo` in them.

[2017-11-27 20:09] #767 closed

[2017-11-27 20:09] #752 closed

[2017-11-27 20:10] #575 closed

[2017-11-27 20:25] #769 closed

[2017-11-27 22:54] markbates opened #773 "Provide a way to change the helpers for a Resource"

[2017-11-29 10:34] jmbrunskill commented on #751
@markbates I checked out and build v0.9.5 tag from git.

It looks like the only difference between `buffalo g r users` and `buffalo g r users --use-model users` is that if you do not specify `--use-model` the generator will overwrite your 'users' model.

So if I am to understand the task correctly we need to.
A) Reinstate the --use-model flag
B) When the --use-model flag is passed in, don't over w

[2017-11-29 10:55] jmbrunskill opened #775 "Difficult to find how to override port settings"
I recently started up 2 buffalo dev apps and got the classic error.
`listen tcp 127.0.0.1:3000: bind: address already in use`

I had to go looking in the code to find that the port number can be over-riden by an environment variable called 'PORT'

I think buffalo could do a better job in this scenario. So thought I'd propose some suggestions.

**Option 1:** Write an error message decoder class tha

[2017-11-29 15:00] markbates commented on #751
@jmbrunskill That's basically the gist of it. It basically turns off the call to the soda generator that generates a model and a migration. shouldn't be too hard to implement. Would love to see this happen! :)

[2017-11-29 15:04] markbates commented on #775
Since this error message is driven by the OS, and not Buffalo, the idea of "decoding" the error seems fraught with issues. It's OS specific, it can change, etc... I'd prefer not to be constantly chasing that.

There is already documentation for this https://godoc.org/github.com/gobuffalo/buffalo#Options. These settings can affect not just development, but production, staging, etc... Thinking of th

[2017-11-29 17:03] phuctk93 opened #777 "Bug: Failed when install on PC doesn't have gcc"
When you install buffalo on PC doesn't have gcc with cmd:
`go get -u -v github.com/gobuffalo/buffalo/buffalo`
This way will break at sql3-lite pack and buffalo cmd (cli) will not install your pc.

[2017-11-29 17:05] markbates commented on #777
A gcc is a requirement, for now, as stated in the installation section of the docs. https://gobuffalo.io/docs/installation

[2017-11-29 17:05] #777 closed

[2017-11-29 18:43] jmbrunskill commented on #775
I understand what you are saying with OS specific messages etc. I was hoping I'd be able to do it with type assertions eg. something a kin to a java.net.BindException but it doesn't look like we can get that level of error in go :(

I've actually just had another look and you do already mention using the PORT env in the docs.
https://gobuffalo.io/docs/new-project#running-in-dev
I just failed to fi

[2017-11-29 18:43] #775 closed

[2017-11-29 19:50] jmbrunskill commented on #751
@markbates Great I've updated the code to handle this.

A quick question before I submit a PR.
It looks like the old --use-model took a string which it used as the model name.
I've replicated this functionality, but was wondering if it would be better to make --use-model a boolean and use the existing --name flag to set the model name?

[2017-11-29 20:29] jmbrunskill commented on #751
Decided to go ahead an create the PR can continue the discussion there.

[2017-11-29 20:58] #751 closed

[2017-11-29 23:37] koctya opened #779 "console not loading actions, models correctly"
When starting the console, gore messes up the loader for actions, and models;

[code]

[2017-12-03 10:09] avoivo opened #781 "Creating a new buffalo project with the --api flag, fails on windows 10"
[code]

Info

[code]

[2017-12-03 13:19] #723 closed

[2017-12-03 13:52] markbates commented on #781
Will be in the `v0.10.3` release.

[2017-12-03 13:52] #781 closed

[2017-12-04 07:16] Yuutakasan opened #782 "Buffalo can not create a table containing specific characters (ms_, tr_)."
In the internal table naming convention, "ms_" is given to the master and "tr_" is prefixed to the transaction, but processing of the language locale misidentifies the prefix and can not create the desired table .
* I'm trying to create a table called "ms_batch、tr_logs"

Is this a specification? Or is it a bug?

It seems that an error occurs if there is a character string in the following URL in t

[2017-12-04 15:07] stanislas-m commented on #659
You should be able to use the `Translate` function from your action file, and generate JSON with the translated string.

See: https://gobuffalo.io/docs/localization#use-i18n-in-actions

[2017-12-04 15:30] stanislas-m commented on #765
@seblw :+1:

[2017-12-04 16:39] fdonzello commented on #659
Thanks @stanislas-m

It's weird I didn't find it when I opened this issue.

[2017-12-04 17:23] stanislas-m opened #783 "Support Unix domain sockets to bind Buffalo"
## Abstract
[Unix domain sockets](https://en.wikipedia.org/wiki/Unix_domain_socket) are an alternative way to bind a listening app on compatible systems (GNU/Linux, MacOS/BSD...). This is an IPC system materialized as a file, and allow to publish services locally.

Common use cases are proxies, since it allows to publish a service only to localhost system, without blocking a TCP port. *Docker* is

[2017-12-04 17:29] stanislas-m commented on #659
@fdonzello The documentation part was added for the new release, and there was a major change on the `Translate` function: it used to return 2 args (which, in your case, was quite boring to handle).

[2017-12-04 17:29] #659 closed

[2017-12-04 22:16] seblw commented on #707
IMO it's asking for troubles. That'd be just making the job easier for malicious guys.

[2017-12-05 15:09] markbates commented on #783
Love the idea. Make it so. :)

[2017-12-05 15:12] markbates commented on #707
I agree with @seblw I'm not a fan. I think it could possibly cause more issues than it helps.

[2017-12-05 15:12] #707 closed

[2017-12-05 21:16] stanislas-m opened #784 "Broken layout on new project with --skip-webpack"
### Setup
* Buffalo 0.10.2
* Ubuntu GNU/Linux (applicable to Windows & MacOSX)

## Steps to reproduce
* Create a new project with buffalo, using the `--skip-webpack` option.
* Start `buffalo dev` and open a browser to see the home page.

### Expected behavior
The page has the same presentation as the webpack one.

### Current behavior
The page layout is degraded, due to Bootstrap css link missing

[2017-12-06 16:11] davidhtims commented on #213
Is this still a possibility? Any idea of a rough date please? I would be using Google App Engine's Standard Environment not the Flexible.

[2017-12-06 17:28] markbates commented on #213
This is still scheduled for 1.0, but there is no date associated with it. To make this happen someone who knows GAE well needs to step up and help make it happen.

-----------
Mark Bates

On Dec 6, 2017, 10:11 AM -0600, David Smith <notifications@github.com>, wrote:

[2017-12-12 18:31] mikeroosa opened #788 "Generating new project on Windows is adding drive letter and path in imports"
When generating a new project on Windows 7 it is adding the full path including drive to the import in main.go, app.go, init.go, and Dockerfile.

This is causing issue when trying to build the project.

version 0.10.2

Tried on another laptop running Windows 7 and code works fine. Same version.

[2017-12-12 22:01] #783 closed

[2017-12-13 00:15] BigJoe01 opened #790 "Windows buffalo.exe slow start, full path scan"
Hi,
In stat_windows.go , the Available() func reading full path environment variable with many
unnecessary directory and skip c:\windows directory only, when scanning plugins.
This cause slow exe startup.

[2017-12-13 01:42] mikeroosa commented on #788
I found the issue with the windows 7 drive getting put into the imports. My gopath was set to C:\Code\go. In meta/app.go in the packagePath func envy.GoPath() is returning C:/Code/go just like GoPath is set to in the environment variables. However, the filepath.ToSlash(root) on the next line is returning a lowercase drive letter c: so it's not doing the replace correctly on the return line because

[2017-12-13 09:55] stanislas-m commented on #782
@Yuutakasan, can you try the fix here? https://github.com/gobuffalo/buffalo/pull/791

[2017-12-13 16:44] BigJoe01 commented on #647
This is package-lock.json error or node scripts/install.js failed.
Maybe help  :
remove node_modules
remove package-lock.json
npm cache clean
npm install

[2017-12-14 02:01] paganotoni commented on #675
@markbates @stanislas-m what do you think would be the correct way to add this to the documentation, I'm thinking to add it in https://gobuffalo.io/docs/troubleshooting, does that sound good to you?

[2017-12-14 02:12] u007 commented on #675
maybe under common gotcha?

[2017-12-14 13:56] mikeroosa opened #794 "Generated resource "statuses" inconsistent"
At the command line I typed:
[code]

In `actions/statuses.go`, I see:
/ Following naming logic is implemented in Buffalo:
// Model: Singular (Statuse)
// DB Table: Plural (statuses)
// Resource: Plural (Statuses)
// Path: Plural (/statuses)
// View Template Folder: Plural (/templates/statuses/)

Singular should be Status, but that's not the big problem. In actions/statuses.go it had this code thro

[2017-12-14 14:30] paganotoni commented on #765
@stanislas-m @seblw are you ok with me taking this story? I'm willing to help on this one.

[2017-12-14 15:15] stanislas-m commented on #765
@paganotoni Sure. Thanks!

[2017-12-14 21:14] seblw commented on #743
Probably something related to http://microservices.io/patterns/server-side-discovery.html but IMO this is far outside of scope.

[2017-12-14 23:02] stanislas-m opened #795 "Buffalo mail package is using an unmaintained dependency"
Using `dep ensure` with a Gopkg.toml file:
[code]
The `gomail.v2` version fetched is the one from the **2.0.0** tag. This version API is not the one used by the Buffalo mail package (v2 branch), which leads to the following errors:

[code]

I think we can fix the `dep` problem, but it seems `gomail.v2` package is not maintained anymore. We should use a fork: `mail.v2` is a first guess, but it seem

[2017-12-15 01:53] #784 closed

[2017-12-15 01:54] paganotoni commented on #784
Closing this given PR #785 was already merged

[2017-12-15 01:56] paganotoni commented on #606
@markbates i would love to get your feedback on #792 which is related to this one.

[2017-12-15 13:54] paganotoni opened #797 "Default Robots.txt Handler"
One small addition to the buffalo framework that I would like to do is have the buffalo apps handle [`robots.txt`](https://en.wikipedia.org/wiki/Robots_exclusion_standard) by default.

**How will this work**

We will add a default robots handler to buffalo apps, what this handler will do is will render a file in `robots.txt`  that is inside `/assets/` folder.

If the file is not present it will re

[2017-12-15 16:51] markbates commented on #794
https://github.com/markbates/inflect/commit/f5fba5607384690a58dbaeaaf26863577eb4544a

[2017-12-15 17:38] markbates opened #799 "PROPOSAL: Move markbates/pop to gobuffalo/pop and turn off SQLite support by default"
Please see issue https://github.com/markbates/pop/issues/164 and leave comments there.

[2017-12-15 18:17] paganotoni commented on #799
I like this one, think is the right move given pop is a core package when developing buffalo apps and also that by bringing this package in we could have more attention into it resulting in more improvements and quick fixes

[2017-12-15 19:36] koctya opened #800 "make routes path item clickable."
Just a small Enhancement, Why not make the path in the default home routes page clickable, so we can use it to navigate to the route while building an app.

[2017-12-15 19:48] markbates commented on #800
Closing as it's a dup of #509

[2017-12-15 19:48] #800 closed

[2017-12-15 19:49] paganotoni opened #801 "Generated app should have Buffalo Favicon"
It would be good to add a buffalo favicon to the default generated app

[2017-12-15 20:12] stanislas-m commented on #799
@paganotoni +1

[2017-12-15 20:31] #790 closed

[2017-12-15 20:32] #788 closed

[2017-12-15 20:32] #794 closed

[2017-12-15 20:34] markbates commented on #647
@muloka I'm closing this issue because I believe it's an environmental issue. Also, since Buffalo is on `0.10.2` now, it could be that there was a problem with the `0.9.4` version on Windows. If you are still experiencing this issue, please re-open with more information. Thanks!

[2017-12-15 20:34] #647 closed

[2017-12-15 20:47] markbates commented on #675
@stanislas-m wherever you think this bit of documentation belongs, I trust you.

[2017-12-15 20:50] stanislas-m opened #804 "Database / Pop as an opt-in, not an opt-out"
Context
======

This is a thought on the user experience using Buffalo.

When I want to create a new Buffalo app, the documentation says I need to type:
[code]
* This is fine, the default configuration setups everything, but I still need to configure the database to make it work (as the README says).
* The second thing is that the files where created for PostgreSQL (which is a great choice, but no

[2017-12-15 21:02] stanislas-m commented on #675
@u007 @paganotoni @markbates The troubleshooting section seems fine for this one. :)

[2017-12-15 21:03] paganotoni commented on #675
Cool, I'll add it there and send PR

[2017-12-15 21:34] paganotoni commented on #606
@markbates An addition to #792 would be to generate a SESSION_SECRET in the `.env` generated file WDYT?

[2017-12-17 15:44] BigJoe01 commented on #788
Not works perfect, when root and src contains different case sensitive string.
The primary problem is case sensitive strings.replace.

[2017-12-17 19:11] markbates commented on #788
This is fixed in the development branch if anyone wants to try it out.

[2017-12-18 09:45] u007 opened #806 "test on action does not populate uri"
Hi,
i realize
[code]
is empty in test,
anyway to populate this in test?
how about c.Request().Method?

sorry forgot to mention that it only happen within action, some how in middleware, it does show

thank you

[2017-12-18 15:43] markbates commented on #806
Can you please provide reproduction steps to reproduce this?

[2017-12-18 16:59] stanislas-m commented on #522
@paganotoni @markbates Here is a starting point using appveyor:

[code]

[2017-12-19 18:29] Szetty opened #810 "StrictSlash should be customizable"
`router:   mux.NewRouter().StrictSlash(true)` from app.go

[2017-12-19 20:10] citizenrich commented on #629
After I installed Buffalo, I tried a `buffalo help` and got the same error. It may just be me but it seems a bit counterintuitive to have to have a Buffalo project installed before getting help to install the project. Looking forward to learning more Go and Buffalo.

[2017-12-20 05:17] arschles opened #813 "'buffalo setup' runs 'go get' on a lot of packages"
It seems like this happens even when `--with-dep` is passed to `buffalo new`.

This is on `buffalo` CLI v0.10.2

[2017-12-20 16:11] muloka commented on #647
@markbates Still getting an issue on Windows with 0.10.2.

@BigJoe01 Using `npm install` it works, no errors.

Nonetheless `buffalo new project-name` on Windows defaults to using `yarn install`.

Versions:
[code]

[2017-12-20 16:29] markbates commented on #647
@muloka the default is to use `yarn`. if you don't want to use yarn you have to pass the `--skip-yarn` options to `buffalo new`.

Can you run `buffalo info` from inside of your project and paste the results? Please include which version of Windows. you are running.

Also, can you paste the results from your `buffalo new` command?

I'm not able to reproduce this on Windows at all.

[2017-12-20 16:35] markbates commented on #813
Can you please elaborate on what you are seeing? Perhaps paste the output of what you're saying.

When I run I see 4 packages installed with `go get`

[code]

Those are external binaries/tools that Buffalo needs to have for certain things, like formatting code after generation and the console.

If you're seeing more than that can you please let me know what they are? If you are only seeing those d

[2017-12-20 17:05] arschles commented on #813
Yep, will do this evening

[2017-12-20 19:25] paganotoni commented on #795
Covered by #812

[2017-12-20 19:25] #795 closed

[2017-12-20 22:28] paganotoni commented on #765
Covered with #796

[2017-12-20 22:28] #765 closed

[2017-12-21 02:44] paganotoni commented on #801
@markbates I copied the favicon from gobuffalo.io and that's the one I'm using on #820, but wanted to ask you if you think is ok to do something like this for the favicon:

![screenshot 2017-12-20 21 19 14](https://user-images.githubusercontent.com/645522/34238222-93f5011e-e5ce-11e7-99a3-7f1e9c19a085.png)

The idea is to make Buffalo a bit more visible when on the favicon.

[2017-12-21 06:53] arschles commented on #813
Hey @markbates - when I run `buffalo setup`, I see `go get` calls on what looks like every package in my `vendor` directory as well as the directories in the top-level directory of my buffalo app. My setup doesn't follow the exact buffalo directory layout, however. I am using glide and the layout looks like this:

[code]

I put an example below of the output of `buffalo setup`. I ran it from the `

[2017-12-21 06:55] arschles commented on #813
Also, I was wrong about the output of the `buffalo new` command - I am seeing the same thing as you mentioned in your earlier comment

[2017-12-21 14:02] paganotoni opened #821 "FontAwesome icons disappear after first JS recompilation"
I've seen that in some situations font-awesome icons don't show up after a change in the JS file, but will appear after `buffalo dev` is restarted.

I looked into the issue and seems when recompiling JS we are first cleaning the entire public/assets folder and only generating JS/CSS.

[2017-12-21 18:16] paganotoni commented on #606
Covered by #792

[2017-12-21 18:16] #606 closed

[2017-12-21 19:16] paganotoni commented on #673
Covered by #814 #808
https://vimeo.com/247866894

[2017-12-21 19:16] #673 closed

[2017-12-21 19:59] paganotoni commented on #821
Update: Changing `webpack.config.js` rules section for fonts to:
[code]
Seems to fix it.

[2017-12-21 23:31] adiabatic opened #823 "render: Built-in helpers are loaded after custom helpers"
This means that the Bootstrap-using `form` and `form_for` can't be overridden with `render.Options` in `render.New()`.

Temporary workaround:

[code]

[2017-12-22 01:21] arschles opened #824 "render: Errors are hard to track down"
If a template has an error in it, you get a slightly-ambiguous error message and a stack trace. For example:

[code]

I actually still have not tracked down this issue, but I think I forgot a closing `}` somewhere.

Is there a "dev" flag I can pass to the renderer or parser?

(I wasn't sure where to file this issue -- here or in https://github.com/gobuffalo/plush. If I put this in the wrong place,

[2017-12-22 08:24] Szetty commented on #810
Thank you :)

[2017-12-22 08:24] #810 closed

[2017-12-22 14:57] markbates commented on #824
The first line is telling you what the problem is:

[code]

you are reference a variable, or function, named `jobs` that isn't on the context.

The problem with the stack trace is that Go doesn't actually give you stack traces, so we use a package called `github.com/pkg/errors` to generate a stack trace. Sometimes it's good and helpful, sometimes not so much. Unfortunately it's one of the big down

[2017-12-22 14:57] #824 closed

[2017-12-22 15:02] markbates commented on #813
The problem is that Buffalo doesn't support Glide as a package management tool, only Dep. Since Buffalo isn't seeing a `Gopkg.toml` file it's defaulting to using `go get` to make sure you have all your dependencies.

Since Dep is the "official" package manager now for Go, I don't see Buffalo adding support for Glide.

I would recommend moving to Dep, as that is what the community is doing, however

[2017-12-22 15:02] #813 closed

[2017-12-22 15:47] #823 closed

[2017-12-22 16:13] stanislas-m commented on #801
@paganotoni Love this favicon version!

[2017-12-22 16:24] #801 closed

[2017-12-22 17:11] arschles commented on #813
Actually that’s a great answer, thanks for the clarification! I’m new to
Buffalo but it’s an old codebase and moving to dep is coming up on the old
todo list. Sounds like all will be well then.

On Fri, Dec 22, 2017 at 07:03 Mark Bates <notifications@github.com> wrote:

[2017-12-22 17:13] markbates commented on #813
In that case, I’m glad I can help. :)

[2017-12-22 18:32] #509 closed

[2017-12-22 18:34] markbates commented on #779
This appears to be fixed in `v0.10.3` (development).

[2017-12-22 18:34] #779 closed

[2017-12-22 19:44] arschles commented on #804
Another option could be to set up for sqlite -- I generally change my `database.yml` right after I `buffalo new`

I just came here from https://github.com/markbates/pop/issues/164, so not sure if it makes sense to do this though; just wanted to throw it out there.

[2017-12-22 19:51] stanislas-m commented on #804
@arschles The problem with SQLite from now, is the mandatory GCC compiler. So we can't do that.

[2017-12-22 20:04] arschles commented on #824
Yep, makes sense. I think I didn't explain well -- I was more referring to the lack of information to help developers debug their templates.

Let me give some better examples.

### Example 1 - Missing Closing `%>`

Given this template:

[code]

The renderer will panic because the `if` doesn't have a closing `%>`. In this particular case, the plush parser looks to be the culprit. I think here, it w

[2017-12-22 20:16] markbates commented on #824
I did just commit this, https://github.com/gobuffalo/plush/pull/26/commits/c2c634d757d1b98674eaf58bcf0d346a23bedecb, which adds line numbers to the error message, which should go a long way to address.

If you've got ideas on improving it, please open a PR. I would love to see better, and clearer, error messages come out of Plush.

https://www.evernote.com/l/ABE9Toh7M4dCuIYkWsZVPz1tLHbQhBg9spU

[2017-12-25 16:00] sapiens-sapide opened #827 "running `buffalo build` with `-o` flag deletes working directory"
I ran `buffalo build` to build my app and everything worked fine. But, when I ran `buffalo build -o custom_binary_name` the command failed with a `……/……/main.go: no such file or directory` and my working directory has been completed erased !

Buffalo version is: v0.10.2.

Issue encountered on mac osx and freebsd.

[2017-12-25 16:03] markbates commented on #827
Well, it definitely shouldn’t do that. Yikes.

The problem is it clears out the build directory, which is also your working directory at that point. Obviously it shouldn’t do that if you specify the working directory.

The work around is to do something like `-o bin/custom-name`

-----------
Mark Bates

On Dec 25, 2017, 11:00 AM -0500, Stanislas SABATIER <notifications@github.com>, wrote:

[2017-12-25 16:08] sapiens-sapide commented on #827
Thanks for your reply. It should have a safeguard to prevent this unexpected behaviour.

[2017-12-26 02:21] Yuutakasan commented on #782
After installing the Buffalo main unit from the development branch, I was able to confirm that I fixed it by following the same procedure.

thanx!

[2017-12-26 02:21] #782 closed

[2017-12-27 03:22] arschles commented on #804
Ok, thanks @stanislas-m

[2017-12-27 03:23] arschles commented on #824
Line numbers FTW indeed 😄

I'll put together some repro steps for the panic when I get a minute, and submit a PR to plush for it.

[2017-12-28 18:01] #827 closed

[2017-12-30 19:20] turnkey-commerce commented on #750
I observed that the following method to launch will work with Windows to suppress the need for input when exiting:

buffalo dev < nul

Perhaps it would be possible to similarly redirect programatically when executing the dev command from Windows.

[2017-12-30 23:20] monicaqu opened #832 "Websocket function allows cross origin requests"
The default context Websocket method [allows cross origin requests](https://github.com/gobuffalo/buffalo/blob/b1dbfd2402de31cf263d1482b0225066a30bec77/default_context.go#L205).

At a minimum, the security implications of the Websocket method should be noted in the documentation.   Ideally, the Websocket method is made secure by setting CheckOrigin to nil.

[2018-01-05 22:17] brandoconnor opened #833 "Add database creation to docs"
This project is great and I can't wait to dive in further. Thanks for creating/maintaining it!

Getting started with buffalo has been relatively easy on one of my workstations but getting the database up was easily the part that had me opening a slew of tabs to google around. Where's a known good docker container that can run postgres/sqlite3/mysql? How to run the container such that it runs on th

[2018-01-06 20:20] markbates commented on #833
I'm closing this ticket, because it really belongs on the documentation site.

I would love to see more documentation for helping people get databases installed on their systems. It takes a lot of work, and requires the community to pitch in there. There are a lot of OSes and database combinations. Same with docker and such, a lot of combinations. A great place to start would be to add a generated

[2018-01-06 20:20] #833 closed

[2018-01-06 21:37] edevil commented on #217
Even though this is closed I would just like to add that integrating authboss or something similar would be very helpful since user management is a common requirement and easy to get wrong. Is there more information about the mentioned plugin in development?

[2018-01-08 03:09] josegonzalez opened #835 "feat: Ability to override built-in generators"
It would be great to build an application and ship a set of generators with that application. An example use-case might be automatically generating json-api compatible resources.

Note that you'd want to support multiple generator "skeletons", so something like the following for an application structure might work:

[code]

Then usage would be like so:

[code]

Skeletons would be installed within

[2018-01-08 15:00] Ibrahimous opened #836 "Create / drop database not working"
Hi there,

Thanks for your work, at first :)
I ran into problems just executing the following command:
`$ buffalo create db -a`
OR

`$ buffalo db drop -a`

I have the following database.yml:

[code]

I get:

[code]

Meaning: buffalo seems to understand postgres://user:password as postgres://DATABASEr:password !

Any help, please ?

[2018-01-08 15:03] markbates commented on #836
I don’t understand the language of the error message, but I think it’s telling you that it can’t authenticate the user/password in Postgres. Make sure it exists and has the right permissions in Postgres.

[2018-01-08 15:06] stanislas-m commented on #836
@markbates It's french for "Bad password authentication for user 'user'", then "The "'user' database doesn't exist".

@Ibrahimous Check your credentials with a postgresql client.

[2018-01-08 15:06] Ibrahimous commented on #836
Hi, thanks for your fast as light answer: here is the translation:

couldn't drop database myApp_test: error dropping PostgreSQL database myApp_test: pq: failed authentication for user  « user »
couldn't drop database myApp_production: error dropping PostgreSQL database myApp_production: pq: failed authentication for user  « user »
couldn't drop database myAppdb: error dropping PostgreSQL database

[2018-01-08 15:12] Ibrahimous commented on #836
@stanislas-m I'm currently connected with "user": the problem doesn't lie in wrong credentials

[2018-01-08 15:16] stanislas-m commented on #836
@Ibrahimous `buffalo db create -a` handles all databases defined in the config.
Can you try `buffalo db create -e development`, to debug only one config first?

[2018-01-08 15:21] Ibrahimous commented on #836
Thanks @stanislas-m, but no, the particular doesn't work better that the general^^

Error: couldn't create database authrecipe_development: error creating PostgreSQL database authrecipe_development: pq: la base de données « red-teamer » n'existe pas

$ cat database.yml
development:
  dialect: postgres
  database: authrecipe_development
  user: red-teamer
  password: <myPassword>
  host: 127.0.0.1

[2018-01-08 15:34] stanislas-m commented on #836
@Ibrahimous It works well on my Linux machine:

[code]

can you get the output of `buffalo info`?

[2018-01-08 16:37] Ibrahimous commented on #836
$ buffalo info
### Buffalo Version
v0.10.2

### App Information
Pwd=<user_home>/DEV/Go/src/github.com/coke
Root=<user_home>/DEV/Go/src/github.com/coke
GoPath=<user_home>/DEV/Go
Name=coke
Bin=bin/coke
PackagePkg=github.com/coke
ActionsPkg=github.com/coke/actions
ModelsPkg=github.com/coke/models
GriftsPkg=github.com/coke/grifts
WithPop=true
WithDep=false
WithWebpack=true
WithYarn=true
WithDocker=tru

[2018-01-09 03:50] u007 commented on #797
would be better a way to render any files in public/ if it exists without the need to add prefix assets

and also anyway to off directory indexing for app.ServeFiles ?

[2018-01-09 09:27] Ibrahimous opened #838 "Application.css & application.js not generated hence not found"
Hi,

I'm kind of going crazy trying to understand why on earth buffalo isn't generating the proper assets.
The code I'm working on worked last night. I've juste git cloned it on a different computer, modified database.yml and launched:
`$ buffalo dev`
in it.

The application launches, but I get on the landing page (a classic application.html containing an index.html):
`GET http://localhost:3000/as

[2018-01-09 09:59] Ibrahimous commented on #838
For information, I made the app work by creating a new app and copying the previously modified files in the new repo. May there have been a problem with git having not committed a file necessary to assets generation by webpack  ?
Thx !

[2018-01-09 11:52] markbates commented on #838
You probably need to run `yarn install` to create and install your node_modules directory. Run that, restart, and you should be good.

[2018-01-09 13:55] Ibrahimous commented on #838
Yes !! Indeed, it works fine now, thank you very much !

[2018-01-09 15:19] #838 closed

[2018-01-09 15:20] markbates opened #839 "Make sure node deps are installed when running in dev"
The `buffalo dev` command should run `yarn install` or `npm install` if Webpack is being used, but the `node_modules` directory doesn't exist. See issue https://github.com/gobuffalo/buffalo/issues/838

[2018-01-09 15:23] markbates opened #840 "Validate template syntax when building binary"
When running `buffalo build` we should validate that the plush templates are syntactically valid.

[2018-01-09 15:25] markbates opened #841 "Allow for the binary's default environment to be set during build time"
When running `buffalo build` there should be a `--environment` flag that let's the user set the default environment of the binary from `development` to whatever they would like.

[2018-01-09 15:37] stanislas-m commented on #840
@markbates Maybe we can extend the rendering interface to have a Validate method? This way it allows Buffalo to validate the templates for each templating engine used.

[2018-01-10 11:53] wiemann opened #844 "Webpack Hot Module Replacement not working"
Webpack [Hot Module Replacement](https://webpack.js.org/concepts/hot-module-replacement/) is not working even when enabling `HotModuleReplacementPlugin` in `webpack.config.js`. This is essential when working on a single page app in Vue / Angular etc.

Can we figure out how to enable it and make enable it by default?

[2018-01-10 11:55] markbates commented on #844
A PR would be great. Thanks.

[2018-01-10 16:20] #839 closed

[2018-01-10 21:42] bastiankoetsier opened #845 "NODE_ENV not being set to production during build"
With the [removal](https://github.com/gobuffalo/buffalo/commit/436dc23f762ecc9aef1c759db2e7c09193944414#diff-d8610c51e98c7aa8d24252f5dbec0bfeR25) of loading the whole environment-variables before `exec`, it is prevented  that `NODE_ENV` gets actually [set](https://github.com/gobuffalo/buffalo/blob/master/buffalo/cmd/build/assets.go#L13) to `production`  during `buffalo build` .

This prevents the

[2018-01-10 22:22] wiemann commented on #609
FYI: This does enable CORS, but setting a header for the response a la `c.Response().Header().Add("key", ''val")` in the action produces a "http: multiple response.WriteHeader calls" warning.

[2018-01-11 17:57] Zarkopafilis commented on #750
_λ buffalo info_

Did you run this on a different command line than the standard Command Prompt or Powershell?

[2018-01-11 19:42] Zarkopafilis commented on #845
Probably fixed by https://github.com/gobuffalo/buffalo/pull/846 (if it gets merged)

[2018-01-12 01:09] paganotoni opened #847 "Webpack should compile different JS files"
Under some situations as a developer you want to have different JS for different pages in your application, this can be for multiple reasons, the reasons I've faced are:

- You don't want to load unneeded libraries on every page
- You don't want to expose some JS functionality in public pages
- You want to have your JS logic separated

As a solution Buffalo could have webpack compile every file on

[2018-01-12 01:27] markbates commented on #847
Love it. I would use `_file.js` for partials to match plush and sass.

[2018-01-12 01:34] paganotoni commented on #847
Great! it seems that for our sass files it's the same story, we're only generating `application.css`, should we include in this issue doing the same with sass (i can see almost the same reasons to separate your style).

[2018-01-12 01:43] markbates commented on #847
I assumed you meant both. :) Definitely!

[2018-01-12 02:11] paganotoni opened #848 "Fingerprint Images"
At this point, Buffalo is using the fingerprint strategy on compiled CSS and JS but it's not being used for images, it would be good to add this to images in order to make asset compilation consistent in that sense.

This may have an impact in other areas like CSS backgrounds and fonts but the solution may be already implemented into webpack.

Changes to solve this will mostly be related to the we

[2018-01-12 05:50] stanislas-m commented on #847
@paganotoni How about this? https://github.com/webpack/webpack/tree/master/examples/multiple-entry-points

[2018-01-12 13:15] turnkey-commerce commented on #750
I ran it on a cmder shell but I noticed it happens in other shell environments as well and a standard Windows cmd prompt.

It's a nice shell tool for Windows and is a terminal emulator for other cmd environments including Powershell.

http://cmder.net/

[2018-01-12 13:41] paganotoni commented on #847
@stanislas-m #849

[2018-01-12 20:33] kswope opened #851 "sqlite3 dependency makes gotype very unhappy"
I'm newish to go and this is the only go package I've used that flipped out like this.

Is this normal, and if so, is gotype always going to be incompatible with buffalo?

(xenial)kevin@localhost:~/go/src/github.com/kswope/mybuffalo$ gotype main.go
main.go:6:2: could not import github.com/kswope/mybuffalo/actions (type-checking package "github.com/kswope/mybuffalo/actions" failed (/home/kevin/go/s

[2018-01-12 20:37] markbates opened #852 "Allow for the serving of the public directory"
Inspired by the #797 ticket, the `public` directory should be able to be served up Buffalo.

[2018-01-12 20:40] #841 closed

[2018-01-12 20:41] markbates commented on #797
@paganotoni I like @u007 idea of allowing for the `public` directory to be served up easily. #853 addresses this.

[2018-01-12 20:41] #797 closed

[2018-01-12 21:14] #852 closed

[2018-01-12 21:18] markbates commented on #851
The problem appears to be because of the github.com/mattn/go-sqlite3 package, which is CGO. You should open this issue there. It's possible that CGO doesn't work with `gotype`.

[2018-01-12 21:18] #851 closed

[2018-01-12 21:33] kswope commented on #851
I'm getting the impression that gotype isn't that popular a go tool and difficult to use and I should probably remove it from my list of linters.  Everything else passes, including gosimple and staticcheck.  Thanks for the quick reply.

[2018-01-12 21:34] markbates commented on #851
Not going to lie to you, I’ve been writing Go for 5 years, and I teach it for a living, and I had never used (or heard of it I think) before.

[2018-01-12 22:11] paganotoni opened #855 "Update Buffalo to use Webpack 3"
Since webpack is moving to its [4th version](https://github.com/webpack/webpack/milestone/15) it would be good to move Buffalo to webpack 3 (stable version) to be prepared to move to webpack 4 when this turns stable (or we decide is pertinent).

I've tried this locally and the changes are minor, and mostly related to some package versions given the syntax is the same.

[2018-01-12 22:20] stanislas-m commented on #855
@paganotoni I do agree we should update, but please make sure we provide a migration "guide" for existing projects. It's not easy to follow the frontend hype, and some Buffalo users are just backend guys using the default config for their pipeline. The best way might be providing a webpack generator (it means extracting the code from the new app generator, and call it as a sub-generation step), wi

[2018-01-13 01:28] paganotoni commented on #855
@stanislas-m I agree with you on the fact that some Buffalo users are just backend guys (including @markbates and myself), but I'm don't see how this would affect existing Buffalo applications, those apps have a working webpack 2 configuration installed that we will not change, it will continue working as it is today.

This change would have an effect on newly generated Buffalo apps, in which asse

[2018-01-13 05:20] u007 commented on #797
thank you :)

[2018-01-13 05:26] stanislas-m commented on #855
@paganotoni The thing is, the javascript world is moving really fast, and I've seen many js libraries dropping support for legacy versions. I agree it should continue to work as it, without any change.

The migration thing, in my head, is something for apps not finished yet: you started to write your app a while ago, but you don't want to recreate it from scratch to have the last buffalo-recommend

[2018-01-13 14:28] paganotoni commented on #855
Yes, I think I've faced that issue with other features even in buffalo's generated Go files, it happened to me when i18n came in, as well as other small changes in the app.go file, and as with this webpack change, my app continued to work.

The strategy I've taken in such situations has been:
- look at a newly generated buffalo app for missing pieces
- add missing parts to my existing app
- ensure

[2018-01-13 14:38] stanislas-m opened #856 "Allow cookies to have a custom path"
Cookies are bound on a path, and by default it's the current "directory" in the URL: for instance, if I set a cookie in a "/users/set-cookie" URL, the cookie will be bound to "/users".

We should allow Buffalo to set cookies on a custom path, so I can set a site-wide ("/") cookie from a "/users/set-cookie" path.

[2018-01-13 14:49] stanislas-m commented on #855
@paganotoni I'm glad my point was relevant, but I still agree it's a specific use case. :)

To add more context, I work on project on my spare time, and when I have a missing feature I fix (or ask for a fix) Buffalo. When you work like that, the project can wait for months, and your project setup can be "obsolete". I'm not used to all the stuff in the frontend world, so I let the Buffalo project c

[2018-01-13 17:11] franzsilva opened #857 "Error class frontend"
If i wanted to use a different frontend framework like Foundation or SemanticUI. how can i change the class that is returned when the form has an error in a field? currently because it uses the bootstrap framework it uses has-error. But how can i customize that?

[2018-01-13 17:16] markbates commented on #857
You can map different the non-bootstrap form helpers:

https://godoc.org/github.com/gobuffalo/plush

[2018-01-13 17:16] #857 closed

[2018-01-14 01:56] robvdl commented on #821
I noticed this too, every time I changed a js file and it auto recompiles it failed to load .ttf, .woff, .woff2 files and it seemed the only way was to restart the app each time which is not a good workflow.

Any chance to get this fix in?  I guess in the mean time we can manually update webpack config in existing projects.

[2018-01-14 03:19] robvdl commented on #836
Not sure if this is related but it's not working for me either, only the error doesn't make sense:

ERRO[0000] Error: couldn't create database vuerecipe: error creating PostgreSQL database vuerecipe: pq: database "robvdl" does not exist

What doesn't make sense in the error is that "robvdl" is not my db name, it's my username, so why it is saying "database robvdl does not exist" is beyond me, the

[2018-01-14 03:24] robvdl opened #859 "Should webpack be watching the vendor directory?"
I cloned the vuerecipe repository, started things up, but it appears to be monitoring a whole lot of files in the vendor directory, is this correct?? Should it only be monitoring files in assets?

[code]

[2018-01-14 03:35] markbates commented on #859
That’s Go compiling app for the first time. Subsequent runs Go caches built packages and only compiles changed ones. It has nothing to do with webpack other than the two logs printing to the same place.

[2018-01-14 03:35] #859 closed

[2018-01-14 08:48] Ibrahimous commented on #836
I have made the logging capabilities & createdb privileges checks as well.

[2018-01-14 11:54] stanislas-m commented on #836
@robvdl @Ibrahimous Can you upgrade buffalo (and pop) to the latest version?

[code]

[code]

I can't reproduce your problem on my setup, so either it was fixed, or your database has a different config.

[2018-01-15 13:40] wung-s opened #860 "Generated Dockerfile contains JS related config for project generated with the --api flag"
In Dockerfile, as mentioned by @markbates in the Slack channel, line 9-11 shouldn't be generated when a project is generated with the `--api` flag
[code]
Without commenting out the above lines, pushing to Heroku produces the following error:
`ADD failed: stat /var/lib/docker/tmp/docker-builder955994870/package.json: no such file or directory`

[2018-01-15 13:48] markbates commented on #860
Thanks for opening this. It’s now fixed in development branch with commit https://github.com/gobuffalo/buffalo/commit/a0727638ba68e15de8abdc5c281cc8c0e005ee53

[2018-01-15 13:48] #860 closed

[2018-01-15 19:39] robvdl commented on #836
I did ugrade both pop and buffalo, but unfortunately I still get same problem, the error message still doesn't make sense when it says database "robvdl" does not exist when that is the user, NOT the database:

[code]

[2018-01-15 21:52] stanislas-m commented on #836
@robvdl @Ibrahimous Can you try to patch the `postgresql.go` file in the pop sources (in github.com/markbates/pop)? Replace `urlWithoutDb` definition with the following:

[code]

Then `go install -v github.com/gobuffalo/buffalo/buffalo` & retry to create / drop the databases.

[2018-01-16 09:28] danikarik commented on #609
@wiemann Same issue. For some reason I got doubled "Set-Cookie" header in response.

[2018-01-16 10:49] danikarik opened #861 "Frontend POST / DELETE calls cause "http: multiple response.WriteHeader calls" warning"
I created new project with --api flag. Put CORS headers according to [#609](https://github.com/gobuffalo/buffalo/issues/609) comment using [CORS Handler](https://github.com/rs/cors). After that Angular front-end sends POST request to "/session" and DELETE to "/session".

In Buffalo logs I'm getting warnings like:

2018/01/16 16:38:42 **http: multiple response.WriteHeader calls**
INFO[2018-01-16T16

[2018-01-16 17:53] markbates commented on #861
I don't know the CORS package, so I can't tell you exactly what's going on, but my gut says that CORS is writing headers and then your app is writing headers, hence the multiple header writes. You should investigate why the CORS package is writing headers if it doesn't need to.

[2018-01-16 20:42] #840 closed

[2018-01-17 08:25] danikarik commented on #861
I've found this WriteHeader:
[code]
Can It cause that warning?

[2018-01-17 14:55] markbates commented on #861
Possibly. I don't know the Cors or how Angular does it's requests, so I really can't answer the question.

[2018-01-17 16:30] markbates commented on #861
For what it's worth, I tried it locally, everything worked fine for me. It has to be your front-end

[code]

[code]

[2018-01-17 20:30] markbates commented on #847
@paganotoni I started working on a new application and found out that this is causing some problems.

Everything works fine, but when I change, say `application.js` it cleans out the old `application.hash.js` file, but never rebuilds it and updates the `manifest.json`. This results in a lot of these types of errors:

[code]

The only way to fix the problem is to restart `buffalo dev`.

This either

[2018-01-17 20:35] paganotoni commented on #847
@markbates when are we planning to release 0.11.0 ? I want to commit to have this in 0.11.0

[2018-01-17 20:45] markbates commented on #847
right now February 12th

[2018-01-17 20:52] paganotoni commented on #847
In that case let’s have it in `0.11.0`

[2018-01-17 22:31] paganotoni commented on #847
@markbates this issue seems not to be related with this particular ticket, anyways I'm working on it, I changed my webpack configuration to be the old one and it still happens when you change a file and save it multiple times quickly, it kind of loses contact with the assets folder and webpack stops recompiling.

There is another issue with the fonts that I've added in #821.

I continued looking i

[2018-01-18 04:31] u007 opened #865 "invalid memory address"
buffalo 0.10.3
when building:
[code]

[2018-01-18 04:36] u007 commented on #865
is this a packr issue?

[2018-01-18 04:38] u007 commented on #865
should there be a min dependency version to packr?

[2018-01-18 04:48] u007 commented on #865
sorry just found out that i duplicated vendor folder as vendorcache and it seems to fail after reading a go file in this folder

[2018-01-18 04:48] #865 closed

[2018-01-18 10:29] danikarik opened #866 "Error in pop/dialect"
I was testing issue #861 with newly created project:

`buffalo new buffalo-cors-api --api --skip-pop --skip-webpack --with-dep`

When I'm building binary, getting error:
`vendor/github.com/markbates/pop/dialect.go:59:11: cannot assign 1 values to 2 variables`

In previous version `uuid.NewV4()` returns `(UUID, error)`
In new project it returns just `UUID`, what causing error above.

[2018-01-18 10:59] danikarik commented on #861
Problems occurs on preflight request, when you send with OPTIONS method.
req -> OPTIONS -> 200
WARNING between them
req -> POST -> 200

I created test api project to reproduce warning:
`buffalo new buffalo-cors-api --api --skip-pop --skip-webpack --with-dep`

Test routes:
[code]

Action:
[code]

POST cURL:
[code]

DELETE cURL:
[code]

[2018-01-18 11:40] AucT opened #867 "[question] What is session storage?"
Hi! I have quick questions about session
1) Where does it store data?
2) Is it persistant with reboot (for example for autologin option do I need to do smth more)?

[2018-01-18 12:09] markbates commented on #866
You’re hitting this issue https://github.com/satori/go.uuid/issues/66

If you set the uuid package to use the master branch you’ll be fine. Unfortunately until that package sets a proper tag for their breaking change this will keep happening. :(

[2018-01-18 12:09] #866 closed

[2018-01-18 12:11] markbates commented on #867
All great questions and they’re all answered here https://gobuffalo.io/docs/sessions good luck!

[2018-01-18 12:11] #867 closed

[2018-01-18 14:26] danikarik commented on #861
@markbates Can you try this

[2018-01-18 14:32] markbates commented on #861
I believe you, I don’t have the time unfortunately to try it. If the CORS package is writing headers and then passing it off to the application, that’s a problem. Once someone writes headers others can’t, so if that’s what they’re doing, that’s a problem in that package. You can probably your problem without buffalo and just using a simple net/http app. I don’t believe this to be an issue with buf

[2018-01-18 15:03] danikarik commented on #766
@suhaschitade What package did you use?

[2018-01-18 15:09] muloka commented on #647
`G:\go\src\coke> buffalo info
←[33mWARN←[0m[0000] Could not find BUFFALO_PLUGIN_PATH environment variable, default to PATH instead. Consider setting t
he BUFFALO_PLUGIN_PATH variable to speed up loading of plugins and/or to set a custom path for locating them.
### Buffalo Version
v0.10.3

### App Information
Pwd=G:\go\src\coke
Root=G:\go\src\coke
GoPath=G:\go
Name=coke
Bin=bin\coke.exe
PackagePkg=

[2018-01-18 15:26] markbates commented on #861
I talked to a friend of mine, and he dug through it, and we found the issue! You're not losing your mind.  :)

There's a fix in the `development` branch of Buffalo if you want to try it out and let me know if that fixes it for your apps as well.

[2018-01-18 20:45] #821 closed

[2018-01-18 20:46] #847 closed

[2018-01-18 20:46] #861 closed

[2018-01-19 08:28] danikarik commented on #861
@markbates Hi! Yes, fix solved problem!
How soon you will merge master branch? Including #866 ?

[2018-01-19 12:06] markbates commented on #861
Right now the next release is scheduled for 2/12. So it’s going to be a while.

If you want to use it today you can use dep and vendor the development branch.

-----------
Mark Bates

On Jan 19, 2018, 3:28 AM -0500, danikarik <notifications@github.com>, wrote:

[2018-01-22 19:00] kamilgregorczyk opened #869 "Buffalo Node-less version?"
Hi, how would Buffalo look like without node as a dependency?

[2018-01-22 19:00] kamilgregorczyk commented on #869
/question

[2018-01-22 19:01] markbates commented on #869
Just like it does right now. :)

If you don't want to use node, you can create your app using the `--skip-webpack` flag.

For a full list of commands and flags you can add `--help` to the command.

[2018-01-22 19:01] #869 closed

[2018-01-22 19:05] kamilgregorczyk opened #870 "No validation in generators"
I just did
`buffalo g r name,body` and it generated wrong files, it would be good to have 1. Validation 2. A confirm check if we really want to create/roll back it it there were some errors.

[2018-01-22 19:10] kamilgregorczyk commented on #870
The same for `buffalo g r name body`

[2018-01-22 19:22] kamilgregorczyk commented on #870
Here's a pastebin https://pastebin.com/E2rk93DS

[2018-01-23 20:21] made2591 commented on #389
Hi! This is closed, right?

[2018-01-23 20:24] markbates commented on #389
It’s actually still open. I forgot all about this idea. It’s not the same as the resource generator. The idea is that you could do something like `c.Render(200, User{})` or something like that and it would render it correctly based on the content type of the request.

It’s a great idea I would love to revisit.

[2018-01-23 20:31] made2591 commented on #389
If it's ok I will have a look, maybe I can handle this ^^ I'm not a buffalo or golang expert, but it seems not so difficult to me - I will be wrong for sure. I would like to contribute. ps: I worked a lot with goa.design in the past, maybe could be useful to someone else for something else...

[2018-01-23 20:32] markbates commented on #389
Please! I’d love to see someone take the reigns.

[2018-01-24 13:23] #845 closed

[2018-01-25 16:11] HintikkaKimmo opened #875 "node-sass package giving errors on mac"
I am getting following build errors for node-sass package when running on Mac OSX 10.12.6 (16G1212).

Updating node-sass to 4.7.2 fixes the issue. Should I commit the change for rest of the user group?

[code]

[2018-01-25 16:12] markbates commented on #875
Yes please.

[2018-01-25 16:24] HintikkaKimmo commented on #875
@markbates I made a quick pull request. Just check I edited the correct file as I hadn't check how the templates work. Commit 30fb37ba66289efd3ef0d697f5289d224b0aeb45

[2018-01-25 18:54] #875 closed

[2018-01-26 10:58] uravnitel opened #877 "buffalo new <name> , no such file or directory package json"
Os ubuntu 17.04 x64
node v9.4.0
npm 5.6.0
yarn 1.3.2
go version go1.9.2 linux/amd64
buffalo v0.10.3

 buffalo new goapp :  error no such file or directory package json and other apps directory

![screenshot_20180126_164402](https://user-images.githubusercontent.com/13073820/35436546-0c7aa100-02b9-11e8-8dbf-42bf3adb0f28.png)

in new app only .git,  asset,  grifts , models directory and database.yml

[2018-01-26 11:49] uravnitel commented on #877
fix
Using multiple $GOPATHs.

thans for  https://gobuffalo.io/docs/troubleshooting

[2018-01-26 12:10] #877 closed

[2018-01-26 16:04] uravnitel opened #878 "500 - ERROR! no supported languages found"
Error Trace

 `no supported languages found []string{"ru", "en-US", "en", "en-US", "ru-RU"}
github.com/markbates/pop.(*Connection).Transaction.func1
/home/b/.go/src/github.com/markbates/pop/connection.go:122
github.com/markbates/pop.(*sqlite).locker
/home/b/.go/src/github.com/markbates/pop/sqlite.go:83
github.com/markbates/pop.(*sqlite).Lock
/home/b/.go/src/github.com/markbates/pop/sqlite.go:75
gi

[2018-01-26 16:07] sandorvasas commented on #140
Any workaround to this? I have a multi-project workspace and I don't want to put React/Angular, Python, Java, etc. apps into my Go workspace. Rather, I'd want to keep it organized in a single root folder of the project.

[2018-01-26 16:10] markbates commented on #140
https://gobuffalo.io/docs/troubleshooting

You can install Buffalo into the new `$GOPATH` and you'll be fine.

[2018-01-27 21:29] markbates opened #883 "Autoload pop model associations in templates"
When https://github.com/markbates/pop/pull/191 gets merged into Pop we will have a the ability to eagerly load model associations.

For example:

[code]

If there's a `has_many`, `belongs_to`, or `has_one` tag, pop shouldn't load anything, it's like having `db:"-"`.

However, if I were to do something like:

[code]

It should load `Books` and `Address`.

If I did:

[code]

It would only load the `

[2018-01-28 09:39] stanislas-m commented on #883
Just to keep track, here is the opinion I gave on Slack:

I'm not fan of doing db-magic stuff from the template. In my opinion, the template should only care about displaying data, not fetching more data or making transformations.
I've also worked with Java Hibernate a lot, and that kind of magic stuff it provides is a nightmare to debug.

[2018-01-28 19:36] stanislas-m opened #884 "Weird issue with Packr"
I tried to deploy this app https://github.com/xtrem-creative/ldap-password-selfservice on my Debian server. On my Ubuntu computer, it works just fine. I can build the binary, and move it on the Desktop without any problem:

![image](https://user-images.githubusercontent.com/1911803/35486123-d5c3019a-0469-11e8-99b4-7ea8820d758d.png)

When I deploy it on the Debian (9) server, the traces say the fol

[2018-01-28 19:53] stanislas-m commented on #884
With a constraint on packr v1.10.1, it works fine.

[2018-01-29 12:00] stanislas-m commented on #884
More clues on this one: it works on my computer if I move the executable somewhere, because the fallback to the filesystem seems to be a hard link to the file location.

I definitely suspect something broken in packr.

[2018-01-29 17:02] stanislas-m commented on #884
After more tests on this case, I've found a working setup by **upgrading the packr version used by the buffalo CLI**. It seems to work when the both versions (CLI & dep) are the same.

[2018-01-29 17:02] #884 closed

[2018-01-29 21:30] kteb opened #886 "CSRF error when Clearing the Session and Redirecting to a form"
We discussed the case with @markbates on Slack.

Here is the error:
[code]

Here is the code I used
[code]

I'm using the default form generated by auth:
[code]

I reproduce it with migrating down the db and migrating up and seeding my default user.

From here it's the explanation of Mark on Slack:

i can reproduce, not sure i know what the fix is, but here’s what’s happening:
* you make a call to

[2018-01-29 21:36] #878 closed

[2018-01-29 21:37] markbates commented on #883
After getting a lot of great feedback on this, I think I'm going to make this it's own package somewhere that people can pull in if that want that functionality, but don't have to use if they don't want it. I think that makes the most sense.

[2018-01-29 21:37] #883 closed

[2018-01-29 22:51] alexdor opened #887 "Add support for storing generator's options"
`buffalo new` should also create a file for storing extra flags that will be used when a user runs a generator.

An example that this file would be useful is when a user creates a project with the `--api` flag. This flag should be stored somewhere so that every action generator skip's the template generation.

I'm not sure if this file should be implemented as a yml with true/false values. For exa

[2018-01-29 22:58] markbates commented on #887
The https://github.com/gobuffalo/buffalo/blob/master/meta/app.go type was added a release or two ago to be the start of solution for understand an apps structure and allowing Buffalo to do things with that information.

I think this idea should extend that. I think this goes beyond storing information about generators, it needs to store general information about the app, including what settings we

[2018-01-29 23:16] alexdor commented on #887
Personally I prefer json format but I think that for the sake of consistency we should use a .yml file because the rest of the config is in .yml. What do you think?

So the first step would be to extend the App type (except, if you think that, we should create a new type) to include information like `IsAPI`, `DBType` and `VCS` and then create a file on the project's root to store all this options?

[2018-01-30 04:06] u007 opened #888 "selenium testing"
hi,

is it possible to have test suite based on selenium?
i could think of starting the test instance manually, but also means ive to run db truncate on every test suite.
and connect to localhost:XXXX for selenium to connect to the test instance.
im planning to use docker selenium prior to running test.

https://github.com/SeleniumHQ/docker-selenium/wiki/Getting-Started-with-Docker-Compose

please

[2018-01-31 03:56] wwaldbu commented on #886
I am having an issue with this also. I was following the tutorial linked above and I am unable to post from a form to a database without getting:

CSRF token not found in request
github.com/gobuffalo/buffalo.sessionSaver.func1

Here is my render.go file:

[code]

And here is the register.html file I call it in:
[code]

Here is my output:

<img width="1066" alt="screen shot 2018-01-30 at 8 26 48 pm

[2018-01-31 12:08] markbates commented on #886
@wwaldbu your issue is different. Your just not setting the token correctly. If you look at your generated html you’ll see that. Your csrf is returning <%= authenticity_token%> instead of the actual token. Is there a reason you’re not using the form helpers? Those will set the token for you as well as generate all that boiler plate bootstrap code.

The original issue is if you follow a very partic

[2018-01-31 14:52] markbates commented on #888
There currently aren't any plans to add support for it, but I would be open to discussing it, although I'm not the person to do it. :) It might be best served as a plugin, to be perfectly honest. But I'm open to the suggest.

[2018-01-31 20:55] byungjikroh opened #893 "Error when recompiling css assets on Windows"
I got an error when liveload recompiles css assets after editing and can't load css file.

I guess rimraf module got an EBUSY error when it tries to remove previous asset files.

rimraf (https://github.com/isaacs/rimraf)

It's an error only on Windows but I can't figure out how to fix it.

[code]

[2018-01-31 21:04] markbates commented on #893
I'm not sure this is an issue with Buffalo. All Buffalo does is run web pack, it doesn't compile or watch any javascript on its own. Have you tried seeking help with rimraf?

[2018-01-31 21:12] byungjikroh commented on #893
Yes, I'm digging rimraf codes now.

rimraf.js:313 line is 'if (er.code !== "EISDIR")' and EISDIR error occurs when it tries to open a file, but the path given is a directory.

I opened issue for others. I will leave a comment when I find a solution.

Thanks for fast reply. :)

[2018-01-31 23:10] markbates commented on #893
@byungjikroh I think I found the problem. It was actually in the https://github.com/gobuffalo/packr tool. I was able to reproduce and fix it, hopefully, I'm not a Windows dev. :)

The fix is in v1.10.3 of packr. Update to that and you should be all set!

https://github.com/gobuffalo/packr/releases/tag/v1.10.3

[2018-01-31 23:10] #893 closed

[2018-02-01 11:13] byungjikroh commented on #893
After updating packr tool, it works without an error.
Thanks for updating. :)

[2018-02-01 11:14] danikarik opened #894 "How to get Session ID?"
Hi!

I'm trying to get session ID from Handler in order to save Session ID and User ID pair. But this line returns empty string:
`c.Session().Session.ID`
I understand it's because session get its ID after sessionSaver middleware. I need SID to implement one active user session at time.

Any suggestions?

Thanks.

[2018-02-01 11:58] markbates commented on #894
I don’t have an answer for you, Buffalo uses http://www.gorillatoolkit.org/pkg/sessions under the covers, so hopefully that can aid in your search for an answe.

[2018-02-01 11:58] #894 closed

[2018-02-01 16:56] #832 closed

[2018-02-01 16:57] markbates commented on #773
Closing this as I have zero idea what I meant by this. :)

[2018-02-01 16:57] #773 closed

[2018-02-01 16:59] #287 closed

[2018-02-01 16:59] #146 closed

[2018-02-01 21:13] stanislas-m commented on #836
@robvdl @Ibrahimous Any news on this problem? :)

[2018-02-01 21:24] stanislas-m commented on #835
Hum, I'm not fan of having an override like that. The problem with that approach, is that we loose control on the generation templates: the users can override the way they like. When we'll have to remove or change a variable in the generator, it'll break some setups we can't test. It also makes the debug difficult, for the same reasons.

I understand what you mean though. Using a custom Buffalo pl

[2018-02-01 21:26] josegonzalez commented on #835
An option for that would be to build objects that you send into the templates. Then you'd have a "contract" on what that object provides, but can change the underlying implementation at will. Doesn't _really_ fix things though.

[2018-02-02 13:50] ghost opened #898 "isomorphic"
what about a indexdb ?

the idea is so you can run your code on server or in browser.
goleveldb should do the trick for server with same API for the browser version.

There is alot going on with ismorphic and buffalo integrations so seems like a smart move....

[2018-02-03 15:43] hubyhuby opened #899 "Problems "go getting" buffalo"
Hi there,
i am trying to simply go get buffalo (on Ubuntu 17.10).
Tried this one several times:
go get -u -v -tags nosqlite github.com/gobuffalo/buffalo/buffalo

I got some kind of conflicts with lots of previously go getted libraries...
So I finally deleted my src folder completely! Started fresh;)
But no luck after all the log below, the buffalo command is not intalled :(
buffalo new coke
buffal

[2018-02-03 17:50] stanislas-m commented on #899
There is a Slack channel, with friendly people. :) https://gobuffalo.io/docs/slack

Check the buffalo binary is is the `$GOPATH/bin`:

[code]

If not, you can install it with the `go install` command:

[code]

Then ensure you have `$GOPATH/bin` in your `$PATH`.

[2018-02-03 18:55] beatscode opened #900 "too many arguments in call to model.setID"
When I call buffalo new I get the following.

Mac OSX 10.13.3
Buffalo version is: v0.10.3
go version go1.9.3 darwin/amd64

<img width="671" alt="image" src="https://user-images.githubusercontent.com/1777648/35770460-a9cd674a-08e9-11e8-8b63-8c5e5f49b0f5.png">

When I run Go install
`go install -v github.com/gobuffalo/buffalo/buffalo`
<img width="682" alt="image" src="https://user-images.githubuserc

[2018-02-03 19:01] beatscode commented on #900
my mistake I edited the pop repository manually and forgot reset.

[2018-02-03 19:01] #900 closed

[2018-02-04 04:19] PetarAtanasov commented on #888
We need something like this.
https://laravel.com/docs/5.5/dusk

[2018-02-04 07:43] hubyhuby commented on #899
Hi @stanislas-m,
Thanks a lot for your help!
Note that I could install the revel framework with the go get without any troubel and get the revel command and my first project to run. So I supposed that my go install was quite fine.

Yes the buffalo bin wasn t there (the revel is there and others)
I tried again but it didn t work either.
I finally logged in root on my ubuntu 17.10 (sudo -i) and did

[2018-02-04 11:00] stanislas-m opened #901 "Bazaar uses .bzrignore, not .gitignore"
When generating an app, the user can choose Bazaar as a VCS. The generator creates a new Bazaar structure (bzr init) & commit (bzr commit), but **it still generates .gitignore files**.

Bazaar uses its own file (.bzrignore), but since the generated one is not too complex, it just means having the same contents as the .gitignore.

[2018-02-04 19:20] tobiasdalhof opened #902 "bash: buffalo: command not found [Windows 10]"
Hello.

I'm not able to run `buffalo` in bash on Windows 10.

[code]

How to set this up?

Steps i've done:
1. Installed TDM-GCC
2. `go get -u -v github.com/gobuffalo/buffalo/buffalo`

Any help is highly appreciated

[2018-02-04 19:22] markbates commented on #902
You want to add %GOPATH\bin to your %PATH%: https://golang.org/doc/code.html#GOPATH

[2018-02-04 19:22] #902 closed

[2018-02-04 20:52] stanislas-m commented on #899
@hubyhuby I guess it's a permission issue on your side. Make sure the permissions are correct, and the $GOPATH is set in a place you have the rights to write.

If the gcc works with the root account, it should work with the non-root one. I'm using Ubuntu 17.04, with a normal account, and it works fine.

[2018-02-04 20:52] #899 closed

[2018-02-06 02:46] u007 opened #904 "[question] logging with user-id"
hi
ive created a custom buffalo logger .
i wanted to logs everything with user-id of the session.
but what is the correct way to do it?
i tried to assign the userId to a static variable within the logger from middleware,
but does this means if concurrently someone else is visiting the site, the userId may be overwritten by another user process?

thanks

[2018-02-06 09:50] stanislas-m commented on #904
You can define your middleware on the request level, just like the pop transaction Middleware: https://github.com/gobuffalo/buffalo/blob/master/middleware/pop_transaction.go#L17

Then get the logger from the context, and inject the data you need, with `c.LogField`.

[2018-02-06 14:26] u007 commented on #904
yes, i just found out i could do it.
but i also realize c.logfields will directly dump the log out.
it does not carry to Logger().Debugf

[2018-02-06 18:03] PeterLamar opened #905 "What is xxxxPath() in generated .html files?"
What is xxxxPath() in generated .html files? For example, in the toodo sample project there is an itemPath() in the _li.html file. I suppose it returns a POST to /item but I cannot figure out where these calls are defined. Thanks!

[2018-02-06 18:05] markbates commented on #905
https://gobuffalo.io/docs/context#whats-in-the-context

-----------
Mark Bates

On Feb 6, 2018, 1:03 PM -0500, Peter Lamar <notifications@github.com>, wrote:

[2018-02-06 18:05] paganotoni commented on #905
Hey @PeterLamar those helper functions that get added on the context based on route names when creating the context on each request:

See:
[https://github.com/gobuffalo/buffalo/blob/master/handler.go#L50](https://github.com/gobuffalo/buffalo/blob/master/handler.go#L50)

For more details.

[2018-02-06 18:07] yatish27 commented on #905
https://github.com/gobuffalo/buffalo/blob/8185597be9d91c31dce76c53c34ca66b8f017ec6/route.go#L80

[2018-02-06 18:08] PeterLamar commented on #905
Wow, Thanks!!! Fastest resolution ever!

[2018-02-06 18:08] #905 closed

[2018-02-07 07:14] nithin-bose opened #906 "Migrations are not running"
I have noticed that migrations are not when triggered with ``app migrate`` command from the container created from the docker file generated by Buffalo. It just shows the following:

[code]
Checking the db shows shows that the ``schema_migrations`` table has been created with no rows.
The same happens for both ``sql`` and ``fizz`` migrations. It works fine when run on the local machine. Issue happ

[2018-02-08 02:40] arschles opened #907 "Proposal: allow 'buffalo test' to test a single package"
It's often useful to run `buffalo test` against a single sub-package. For example, I may just want to fix a bug in one of my grifts, and in that case, I likely won't be interested in running my actions tests while I'm doing that edit-test work.

# Proposal

I am proposing that the `buffalo test` command treats the first argument differently. Currently, `buffalo test ./grifts/...` prepends `./grift

[2018-02-08 02:52] arschles opened #908 "Testing the DOM that templates output"
# Storytime

A few weeks back, I realized that my templates were a mess, so I went to rewrite a bunch of them. When I did so, I broke a bunch of links and the next release was a big mess. The old Google Analytics chart was down and to the right. Sad face.

I didn't really want to build a whole ui testing thing (like in #888) but I figured something that got me kinda-sorta-almost there would do jus

[2018-02-08 10:36] nithin-bose commented on #906
Is there a way to see debug messages??

[2018-02-08 10:54] danikarik opened #909 "[question] Periodic Worker Perform"
Hello!

I use [GORM session store](https://github.com/wader/gormstore) in Buffalo app. To keep database clean, I have to run Cleanup func to delete expired sessions. In their doc looks like:
[code]

How can I use `worker.Perform` with periodic interval?

Doing it in `main.go` seems like no Buffalo way

[2018-02-08 11:57] markbates commented on #909
https://gobuffalo.io/docs/workers

You probably want worker.PerformIn then at the end of the job you re-enqueue the job again for another hour.

[2018-02-08 11:58] markbates commented on #906
Can you give more information about your setup? What database are you using? What does your Dockerfile look like? Your database.yml?

[2018-02-08 17:29] nithin-bose commented on #906
I am using postgres with the following database.yml:
[code]
Migrations does parse env variables right??

[2018-02-09 01:18] paganotoni commented on #907
@arschles I like this proposal and think the proposed behavior makes much more sense than current one, I'm curious to know if there was a reason to do it the way we currently do it or we just didn't consider this behavior.

@arschles are you willing to work on this PR?
@markbates thoughts on this one?

[2018-02-09 03:53] arschles commented on #907
Cool - I'll see if I can get this in tomorrow. Otherwise it'll have to be next wk

[2018-02-09 04:05] iandelahorne opened #911 "Flashes won't clear when using redis-backed session storage"
Seeing that buffalo uses gorilla's sessions package, I wanted to replace the cookie storage with a redis-backed storage from `gopkg.in/boj/redistore.v1`. When I did this, flash messages won't clear after dismissing them and reloading the page.

I created a repo at [lflux/sessionthing](https://github.com/lflux/sessionthing) where you can reproduce this by:
1. Setting up a Redis server at `:6379`
1.

[2018-02-09 16:35] nithin-bose commented on #906
I was using packr version 1.11.0. Cleaned deps and migrations are working now

[2018-02-09 16:35] #906 closed

[2018-02-09 19:55] #907 closed

[2018-02-11 22:51] otraore commented on #399
Any updates on this?

[2018-02-12 04:41] danikarik commented on #909
Thanks! I did that periodic clean up, but faced some problem with session.

I have handler which reads session values and returns them in JSON.

[code]

After that `sessionSaver` middleware tries to call `Save()` method of `SessionStore`. For some reason my database was off and I get this scenario:
1) Handler returned JSON with status 200
2) SessionSaver was called and detected error due to databa

[2018-02-12 13:24] StupidCodeFactory commented on #836
I have found work around:
1. Create the database called what ever your postgres username is:
[code]
2. run the buffalo command to create the database:
[code]
And on my machine it completed, hopefully it will on yours

[2018-02-12 16:19] benkraus commented on #213
I've got a bit of Go App Engine (Standard) experience. Would love to help out on this. I'll take a look and see what it'll take.

[2018-02-12 16:29] markbates commented on #213
@benkraus that would be great! I tried a while back, but gave up as I never use GAE and it needs someone who has some knowledge there to try and get it right. :)

This is the repo I was testing with https://github.com/markbates/gapp (it's really, really, really out of date at this point, but it might provide some insight.

[2018-02-12 16:37] markbates commented on #909
You can still call `c.Session().Save()` in your action and check for errors.

I'm closing this issue as the session stuff isn't related to the original ticket. If you still keep having session issues, please open another ticket so we can track and triage it properly. Thanks.

[2018-02-12 16:37] #909 closed

[2018-02-13 11:07] danikarik opened #917 "[question] Test database session store"
I have session store which use POP to create/update data in database.

Function App looks like:
[code]

Login/logout works fine. But when I run tests, getting error message:
[code]

Test:

[code]

**Is it correct?**

[2018-02-13 14:50] #855 closed

[2018-02-14 09:52] danikarik commented on #917
Error raised here:

[code]

database.yml:

[code]

[2018-02-14 12:26] markbates commented on #917
This issue belongs in the markbates/pop repo. Can you please open an issue there with details of the problem and steps to reproduce? Thanks.

[2018-02-14 12:26] #917 closed

[2018-02-14 13:06] Mawulijo opened #918 "buffalo command not fround"
Hi,
After running **_$ go get -u -v github.com/gobuffalo/buffalo/buffalo_** command.
I realize my bash still couldn't run the buffalo command. ( **-bash: command not found buffalo** )
After several hours of troubleshooting, my solution was to build the buffalo command from my **$GOPATH/src/github.com/gobuffalo/buffalo/buffalo/main.go** file and **copied** it to **$GOPATH/bin** manually before I co

[2018-02-14 13:11] markbates commented on #918
You shouldn’t have to manually build and move the binary. When doing go get it should build and install the binary for you. If it didn’t there was a problem during the installation. The output from the installation should show you the problem. It’s usually a problem with a package not compiling or other issues with go get, which there are a few. go install, for future reference, will build and ins

[2018-02-14 13:11] #918 closed

[2018-02-15 09:44] Mawulijo commented on #918
Thanks so much for the quick response. The output from the installation showed no problem though. I really appreciate the **go install** guide. I will keep in touch

[2018-02-15 13:13] TankTheFrank opened #921 "not CDN friendly"
First

https://github.com/gobuffalo/buffalo/blob/6a1497fe1f98338933c3041cd4597bbbca9b3030/render/template_helpers.go#L32

prepends "/assets" (hardcoded) to the urls from manifest.json making the assets template helpers ( javascriptTag, stylesheetTag, etc) unusable with assets served from a separate domain.

Second, I could not find a straight-forward way of building a binary that packs the "must h

[2018-02-15 13:17] paganotoni commented on #921
Hey @TankTheFrank, may `buffalo build -e` work for you? it generates a separate archive with the assets.

Also, which are your suggestions to make buffalo CDN friendly?

[2018-02-15 13:20] TankTheFrank commented on #921
I forgot to add the fix proposal for the hardcoded path - add "/assets" as "basePath" in webpacker manifest plugin for the default template and remove it as a hardcoded prefix.

[2018-02-15 13:33] TankTheFrank commented on #921
I could be wrong but doesn't -e also adds the packed assets in the binary beside creating the archive? This increases the binary size significantly (esoecially with image assets) and pointless memory at run time when assets are not served from it.

I tried a mix of -k -e and other options and I ended up either without migrations (running migrate did nothing) or with a large file size. The "solutio

[2018-02-15 13:40] paganotoni commented on #921
Got it, I don't think its on purpose that `-e` keeps the assets in the binary as well (after extracting them on the separate archive) so, to me this looks like a bug, (unless @stanislas-m and/or @markbates correct me) would you want to work on a PR for this ? (PR's are always welcome).

Also, thanks for the suggestion on the `/assets` prefix, let's work on that one as well.

[2018-02-15 13:44] markbates commented on #921
If `-e` or `-k` is still packing assets into the binary, that's definitely a bug.

It's mostly an issue with these two lines:

https://github.com/gobuffalo/buffalo/blob/master/buffalo/cmd/build/assets.go#L24
https://github.com/gobuffalo/buffalo/blob/master/buffalo/cmd/build/assets.go#L28

A PR to fix it would be fantastic.

[2018-02-15 14:11] TankTheFrank commented on #921
For the prefix this should do it:

generators/assets/webpack/templates/webpack.config.js.tmpl
[code]

render/template_helpers.go b/render/template_helpers.go
[code]

Basically the "/assets/" prefix is added to manifest.json entries when it's generated instead of being forced at runtime.

[2018-02-15 20:43] TankTheFrank opened #922 "Allow go test to work as expected"
Running with "buffalo test" or "GO_ENV=test go test ./..." everything is fine, however running "go test ./..." fails with CSRF errors. Given that virtually every tool/editors/ci/whatever is using "the go way" having to add an environment variable or a custom command to run tests is rather cumbersome.

I'm using a freshly generated template with a simple ActionSuite post test on buffalo 0.10.3 with

[2018-02-15 21:32] stanislas-m commented on #908
I'd love to see some examples for that. 👍
For the buffalo integration part, I think you're right, that might be better to have it in the suite project.
In terms of HTML (or even XML) render testing, a complementary solution can be https://github.com/antchfx/xpath (or maybe I'm too old-fashioned). Thoughts?

[2018-02-15 21:43] markbates commented on #922
This is a no fix I’m afraid. You’re also running  tests against the development database, without the env flag. Buffalo test also sets up and tears down things like the test database. There’s no getting around it. Unless there’s some secret thing, which there might be, that lets you know programmatically that you’re running tests. This will remain this way for now.

[2018-02-16 00:00] arschles commented on #908
@stanislas-m I'll submit a small PR to the suite library when I get a chance, and link it to here. I'm sad (happy?) to say I never learned much about XPath, so I don't know if it'd be complementary?

[2018-02-16 00:06] arschles commented on #743
I agree that it's out of scope, but maybe there's something orthogonal to Buffalo that does RPC (and service-discovery) in a Buffalo-friendly way?

Random thought: you could do tracing pretty transparently for the buffalo user:

- Create a middleware that populates the buffalo context with a trace ID
- The RPC framework is used in a buffalo handler, and takes the buffalo context

Just an idea, hop

[2018-02-16 00:15] arschles commented on #220
maybe a go start is to just generate just the routes and stub handlers with go-swagger? the work would be to create a new generation template for buffalo routes & stub handlers.

I'm interested to hear thoughts

[2018-02-16 01:14] markbates commented on #743
Fun fact there is already a request id populated for you in the context. :) it’s put into every log. It looks like xxx-yyy the first half is session scoped, the second half request scope. That way you can trace a users whole session, or a particular request of theirs. Hopefully that helps.

[2018-02-16 10:33] TankTheFrank commented on #922
A quick google search come up with this stackoverflow question

https://stackoverflow.com/questions/14249217/how-do-i-know-im-running-within-go-test

I get it that the framework is targeting the rails converts but cutting out the golang workflow when it can be helped is a questionable decision.

[2018-02-16 10:52] TankTheFrank commented on #922
@markbates FYI that solution does seem to work, changing models.go to this

[code]
makes "go test ./..." behave as "GO_ENV=test go test ./..."

This is obviously a poc and not a working solution, I'm not familiar enough with the internals of the framework and how the test mode affects everything to provide a real solution, just pointing out that it wouldn't be too hard to fix.

[2018-02-16 13:47] markbates commented on #922
Thanks for finding that! I've re-opened the issue since, as I said, if there was a way to do it, we would. This will, at least, allow `go test` to behave as you would expect, although you won't get any of the benefits of `buffalo test`, but that might be ok for some people.

On a side note, if you could try and keep the conversation a bit more civil, that would be fantastic. Comments such as "cutt

[2018-02-16 14:23] stanislas-m commented on #908
[Xpath](https://www.tutorialspoint.com/xpath/index.htm) is a query tool for XML, it's a common solution when you want to extract data from an XML tree. See it as a more general solution, with advanced queries capabilities.

In my opinion, goqueries can be a good solution for simple tests, though.

[2018-02-16 16:07] hubyhuby opened #924 "Command line buffalo to add/ remove a field to a model"
This is a feature request to add a new command line buffalo to add a field to a model.
The idea is that you can today generate easily your ressources using for ex:
buffalo g resource profiles first_name name email

But later on if you which to add for example "city" to the resource profiles, then you have to go through several more complex steps ( mod the struct, migrate , use fizz... )
The propos

[2018-02-16 18:47] #389 closed

[2018-02-16 18:58] arschles commented on #743
Oh nice, that'd be perfect

I'm sure there are more ways an RPC framework could be loosely coupled with buffalo. Hopefully that idea was useful to someone

[2018-02-17 01:49] TankTheFrank commented on #922
I stand by my previous statement despite your ad-hominem attack, not fixing "go test" when it can be fixed and forcing the use of an alternate syntax it is a questionable decision. From where I stand closing the ticket immediately with "will not fix" especially when the solution was so easy to find spells a voluntary decision of ignoring the standards. Given that the ticket is opened again I assum

[2018-02-17 07:57] markbates commented on #922
Please understand I’m not attacking you. I’m all for open and constructive feedback, ask anyone who knows me and this project. Several people reached out to me privately and felt your tone was aggressive. That’s all I was trying to saying.

In my original message, I wrote while walking through an airport on vacation with my family, explained why it was that way and said if there was a way to make

[2018-02-17 09:31] matryer commented on #922
Would this work?

In `thing.go`:

[code]

And in `thing_test.go`:

[code]

[2018-02-17 15:19] robbyoconnor opened #927 "Docker build fails for API-only projects due to missing package.json"
Since you don't need node for the asset pipeline since it is API only, it stands to reason that the package.json file shall be excluded from the Dockerfile.

[2018-02-17 16:05] markbates commented on #927
This is fixed in the development branch, https://github.com/gobuffalo/buffalo/commit/51a22f8df6cc34da638dd9fc6737bb7f505902de, and will be in the next release. Thanks.

[2018-02-17 16:05] #927 closed

[2018-02-17 17:30] stanislas-m opened #928 "Docker-compose generator"
Since Buffalo already generates a Docker file, it can be a great addition to generate a docker-compose.yml file too.

This file will be generated from the DB params provided to the `new` command.

Here is a raw template for a postgres version (just an idea, not the final thing):

[code]

[2018-02-17 17:37] paganotoni commented on #522
@stanislas-m @markbates my initial thoughts on this tickets are fulfilled by adding appveyor, closing this ticket now, thanks!

[2018-02-17 17:37] #522 closed

[2018-02-17 17:46] markbates opened #930 "Default Production Error page is ugly."
https://www.evernote.com/l/ABGjR5egIT9CL6QOL6bImIMVFRk96Nuluek

It would be nice to have, even just a little bit, of styling on that page.

[2018-02-17 17:47] paganotoni commented on #930
@markbates i can come up with something simple here quick, I'll keep you posted.

[2018-02-17 18:18] stanislas-m commented on #930
I'd love to have a "buffalo skull" version of the logo, for these pages.

Something like that:
![image](https://user-images.githubusercontent.com/1911803/36344213-382f0fb0-1417-11e8-8df3-fa017ef07718.png)